.add-product
  padding-top: 30px
  .add-option
    li
      position: relative
      .box
        padding: 20px
        +borderRadius(3px)
        box-shadow: $shadow_add
        margin-bottom: 10px
        cursor: pointer
        .media
          padding-right: 15px
          .media-content
            .content
              p
                font-size: 13px
                line-height: 1.54
                letter-spacing: 0.2px
                color: $color_text_desc
                strong
                  @extend .nunito-semibold
                  letter-spacing: 0.2px
                  color: $color_text
      > span
        position: absolute
        top: 50%
        right: 15px
        +translateY(-50%)
  .add-photo-list
    margin-top: 30px
    margin-bottom: 130px
    li
      margin-right: 20px
      display: inline-block
      &:last-child
        margin-right: 0
      .add-photo
        +borderRadius(3px)
        +size(100px, 100px)
        background-color: $color_add
        position: relative
        display: block
        > span
          position: absolute
          top: 50%
          left: 50%
          +translateXY(-50%, -50%)
      .photo-product
        position: relative
        +borderRadius(3px)
        +size(100px, 100px)
        .del-photo
          display: inline-block
          position: absolute
          top: -12px
          right: -12px
        .photo-wrapp
          +borderRadius(3px)
          +size(100px, 100px)
          overflow: hidden

.product-view
  li
    padding: 20px
    .products-name
      font-size: 12px
      @extend .nunito-semibold
      letter-spacing: 0.2px
      color: $red
      strong
        font-size: 13px
        letter-spacing: 0.2px
        color: $color_text
      span
        line-height: 1.33
        color: $green

.form-product
  padding: 0 20px
  .field
    margin-bottom: 15px
    lebel
      color: $color_radio
      margin-bottom: 0
    .input
      color: $color_text
      @extend .nunito-semibold
    .select
      select
        color: $color_text
        @extend .nunito-semibold
    .textarea
      +borderRadius(0)
      border: none
      border-bottom: 1px solid $color_border
      box-shadow: none
      min-height: 80px
  .filter-option
    .sort-list
      padding: 0
      margin-top: -13px
      .checkbox
        border-bottom: none
        padding-bottom: 18px
        .sort-text
          &.active
            color: $color_text
        .input-wrapper
          &.checked
            background-position: 0px
            background-color: $primary
  .main-collapse
    margin-bottom: 30px
.catalog-option
  background-color: $white
  .add-discussion
    padding-top: 10px
    padding-bottom: 10px
.add-catalog
  padding: 20px 20px 20px 0
  color: $primary
  border-bottom: 1px solid $color_border
  margin-left: 20px
  display: block

.spec-price
  padding: 20px
  background-color: $white
  position: relative
  margin-bottom: 8px
  &:last-child
    margin-bottom: 0
  &.no-margin-bottom
    margin-bottom: 0
  .columns
    &:last-child
      margin-bottom: 0
    .column
      padding: 0
      &.quarter
        max-width: 140px
        min-width: 140px
  .remove-wrapp
    margin-top: -10px
  .price
    .input
      padding-left: 30px
    .currency
      position: absolute
      top: 3px
      left: 0
      font-size: 13px
      z-index: 2
      @extend .nunito-semibold
  .discount
    .input
      padding-right: 30px
    .disc
      position: absolute
      top: 3px
      right: 0
      font-size: 13px
      z-index: 2
      @extend .nunito-semibold
  .prod-qty
    .input
      width: 43px
      display: inline-block
      vertical-align: middle
      text-align: center
    span
      vertical-align: inline-block
      @extend .nunito-semibold
      margin: 0 8px
  .field
    &:not(:last-child)
      margin-bottom: 20px
  .is-horizontal
    .field
      &:not(:last-child)
        margin-bottom: 0
  a
    @extend .nunito-semibold
  .switch
    .slider
      &:before
        background-color: $white
    input
      &:checked + .slider
        &:before
          background-color: $color_bg_slide
.detail
  &.spec
    border-top: 0.5px solid $color_border
    h3
      @extend .nunito-semibold
      padding-top: 20px

.radio-horizontal
  .control
    .radio
      min-width: 100px

.total-wishlisted
  position: absolute
  right: 0
  bottom: 0

.field
  .add-product
    padding-top: 0
    ul
      margin-bottom: 0