.main
  &.home
    background-color: $color_grey_bg
    padding-top: 0
    .banner
      img
        width: 100%
    section
      margin-bottom: 20px
    .level
      &.header
        position: relative
        margin-bottom: -15px
        .nav-left
          .level-item
            > span
              padding-left: 0
.search-form
  background-color: $red
  padding: 15px
  &.field
    &:not(:last-child)
      margin-bottom: 0
  .control
    &.has-icons-left
      input
        @include borderRadius(2px)
        @include boxShadow($shadow_search)

.on-search
  position: fixed
  top: 0
  right: -100%
  @include size(100%, 100%)
  background-color: $white
  z-index: 9999
  @include transition(all 300ms linear)
  &.slide
    right: 0
  .header-search
    background-color: $white
    position: relative
    padding-left: 48px
    @include boxShadow($shadow_modal_head)
    height: 64px
    .field
      .control
        .input
          border-bottom: 0
          margin-top: 10px
          padding: 10px 0
  .body-search
    .search-list
      ul
        padding: 0
        margin-top: 20px
        margin-left: 20px
        li
          border-bottom: 1px solid $color_border_tab
          padding: 20px 0
          font-size: 13px
          letter-spacing: 0.2px
          color: $color_radio
          @extend .nunito-semibold
