.list-items
  margin-top: 15px
  .columns
    margin-bottom: 0
    .column
      max-width: 66px
      padding: 0
      margin-right: 10px
      &:last-child
        margin-right: 0
      img
        @include borderRadius(3px)

.info-item
  margin-top: 15px
.info-purchase
  &.no-border
    border-bottom: none

