.box
  &.notif-payment
    padding: 15px
    background-color: $notif_payment
    margin-bottom: 0
    .media
      .media-content
        p
          color: $color_text
          opacity: 0.7
          strong
            color: $yellow
            @extend .nunito-semibold
            font-size: 13px
            opacity: 1
  &.notif-payment-expiry
    padding: 15px
    background-color: $notif_payment_expiry
    margin-bottom: 0
    .media
      .media-content
        p
          color: $red
          letter-spacing: 0.2px
          margin-top: 6px
          strong
            color: $red
            @extend .nunito-semibold
            font-size: 13px
            opacity: 1
  &.notif-payment-waiting
    padding: 15px
    background-color: $color_grey
    margin-bottom: 0
    .media
      .media-content
        p
          color: $color_msg_token
          letter-spacing: 0.2px
          margin-top: 6px
          strong
            color: $color_msg_token
            @extend .nunito-semibold
            font-size: 13px
            opacity: 1
  &.notif-payment-success
    padding: 15px
    background-color: $success_bg
    margin-bottom: 0
    .media
      .media-content
        p
          color: $success_text
          letter-spacing: 0.2px
          margin-top: 6px
          strong
            color: $success_text
            @extend .nunito-semibold
            font-size: 13px
            opacity: 1


.payment-detail
  background-color: $white
  padding: 0 20px
  .box
    background-color: transparent
  ul
    li
      padding: 20px 0
      border-bottom: 1px solid $color_border_pay
      &:last-child
        border-bottom: none
      .list-bullet
        padding-left: 15px
        li
          border-bottom: none
          padding: 0 0 10px 10px
      .columns
        .column
          padding: 0
          > span
            color: $color_text_desc
            letter-spacing: 0.2px
          .label-text
            &.top-middle
              margin-top: -10px
              margin-bottom: 10px
            > span
              @extend .nunito-semibold
              i
                margin-right: 10px
          .detail-collapsed
            @extend .nunito-semibold
            margin-left: 10px
            position: relative
            display: inline-block;
            padding-right: 51px;

            > span
              margin-top: -4px
              position: absolute
              top: 50%
              right: 0
              @include translateY(-50%)
          .pay-code
            color: $green
            @extend .nunito-semibold
          .step-num
            @include size(24px, 24px)
            @include borderRadius(700px)
            text-align: center
            @extend .nunito-semibold
            line-height: 24px
            float: left
            margin-right: 20px
            display: block
            background-color: $color_step
          .step-val
            display: block
            overflow: hidden
            @extend .nunito-regular
            color: $color_text_desc
            line-height: 1.62
            -spacing: 0.2px
      &.item-active
        position: relative
        overflow: hidden
        background-color: $item_active
        &:before
          content: ""
          @include size(2px, 100%)
          background-color: $primary
          position: absolute
          top: 0
          left: 0
  &.step-pay
    padding: 0
    > ul
      > li
        padding: 20px
        ul
          li
            padding: 0
            margin-bottom: 15px
            border-bottom: 1px solid $color_border_pay
            .columns
              padding-bottom: 15px
            &:last-child
              border-bottom: none
              margin-bottom: 0
              .columns
                padding-bottom: 0
  &.margin-less
    padding: 0
    ul
      li
        padding-left: 20px
        padding-right: 20px
  &.left-style
    ul
      margin-left: 20px
      li
        padding-left: 0
.list-order
  .payment-detail
    &.step-pay
      .box
        .media
          .media-left
            .image
              margin-bottom: 0
      > ul
        > li
          padding: 10px 20px
  &.action
    background-color: transparent
    padding: 0 20px
    ul
      li
        padding: 0
        span
          font-size: 12px
          line-height: 1.67
          letter-spacing: 0.2px
          color: $color_input
          display: block
          margin-bottom: 15px
  &.other
    ul
      li
        padding: 15px 0
.btn-detail
  position: absolute
  top: -5px
  right: 0

.columns
  &.notif-pay
    .column
      padding: 20px
      &:first-child
        padding-right: 0
      &:last-child
        padding-left: 0
      span
        opacity: 0.7
      .label-text
        color: $color_text_desc
        letter-spacing: 0.2px
        span
          opacity: 1
        @extend .nunito-semibold
      .list-inline
        padding-left: 20px
        padding-right: 20px
    &.bg-white
      background-color: $white
      border-bottom: 1px solid $color_border_pay
      .label-text
        span
          opacity: 1

.payment
  .box-rounded
    margin-top: 20px
  .total-detail
    padding: 20px
    ul
      &:after
        content: ""
        display: table
        clear: both
      li
        vertical-align: bottom
        span
          display: block
          @extend .nunito-semibold
          color: $color_radio
          &.price
            font-size: 20px
    .text-msg
      padding: 20px 20px 0 20px
      margin: 20px -20px 0 -20px
      line-height: 1.67
      letter-spacing: 0.2px
      color: $color_input
      clear: both
      text-align: left
      font-size: 12px
      border-top: 1px solid $color_border_pay
      margin-top: 20px
  .payment-method
    padding: 20px
    position: relative
    cursor: pointer
    >.icon-arrow-right
      position: absolute
      top: 50%
      right: 20px
      @include translateY(-50%)
      @extend .nunito-semibold
  .pay-method-option
    padding: 10px 20px 10px 0
    border-top: 1px solid $color_border_pay
    margin-right: -20px
    margin-left: 20px
    li
      margin-right: 5px
      &:last-child
        margin-right: 0
  .msg-failed
    padding: 20px
    background-color: $color_bg_detail
    line-height: 1.67
    letter-spacing: 0.2px
    color: $color_input
    clear: both
    text-align: left
    font-size: 12px
    border-top: 1px solid $color_border_pay
    margin-top: 20px
.form-pay
  padding: 0 20px 0 20px
  .control
    padding-top: 20px
    margin-bottom: 20px
    &:last-child
      margin-bottom: 0
  .input
    font-size: 13px
    +placeholder
      color: $color_seller_grey
  > p
    margin: 20px 0 0 0
    font-size: 12px
    line-height: 1.67
    letter-spacing: 0.2px
    color: $color_text_desc

.token-msg
  padding: 20px
  background-color: $bg_msg_token
  span
    color: $color_msg_token
    font-size: 12px
    @extend .nunito-semibold
    line-height: 1.67
    letter-spacing: 0.2px
.img-method
  position: relative
  top: -3px
  margin-bottom: -5px
  img
    margin-right: 5px
    display: inline-block
    vertical-align: middle
    &:last-child
      margin-right: 0
.payment-detail
  &.bank-transfer
    padding: 0
    > ul
      li
        padding: 20px
        &.collapsed
          background-color: $color_bg_detail
  &.step-pay
    .detail-transaction
      padding: 0 0
      li
        padding: 0
  &.step-transfer
    background-color: transparent
    ul
      li
        background-color: $white
        border-bottom: none
        box-shadow: $shadow_step
        margin-bottom: 12px
        position: relative
.price-unique
  font-size: 20px
  letter-spacing: 0.2px
  @extend .nunito-bold
  > span
    color: $digit_color
    position: relative
    display: inline-block
    padding-bottom: 20px
    &:after
      content: ""
      @include size(0, 0)
      border: 12px solid transparent
      border-bottom: 12px solid $notif_payment
      display: block
      position: absolute
      left: 50%
      bottom: 0
      @include translateX(-50%)
.digit
  &.notif-payment
    margin: 0 -20px -20px -20px
    padding: 20px
    p
      color: $digit_color
      @extend .nunito-semibold

.collapsed
  .payment-detail
    &.step-pay
      background-color: transparent
.payment-detail
  &.step-transfer
    .list-bank
      border-bottom: solid 0.5px $color_border
      padding-bottom: 20px
      &:last-child
        border-bottom: none
        padding-bottom: 0
      &:after
        content: ""
        display: table
        clear: both
      ul
        &:after
        content: ""
        display: block
        clear: both
        li
          background-color: transparent
          box-shadow: none
          border: none
      .list-inline
        margin-top: 15px
.rek-info
  li
    div
      display: inline-block
      &.field-left
        width: 70px
        font-size: 12px
        letter-spacing: 0.2px
        color: $color_input
      &.field-right
        span
          margin-right: 10px
    &:first-child
      div
        &.field-left
          &.field-left
            font-size: 14px
            color: $color_text
+until(320px)
  .img-method
    img
      max-width: 29%

  .list-bank
    .img-method
      img
        max-width: 50%