.profile-wrapp, .discuss
  padding: 0 20px
  ul
    list-style: none
    padding: 0
    margin: 0 -20px 0 0
    li
      border-bottom: 1px solid $color_border
      padding: 20px 0
      position: relative
      &:last-child
        border-bottom: none
      .icon-arrow-right
        position: absolute
        top: 50%
        right: 20px
        @include translateY(-50%)
      .box
        margin-bottom: 0
        .media-left
          .user-pict
            @include size(40px, 40px)
            @include borderRadius(700px)
            img
              width: 100%
              @include borderRadius(700px)
          .product-pict
            img
              width: 100%
              @include borderRadius(700px)
        .content
          padding: 2px 0 0 0
          margin-right: 60px
          position: relative
          p
            color: $color_input
            letter-spacing: 0.2px
            margin-bottom: 0
            &.user-name, &product-name
              width: 80%
            strong
              color: $color_text
              @extend .nunito-semibold
              letter-spacing: 0.2px
          .val-right
            position: absolute
            top: 50%
            right: 0
            @include translateY(-50%)

.discuss
  padding: 0
  ul
    &.product-discuss
      li
        @include boxShadow($shadow_discuss)
    &.main-discuss
      margin: 0
    li
      padding: 20px
      border-bottom: none
      .time-discuss
        position: absolute
        top: 20px
        right: 20px
        font-size: 11px
        color: $color_text
        letter-spacing: 0.2px;
        opacity: 0.5
        &.bg-white
          margin-bottom: 10px
      .box
        .content
          margin-bottom: 0
          p
            color: $color_text_desc
            .date-discuss
              display: block
              color: $color_input
              font-size: 12px
              letter-spacing: 0.2px
              margin-bottom: 10px