.user
  &.login
    .content
      .form
        .or
          margin-top: 0
        .has-text-centered
          margin-top: 30px
  .hero
    padding: 19px 0
    background-color: $color_grey
  .content
    .form
      padding-top: 20px
      &.edit
        padding-top: 0
      .field
        margin-bottom: 35px
        &:not(:last-child)
          margin-bottom: 35px
    .desc
      padding: 30px 30px 20px 30px
      strong
        color: $color_radio
        &.bold
          @extend .nunito-bold
      p
        letter-spacing: 0.2px
        line-height: 1.77
        color: $color_text_desc
        margin-bottom: 6px
      img
        margin-bottom: 0;
    .columns
      padding-top: 20px

  &.user-success
    .content
      .desc
        padding-top: 0
        padding-bottom: 10px
        .no-hp-verify
          @extend .nunito-semibold
          font-size: 25px
          letter-spacing: 0.4px
      .btn-action
        @extend .nunito-bold
        display: block
        text-align: center
        padding: 30px 0
        letter-spacing: 0.2px

  .profile-content
    border-bottom: 1px solid $color_shadow_discuss
    +boxShadow(none)
    margin-bottom: 0
    &.rating
      .profile-wrapp
        .detail-seller
          li
            &:last-child
              border-bottom: none
  .columns
    &.detail-rating
      +boxShadow(none)
      border-bottom: 1px solid $color_shadow_discuss
      &:not(:last-child)
        margin-bottom: 0
