.main
  &.bg-grey
    &.resolusi
      section
        margin-top: 20px
        margin-bottom: 0
        background-color: $white
        .discuss
          background-color: $white
          .notif-detail
            li
              .box
                .media
                  .media-content
                    .content
                      padding-right: 100px
        .info-purchase
          &.status
            margin-left: 20px
            padding-left: 0
            &:last-child
              border-bottom: none
.complaint
  padding: 0 20px 20px 0
  border-bottom: 1px solid $color_border
  margin-right: -20px
  margin-bottom: 10px

.transaction
  padding: 6px 10px
  +borderRadius(3px)
  background-color: $dropship_bg_color
  display: inline-block
  color: $primary
  position: absolute
  top: 0
  right: 0
  @extend .nunito-semibold
  font-size: 13px
  opacity: 1
.date-trans
  color: $color_input
  font-size: 13px
  margin-top: 15px
  display: inline-block
.notif-admin
  padding: 20px
  background-color: $bg_notif_admin
  color: $green
  @extend .nunito-semibold
  font-size: 13px
  letter-spacing: 0.2px
  > span
    margin-right: 10px

.notif-complaint
  display: inline-block
  +size(23px, 23px)
  background-color: $white
  +borderRadius(700px)
  vertical-align: middle
  position: relative
  margin-left: 8px
  top: -3px
  > span
    font-size: 11px
    letter-spacing: 0.2px
    @extend .nunito-bold
    position: absolute
    top: 50%
    left: 50%
    +translateXY(-50%, -50%)
    color: $red