.seller-info
  .section
    margin-bottom: 20px
    &:nth-last-child(1)
      margin-bottom: 0
      .columns
        &.custom
          &:last-child
            margin-bottom: -0.75rem

  .box
    &.seller
      padding-bottom: 10px
      margin-bottom: 0
      .media
        padding: 20px
        .media-left
          .image
            +borderRadius(700px)
            +size(78px, 78px)
            border: 7px solid $color_border_seller
            img
              +borderRadius(700px)
        .media-content
          .content
            h4
              color: $color_radio
              font-size: 16px
              letter-spacing: 0.2px
              @extend .nunito-semibold
              margin-bottom: 5px
            .detail
              p
                font-size: 13px
                letter-spacing: 0.2px
                color: $color_radio
                &.address
                  color: $color_seller_grey
                > span
                  margin-left: -3px
      .columns
        padding: 0 10px
        margin-bottom: 0
        .column
          padding: 10px
.nav-seller
  border-top: 1px solid $color_border
  +boxShadow($shadow_detail)
  .nav-info
    padding: 0 20px
    .nav-item
      -webkit-box-flex: 1
      -ms-flex-positive: 1
      flex-grow: 1
      padding: 0 0
      position: relative
      &:after
        content: ""
        position: absolute
        left: 50%
        bottom: 0
        width: 100%
        max-width: 80px
        height: 2px
        background-color: transparent
        +translateX(-50%)
      a
        font-size: 13px
        letter-spacing: 0.4px
        color: $color_text_desc
      &.is-active
        &:after
          content: ""
          background-color: $red
        a
          color: $color_radio
          @extend .nunito-semibold

.profile-content
  padding: 20px
  background-color: $white
  +boxShadow($shadow_detail)
  &.rating
    padding-top: 0
    padding-bottom: 0
    .profile-wrapp
      .detail-seller
        li
          .box
            .media
              .media-left
                .image
                  +size(45px, 45px)
                  overflow: hidden
                  &.sm
                    +size(30px, 30px)
                    img
                      height: 45px
              .media-content
                .content
                  p
                    color: $color_text
                    > span
                      opacity: 0.5
          &:last-child
            border-bottom: 1px solid $color_border
            .box
              .media
                .media-left
                  .image
                    +size(45px, 45px)
                    &.sm
                      +size(30px, 30px)
          .icon-arrow-right
            right: 0

        &.left-margin
          li
            margin-right: -20px
            padding-right: 40px
            .item-status
              &.md
                padding-left: 20px
                &:before
                  +size(15px, 15px)
            &:last-child
              border-bottom: none
            .icon-arrow-right
              right: 20px
          &.is-border
            li
              &:last-child
                border-bottom: 1px solid $color_border
.detail-rating
  +boxShadow($shadow_detail)
  &:last-child
    margin-bottom: -0.75rem
  .desc
    padding-top: 20px

  h3
    font-size: 13px
    @extend .nunito-semibold
    letter-spacing: 0.2px
    color: $color_radio
    margin-bottom: 8px
  p
    font-size: 13px
    letter-spacing: 0.2px
    color: $color_text_desc

.close-option
  +size(45px, 45px)
  +borderRadius(5px)
  position: absolute
  left: 20px
  bottom: 20px
  display: block
  background-color: $color_radio
  span
    position: absolute
    top: 50%
    left: 50%
    +translateXY(-50%, -50%)

.columns
  &.detail-rating
    padding: 20px 0
    background-color: $white
    &:last-child
      margin-bottom: -0.75rem
    &.no-margin-bottom
      &:last-child
        margin-bottom: 0
    .column
      padding: 0 20px
      &:nth-child(2)
        border-left: 1px solid $color_border_rete
      .rating-content
        text-align: center
        h3
          font-size: 13px
          letter-spacing: 0.2px
          @extend .nunito-semibold
          color: $color_text
        .value-rate
          font-size: 30px
          letter-spacing: 0.5px
          @extend .nunito-semibold
          color: $color_text
        &.is-left
          text-align: left
          .star-rating
            margin: 0