<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Komuto</title>

    <link href="../dist/css/style.css" rel="stylesheet">
    <link href="../component/slick-1.6.0/slick/slick.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
    <div class="main categories bg-grey">
      <nav class="level header is-fullwidth">
        <div class="nav-left">
          <a class="level-item">
            <span><span class="icon-arrow-left"></span> Sepatu Pria</span>
          </a>
        </div>
      </nav>
      <section class="section is-paddingless">
        <div class="categories-wrapp">
          <ul>
            <li>
              <a><span class="categories-img"></span> Lihat Semua di Sepatu Pria <span class="icon-arrow-right"></span></a>
            </li>
          </ul>
        </div>
        <div class="categories-wrapp">
          <ul>
            <li>
              <a><span class="categories-img"></span> Sepatu Formal <span class="icon-arrow-right"></span></a>
            </li>
            <li>
              <a><span class="categories-img"></span> Sepatu Casual <span class="icon-arrow-right"></span></a>
            </li>
            <li>
              <a><span class="categories-img"></span> Sepatu Sport <span class="icon-arrow-right"></span></a>
            </li>
            <li>
              <a><span class="categories-img"></span> Sneakers Pria <span class="icon-arrow-right"></span></a>
            </li>
          </ul>
        </div>
      </section>
    </div>

    <!-- js -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="../component/slick-1.6.0/slick/slick.min.js"></script>
    <script src="../js/script.js"></script>
  </body>
</html>