<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Komuto</title>

    <link href="../dist/css/style.css" rel="stylesheet">
    <link href="../component/OwlCarousel/dist/assets/owl.carousel.min.css" rel="stylesheet">
    <link href="../component/OwlCarousel/dist/assets/owl.theme.default.min.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
    <div class="main seller-info bg-grey">
      <nav class="level header is-fullwidth">
        <div class="nav-left">
          <a class="level-item">
            <span><span class="back"><span class="icon-arrow-left"></span></span> Sports Station Shop</span>
          </a>
        </div>
      </nav>
      <section class="section is-paddingless">
        <div class="box seller">
          <div class="media">
            <div class="media-left">
              <figure class="image">
                <a><img src="../images/thumb.jpg" alt="Image"></a>
              </figure>
            </div>
            <div class="media-content">
              <div class="content">
                <h4>Sports Station Shop</h4>
                <div class="detail">
                  <p class="address">Jakarta Selatan, DKI Jakarta</p>
                  <p><span class="icon-verified md"></span> Terverifikasi</p>
                </div>
              </div>
            </div>
          </div>
          <div class="columns is-mobile">
            <div class="column">
              <a class="button is-medium is-fullwidth is-outlined"><span class="icon-comment black"></span> Kirim Pesan</a>
            </div>
            <div class="column">
              <a class="button is-medium is-fullwidth is-outlined"><span class="icon-plus"></span> Favorit</a>
            </div>
          </div>
        </div>

        <nav class="nav nav-seller has-shadow">
          <!-- Left side -->
          <div class="container">
            <div class="nav-left nav-info">
              <div class="nav-item is-active">
                <a href="detail-product.html">Produk</a>
              </div>
              <div class="nav-item">
                <a href="detail-profile.html">Profile</a>
              </div>
              <div class="nav-item">
                <a href="detail-rating.html">Penilaian</a>
              </div>
            </div>
          </div>
        </nav>
      </section>
      <a class="catalog-button js-option" data-target="#catalog">
        <span class="icon-catalog"></span> Daftar Katalog
      </a>

      <section class="section is-paddingless">
        <div class="columns is-mobile view-all">
          <div class="column">
            <p>Gadget dan Elektronik<p>
          </div>
          <div class="column has-text-right">
            <span class="link">Lihat Semuanya<span>
          </div>
        </div>
        <div class="columns custom">
          <div class="slide-items owl-theme">
            <div class="item">
              <div class="column">
                <div class="box grid">
                  <div class="media">
                    <div class="media-left">
                      <figure class="image">
                        <a><img src="../images/thumb.jpg" alt="Image"></a>
                        <div class="pin"><span>Grosir</span></div>
                      </figure>
                    </div>
                    <div class="media-content">
                      <div class="content">
                        <h4>Casual and Light Nike Shoes Running</h4>
                        <div class="detail">
                          <p>GadgetArena <span class="icon-verified"></span></p>
                          <div class="discount"></div>
                          <span class="price">Rp 10.500.000 </span>
                          <span class="wish"><span class="icon-wishlist wishlisted"></span>1200</span>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="item">
              <div class="column">
                <div class="box grid">
                  <div class="media">
                    <div class="media-left">
                      <figure class="image">
                        <a><img src="../images/thumb.jpg" alt="Image"></a>
                        <div class="pin disc"><span>58%</span></div>
                      </figure>
                    </div>
                    <div class="media-content">
                      <div class="content">
                        <h4>Casual and Light Nike Shoes Running</h4>
                        <div class="detail">
                          <p>GadgetArena <span class="icon-verified"></span></p>
                          <div class="discount">Rp 10.560.000</div>
                          <span class="price">Rp 10.500.000 </span>
                          <span class="wish"><span class="icon-wishlist wishlisted"></span>1200</span>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="item">
              <div class="column">
                <div class="box grid">
                  <div class="media">
                    <div class="media-left">
                      <figure class="image">
                        <a><img src="../images/thumb.jpg" alt="Image"></a>
                        <div class="pin disc"><span>58%</span></div>
                      </figure>
                    </div>
                    <div class="media-content">
                      <div class="content">
                        <h4>Casual and Light Nike Shoes Running</h4>
                        <div class="detail">
                          <p>GadgetArena <span class="icon-verified"></span></p>
                          <div class="discount">Rp 10.560.000</div>
                          <span class="price">Rp 10.500.000 </span>
                          <span class="wish"><span class="icon-wishlist wishlisted"></span>1200</span>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="item">
              <div class="column">
                <div class="box grid">
                  <div class="media">
                    <div class="media-left">
                      <figure class="image">
                        <a><img src="../images/thumb.jpg" alt="Image"></a>
                        <div class="pin disc"><span>58%</span></div>
                      </figure>
                    </div>
                    <div class="media-content">
                      <div class="content">
                        <h4>Casual and Light Nike Shoes Running</h4>
                        <div class="detail">
                          <p>GadgetArena <span class="icon-verified"></span></p>
                          <div class="discount">Rp 10.560.000</div>
                          <span class="price">Rp 10.500.000 </span>
                          <span class="wish"><span class="icon-wishlist"></span>1200</span>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="item">
              <div class="column">
                <div class="box grid">
                  <div class="media">
                    <div class="media-left">
                      <figure class="image">
                        <a><img src="../images/thumb.jpg" alt="Image"></a>
                        <div class="pin disc"><span>58%</span></div>
                      </figure>
                    </div>
                    <div class="media-content">
                      <div class="content">
                        <h4>Casual and Light Nike Shoes Running</h4>
                        <div class="detail">
                          <p>GadgetArena <span class="icon-verified"></span></p>
                          <div class="discount">Rp 10.560.000</div>
                          <span class="price">Rp 10.500.000 </span>
                          <span class="wish"><span class="icon-wishlist"></span>1200</span>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>

      <section class="section is-paddingless">
        <div class="columns is-mobile view-all">
          <div class="column">
            <p>Gadget dan Elektronik<p>
          </div>
          <div class="column has-text-right">
            <span class="link">Lihat Semuanya<span>
          </div>
        </div>
        <div class="columns custom">
          <div class="slide-items owl-theme">
            <div class="item">
              <div class="column">
                <div class="box grid">
                  <div class="media">
                    <div class="media-left">
                      <figure class="image">
                        <a><img src="../images/thumb.jpg" alt="Image"></a>
                        <div class="pin"><span>Grosir</span></div>
                      </figure>
                    </div>
                    <div class="media-content">
                      <div class="content">
                        <h4>Casual and Light Nike Shoes Running</h4>
                        <div class="detail">
                          <p>GadgetArena <span class="icon-verified"></span></p>
                          <div class="discount"></div>
                          <span class="price">Rp 10.500.000 </span>
                          <span class="wish"><span class="icon-wishlist wishlisted"></span>1200</span>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="item">
              <div class="column">
                <div class="box grid">
                  <div class="media">
                    <div class="media-left">
                      <figure class="image">
                        <a><img src="../images/thumb.jpg" alt="Image"></a>
                        <div class="pin disc"><span>58%</span></div>
                      </figure>
                    </div>
                    <div class="media-content">
                      <div class="content">
                        <h4>Casual and Light Nike Shoes Running</h4>
                        <div class="detail">
                          <p>GadgetArena <span class="icon-verified"></span></p>
                          <div class="discount">Rp 10.560.000</div>
                          <span class="price">Rp 10.500.000 </span>
                          <span class="wish"><span class="icon-wishlist wishlisted"></span>1200</span>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="item">
              <div class="column">
                <div class="box grid">
                  <div class="media">
                    <div class="media-left">
                      <figure class="image">
                        <a><img src="../images/thumb.jpg" alt="Image"></a>
                        <div class="pin disc"><span>58%</span></div>
                      </figure>
                    </div>
                    <div class="media-content">
                      <div class="content">
                        <h4>Casual and Light Nike Shoes Running</h4>
                        <div class="detail">
                          <p>GadgetArena <span class="icon-verified"></span></p>
                          <div class="discount">Rp 10.560.000</div>
                          <span class="price">Rp 10.500.000 </span>
                          <span class="wish"><span class="icon-wishlist wishlisted"></span>1200</span>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="item">
              <div class="column">
                <div class="box grid">
                  <div class="media">
                    <div class="media-left">
                      <figure class="image">
                        <a><img src="../images/thumb.jpg" alt="Image"></a>
                        <div class="pin disc"><span>58%</span></div>
                      </figure>
                    </div>
                    <div class="media-content">
                      <div class="content">
                        <h4>Casual and Light Nike Shoes Running</h4>
                        <div class="detail">
                          <p>GadgetArena <span class="icon-verified"></span></p>
                          <div class="discount">Rp 10.560.000</div>
                          <span class="price">Rp 10.500.000 </span>
                          <span class="wish"><span class="icon-wishlist"></span>1200</span>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="item">
              <div class="column">
                <div class="box grid">
                  <div class="media">
                    <div class="media-left">
                      <figure class="image">
                        <a><img src="../images/thumb.jpg" alt="Image"></a>
                        <div class="pin disc"><span>58%</span></div>
                      </figure>
                    </div>
                    <div class="media-content">
                      <div class="content">
                        <h4>Casual and Light Nike Shoes Running</h4>
                        <div class="detail">
                          <p>GadgetArena <span class="icon-verified"></span></p>
                          <div class="discount">Rp 10.560.000</div>
                          <span class="price">Rp 10.500.000 </span>
                          <span class="wish"><span class="icon-wishlist"></span>1200</span>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>

    </div>

    <div class="sort-option" id="catalog">
      <div class="sort-list catalog-list">
        <ul>
          <li><a>Gadget dan Elektronik</a></li>
          <li><a>Aksesoris Handphone</a></li>
          <li><a>Multimedia dan Sound System</a></li>
          <li><a>Laptop dan Komputer</a></li>
        </ul>
      </div>
      <a class="close-option js-close" data-target="#catalog"><span class="icon-close white"></span></a>
    </div>

    <!-- js -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="../component/OwlCarousel/dist/owl.carousel.min.js"></script>
    <script src="../js/script.js"></script>
  </body>
</html>