<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Komuto</title>

    <link href="../dist/css/style.css" rel="stylesheet">
    <link href="../component/OwlCarousel/dist/assets/owl.carousel.min.css" rel="stylesheet">
    <link href="../component/OwlCarousel/dist/assets/owl.theme.default.min.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
    <div class="main detail bg-grey">
      <nav class="level header is-fullwidth">
        <div class="nav-left">
          <a class="level-item">
            <span class="is-paddingless"><span class="icon-arrow-left"></span> Detail Pembelian</span>
          </a>
        </div>
      </nav>

      <section class="section is-paddingless has-shadow">
        <div class="detail-product">
          <div class="purchase">
            <figure class="img-item">
              <img src="../images/pict.jpg" alt="pict">
            </figure>
            <h3>Sepatu Jogging Nike Hitam </h3>
            <span class="detail-qty">Jumlah: 1</span>
          </div>
        </div>
        <div class="detail-purchase summary at-cart">
          <div class="detail-result white">
            <ul class="data-delivery">
              <li>
                <div class="columns custom is-mobile">
                  <div class="column">
                    <strong>Alamat Pengirim</strong>
                    <span class="detail-address">
                      Dwinawan Hariwijaya <br>
                      Kemanggisan Jakarta Barat, Palmerah <br>
                      Jakarta Barat DKI Jakarta, 55673 <br>
                      Telp: 0821 - 1310 - 1585 <br>
                    </span>
                  </div>
                </div>
              </li>
            </ul>
          </div>
        </div>
        <div class="column is-paddingless">
          <div class="see-all">
            <span class="link black " data-target="#kurir">Kurir Pengiriman <span class="kurir normal">JNE</span></span>
          </div>
          <p class="error-msg">Mohon Pilih Kurir Pengiriman terlebih dahulu</p>
        </div>
        <div class="column is-paddingless">
          <div class="see-all">
            <span class="link black " data-target="#deliveryPackage">Pilih Paket Pengiriman <span class="kurir normal">Reguler</span></span>
          </div>
          <p class="error-msg">Mohon Pilih Paket Pengiriman terlebih dahulu</p>
        </div>
        <div class="column is-paddingless">
          <div class="see-all">
            <span class="link black " data-target="#insurance">Asuransi <span class="kurir normal">Tidak</span></span>
          </div>
          <p class="error-msg">Mohon Pilih Paket Pengiriman terlebih dahulu</p>
        </div>
        <div class="info-purchase">
          <div class="detail-purchase remark">
            <h3>Catatan</h3>
            <p class="note-remark">Saya pesan barang yang warna merah</p>
          </div>
        </div>
        <div class="detail-purchase summary">
          <div class="detail-result detail-price">
            <h3>Rincian Harga</h3>
            <ul>
              <li>
                <div class="columns custom is-mobile">
                  <div class="column is-half"><span>Harga Barang</span></div>
                  <div class="column is-half has-text-right"><span>Rp 380.000</span></div>
                </div>
              </li>
              <li>
                <div class="columns custom is-mobile">
                  <div class="column is-half"><span>Biaya Asuransi</span></div>
                  <div class="column is-half has-text-right"><span>Rp 10.000</span></div>
                </div>
              </li>
              <li>
                <div class="columns custom is-mobile">
                  <div class="column is-half"><span>Ongkos Kirim</span></div>
                  <div class="column is-half has-text-right"><span>Rp 8.000</span></div>
                </div>
              </li>
              <li>
                <div class="columns custom is-mobile">
                  <div class="column is-half"><strong>Total</strong></div>
                  <div class="column is-half has-text-right"><strong>Rp 380.000</strong></div>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </section>

      <section class="section is-paddingless has-shadow">
        <div class="detail-product">
          <div class="purchase">
            <figure class="img-item">
              <img src="../images/pict.jpg" alt="pict">
            </figure>
            <h3>Sepatu Jogging Nike Hitam </h3>
            <span class="detail-qty">Jumlah: 1</span>
          </div>
        </div>
        <div class="detail-purchase summary at-cart">
          <div class="detail-result white">
            <ul class="data-delivery">
              <li>
                <div class="columns custom is-mobile">
                  <div class="column">
                    <strong>Alamat Pengirim</strong>
                    <span class="detail-address">
                      Dwinawan Hariwijaya <br>
                      Kemanggisan Jakarta Barat, Palmerah <br>
                      Jakarta Barat DKI Jakarta, 55673 <br>
                      Telp: 0821 - 1310 - 1585 <br>
                    </span>
                  </div>
                </div>
              </li>
            </ul>
          </div>
        </div>
        <div class="column is-paddingless">
          <div class="see-all">
            <span class="link black " data-target="#kurir">Kurir Pengiriman <span class="kurir normal">JNE</span></span>
          </div>
          <p class="error-msg">Mohon Pilih Kurir Pengiriman terlebih dahulu</p>
        </div>
        <div class="column is-paddingless">
          <div class="see-all">
            <span class="link black " data-target="#deliveryPackage">Pilih Paket Pengiriman <span class="kurir normal">Reguler</span></span>
          </div>
          <p class="error-msg">Mohon Pilih Paket Pengiriman terlebih dahulu</p>
        </div>
        <div class="column is-paddingless">
          <div class="see-all">
            <span class="link black " data-target="#insurance">Asuransi <span class="kurir normal">Tidak</span></span>
          </div>
          <p class="error-msg">Mohon Pilih Paket Pengiriman terlebih dahulu</p>
        </div>
        <div class="info-purchase">
          <div class="detail-purchase remark">
            <h3>Catatan</h3>
            <p class="note-remark">Saya pesan barang yang warna merah</p>
          </div>
        </div>
        <div class="detail-purchase summary">
          <div class="detail-result detail-price">
            <h3>Rincian Harga</h3>
            <ul>
              <li>
                <div class="columns custom is-mobile">
                  <div class="column is-half"><span>Harga Barang</span></div>
                  <div class="column is-half has-text-right"><span>Rp 380.000</span></div>
                </div>
              </li>
              <li>
                <div class="columns custom is-mobile">
                  <div class="column is-half"><span>Biaya Asuransi</span></div>
                  <div class="column is-half has-text-right"><span>Rp 10.000</span></div>
                </div>
              </li>
              <li>
                <div class="columns custom is-mobile">
                  <div class="column is-half"><span>Ongkos Kirim</span></div>
                  <div class="column is-half has-text-right"><span>Rp 8.000</span></div>
                </div>
              </li>
              <li>
                <div class="columns custom is-mobile">
                  <div class="column is-half"><strong>Total</strong></div>
                  <div class="column is-half has-text-right"><strong>Rp 380.000</strong></div>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </section>

      <section class="section is-paddingless has-shadow">
        <div class="payment-detail step-pay">
          <ul>
            <li>
              <div class="columns is-mobile is-multiline no-margin-bottom">
                <div class="column">
                  <div class="label-text is-left">
                    <span>Rincian Harga Total</span>
                  </div>
                </div>
              </div>
            </li>
            <li>
              <ul class="total-pay">
                <li>
                  <div class="columns is-mobile is-multiline no-margin-bottom">
                    <div class="column">
                      <div class="label-text is-left">
                        <span>
                          Total Belanja
                        </span>
                      </div>
                    </div>
                    <div class="column is-one-third">
                      <div class="has-text-right">
                        <span>Rp 320.000</span>
                      </div>
                    </div>
                  </div>
                  <div class="columns is-mobile is-multiline no-margin-bottom">
                    <div class="column">
                      <div class="label-text is-left">
                        <span class="pay-code">
                          Kode Voucher BELANJAENAK
                        </span>
                      </div>
                    </div>
                    <div class="column is-one-third">
                      <div class="has-text-right">
                        <span class="pay-code"> - Rp 20.000</span>
                      </div>
                    </div>
                  </div>
                </li>
                <li>
                  <div class="columns is-mobile is-multiline no-margin-bottom">
                    <div class="column">
                      <div class="label-text is-left">
                        <span>
                          Sisa Pembayaran
                        </span>
                      </div>
                    </div>
                    <div class="column is-one-third">
                      <div class="has-text-right">
                        <span>Rp 250.219</span>
                      </div>
                    </div>
                  </div>
                </li>
              </ul>
            </li>
          </ul>
        </div>
      </section>



    <!-- js -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="../component/OwlCarousel/dist/owl.carousel.min.js"></script>
    <script src="../js/script.js"></script>
  </body>
</html>