<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Komuto</title>

    <link href="../dist/css/style.css" rel="stylesheet">
    <link href="../component/OwlCarousel/dist/assets/owl.carousel.min.css" rel="stylesheet">
    <link href="../component/OwlCarousel/dist/assets/owl.theme.default.min.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
    <div class="main seller-info bg-grey">
      <nav class="level header is-fullwidth">
        <div class="nav-left">
          <a class="level-item">
            <span><span class="back"><span class="icon-arrow-left"></span></span> Sports Station Shop</span>
          </a>
        </div>
      </nav>
      <section class="section is-paddingless">
        <nav class="nav nav-seller has-shadow">
          <!-- Left side -->
          <div class="container">
            <div class="nav-left nav-info">
              <div class="nav-item">
                <a href="detail-product.html">Produk</a>
              </div>
              <div class="nav-item">
                <a href="detail-profile.html">Profile</a>
              </div>
              <div class="nav-item is-active">
                <a href="detail-rating.html">Penilaian</a>
              </div>
            </div>
          </div>
        </nav>
      </section>

      <section class="section is-paddingless">
        <div class="columns detail-rating is-mobile is-multiline no-margin-bottom">
          <div class="column">
            <div class="rating-content">
              <h3>Kualitas Produk</h3>
              <span class="value-rate">4.5</span>
              <span class="star-rating">
                <input type="radio" name="rating" value="1"><i></i>
                <input type="radio" name="rating" value="2"><i></i>
                <input type="radio" name="rating" value="3"><i></i>
                <input type="radio" name="rating" value="4"><i></i>
                <input type="radio" name="rating" value="5"><i></i>
              </span>
            </div>
          </div>
          <div class="column">
            <div class="rating-content">
              <h3>Akurasi Produk</h3>
              <span class="value-rate">4.5</span>
              <span class="star-rating">
                <input type="radio" name="rating" value="1"><i></i>
                <input type="radio" name="rating" value="2"><i></i>
                <input type="radio" name="rating" value="3"><i></i>
                <input type="radio" name="rating" value="4"><i></i>
                <input type="radio" name="rating" value="5"><i></i>
              </span>
            </div>
          </div>
        </div>
      </section>
      <section class="section is-paddingless">
        <div class="profile-content rating">
          <div class="profile-wrapp is-paddingless">
            <ul class="detail-seller">
              <li>
                <div class="box is-paddingless">
                  <article class="media">
                    <div class="media-left">
                      <figure class="image user-pict">
                        <img src="../images/pict.jpg" alt="pict">
                      </figure>
                    </div>
                    <div class="media-content">
                      <div class="content">
                        <p class="user-name">
                          <strong>Budi Budiman</strong>
                          <br>
                          <span>5 hari yang lalu</span>
                        </p>
                      </div>
                    </div>
                  </article>
                </div>
              </li>
              <li>
                <div class="box is-paddingless">
                  <article class="media">
                    <div class="media-left">
                      <figure class="image">
                        <img src="../images/thumb.jpg" alt="pict">
                      </figure>
                    </div>
                    <div class="media-content">
                      <div class="content">
                        <p>
                          <strong>Sepatu Jogging Nike Hitam </strong>
                          <br>
                          <span>Sports Station Shop</span>
                        </p>
                      </div>
                    </div>
                  </article>
                </div>
                <span class="icon-arrow-right"></span>
              </li>
            </ul>
          </div>
        </div>
        <div class="columns detail-rating is-mobile is-multiline no-margin-bottom">
          <div class="column is-half">
            <div class="rating-content is-left">
              <h3>Kualitas Produk</h3>
              <span class="value-rate">4.5</span>
              <span class="star-rating">
                <input type="radio" name="rating" value="1"><i></i>
                <input type="radio" name="rating" value="2"><i></i>
                <input type="radio" name="rating" value="3"><i></i>
                <input type="radio" name="rating" value="4"><i></i>
                <input type="radio" name="rating" value="5"><i></i>
              </span>
            </div>
          </div>
          <div class="column is-half">
            <div class="rating-content is-left">
              <h3>Akurasi Produk</h3>
              <span class="value-rate">4.5</span>
              <span class="star-rating">
                <input type="radio" name="rating" value="1"><i></i>
                <input type="radio" name="rating" value="2"><i></i>
                <input type="radio" name="rating" value="3"><i></i>
                <input type="radio" name="rating" value="4"><i></i>
                <input type="radio" name="rating" value="5"><i></i>
              </span>
            </div>
          </div>
          <div class="column">
            <p class="desc">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
          </div>
        </div>
      </section>
      <section class="section is-paddingless">
        <div class="profile-content rating">
          <div class="profile-wrapp is-paddingless">
            <ul class="detail-seller">
              <li>
                <div class="box is-paddingless">
                  <article class="media">
                    <div class="media-left">
                      <figure class="image user-pict">
                        <img src="../images/pict.jpg" alt="pict">
                      </figure>
                    </div>
                    <div class="media-content">
                      <div class="content">
                        <p class="user-name">
                          <strong>Budi Budiman</strong>
                          <br>
                          <span>5 hari yang lalu</span>
                        </p>
                      </div>
                    </div>
                  </article>
                </div>
              </li>
              <li>
                <div class="box is-paddingless">
                  <article class="media">
                    <div class="media-left">
                      <figure class="image">
                        <img src="../images/thumb.jpg" alt="pict">
                      </figure>
                    </div>
                    <div class="media-content">
                      <div class="content">
                        <p>
                          <strong>Sepatu Jogging Nike Hitam </strong>
                          <br>
                          <span>Sports Station Shop</span>
                        </p>
                      </div>
                    </div>
                  </article>
                </div>
                <span class="icon-arrow-right"></span>
              </li>
            </ul>
          </div>
        </div>
        <div class="columns detail-rating is-mobile is-multiline no-margin-bottom">
          <div class="column is-half">
            <div class="rating-content is-left">
              <h3>Kualitas Produk</h3>
              <span class="value-rate">4.5</span>
              <span class="star-rating">
                <input type="radio" name="rating" value="1"><i></i>
                <input type="radio" name="rating" value="2"><i></i>
                <input type="radio" name="rating" value="3"><i></i>
                <input type="radio" name="rating" value="4"><i></i>
                <input type="radio" name="rating" value="5"><i></i>
              </span>
            </div>
          </div>
          <div class="column is-half">
            <div class="rating-content is-left">
              <h3>Akurasi Produk</h3>
              <span class="value-rate">4.5</span>
              <span class="star-rating">
                <input type="radio" name="rating" value="1"><i></i>
                <input type="radio" name="rating" value="2"><i></i>
                <input type="radio" name="rating" value="3"><i></i>
                <input type="radio" name="rating" value="4"><i></i>
                <input type="radio" name="rating" value="5"><i></i>
              </span>
            </div>
          </div>
          <div class="column">
            <p class="desc">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
          </div>
        </div>
      </section>

    </div>

    <!-- js -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="../component/OwlCarousel/dist/owl.carousel.min.js"></script>
    <script src="../js/script.js"></script>
  </body>
</html>