<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Komuto</title>

    <link href="../dist/css/style.css" rel="stylesheet">
    <link href="../component/slick-1.6.0/slick/slick.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
    <div class="main user bg-grey is-padding-160">
      <nav class="level header is-fullwidth">
        <div class="nav-left">
          <a class="level-item">
            <span><span class="back"><span class="icon-arrow-left"></span></span> Diskusi Product</span>
          </a>
        </div>
      </nav>
      <section class="section is-paddingless">
        <div class="discuss gap">
          <ul class="product-discuss is-fixed">
            <li>
              <div class="box is-paddingless">
                <article class="media">
                  <div class="media-left">
                    <figure class="image product-pict">
                      <img src="../images/pict.jpg" alt="pict">
                    </figure>
                  </div>
                  <div class="media-content">
                    <div class="content">
                      <p class="products-name">
                        <strong>Blue Training Kit Machester United</strong>
                        Rp 1.685.000
                      </p>
                    </div>
                  </div>
                </article>
              </div>
            </li>
          </ul>
          <ul class="main-discuss">
            <li>
              <div class="box is-paddingless">
                <article class="media">
                  <div class="media-left">
                    <figure class="image user-pict">
                      <img src="../images/pict.jpg" alt="pict">
                    </figure>
                  </div>
                  <div class="media-content">
                    <div class="content">
                      <p class="user-name">
                        <strong>Dwinawan Hariwijaya</strong>
                        <span class="date-discuss">21 Sep 2017</span>
                        Halo Gan, mau tanya neh. Sepatu ini kan ringan banget kayaknya. Ngerawat nya susah enggak ya?
                      </p>
                    </div>
                  </div>
                </article>
                <a class="comment-count"><span class="icon-comment"></span> 3 komentar</a>
              </div>
            </li>
            <li>
              <div class="box is-paddingless">
                <article class="media">
                  <div class="media-left">
                    <figure class="image user-pict">
                      <img src="../images/pict.jpg" alt="pict">
                    </figure>
                  </div>
                  <div class="media-content">
                    <div class="content">
                      <p class="user-name">
                        <strong>Dwinawan Hariwijaya</strong>
                        <span class="date-discuss">21 Sep 2017</span>
                        Halo Gan, untuk sepatu ini memang cukup ringan, tapi perawatannya harus hati2, soalnya musti hati hati saat menggosok bagian atasnya.
                      </p>
                    </div>
                  </div>
                </article>
                <a class="comment-count"><span class="icon-comment"></span> 3 komentar</a>
              </div>
            </li>
          </ul>
        </div>
      </section>

      <a class="sticky-button"><span class="icon-comment-sticky"></span></a>
    </div>

    <!-- js -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="../component/slick-1.6.0/slick/slick.min.js"></script>
    <script src="../js/script.js"></script>
  </body>
</html>