<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Komuto</title>

    <link href="../dist/css/style.css" rel="stylesheet">
    <link href="../component/slick-1.6.0/slick/slick.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
    <div class="main home bg-grey">
      <nav class="level header is-fullwidth">
        <div class="nav-left">
          <a class="level-item">
            <span>Galaksi Parabola</span>
          </a>
        </div>
        <div class="nav-right">
          <span class="icon-love"></span>
          <span class="icon-cart"><span class="notif-cart">4</span></span>
        </div>
      </nav>
      <div class="field search-form is-clearfix sticky">
        <p class="control has-icons-left">
          <input class="input is-medium" type="text" placeholder="Cari barang atau toko">
          <span class="icon is-left">
            <span class="icon-search"></span>
          </span>
        </p>
      </div>
      <section class="section is-paddingless">
        <div class="slide-banner">
          <div>
            <img src="../images/banner.jpg" alt="banner">
          </div>
          <div>
            <img src="../images/banner.jpg" alt="banner">
          </div>
          <div>
            <img src="../images/banner.jpg" alt="banner">
          </div>
        </div>
      </section>
      <section class="section is-paddingless">
        <div class="container is-fluid">
          <div class="title">
            <h3>Kategori Produk</h3>
          </div>
        </div>
        <div class="columns is-mobile is-multiline custom">
          <div class="column is-one-third">
            <div class="has-text-centered">
              <span class="icon-computer"></span>
              <p>Komputer & Handphone</p>
            </div>
          </div>
          <div class="column is-one-third">
            <div class="has-text-centered">
              <span class="icon-sport"></span>
              <p>Peralatan Olahraga</p>
            </div>
          </div>
          <div class="column is-one-third">
            <div class="has-text-centered">
              <span class="icon-office"></span>
              <p>Peralatan Kantor</p>
            </div>
          </div>
          <div class="column is-one-third">
            <div class="has-text-centered">
              <span class="icon-kitchen"></span>
              <p>Perlengkapan Dapur</p>
            </div>
          </div>
          <div class="column is-one-third">
            <div class="has-text-centered">
              <span class="icon-baby"></span>
              <p>Perlengkepan Bayi</p>
            </div>
          </div>
          <div class="column is-one-third">
            <div class="has-text-centered">
              <span class="icon-tv"></span>
              <p>Peralatan TV dan Audio</p>
            </div>
          </div>
          <div class="column is-paddingless">
            <div class="see-all">
              <span class="link">Lihat semua kategori <span class="icon-arrow-right"></span></span>
            </div>
          </div>
        </div>
      </section>

      <section class="section is-paddingless">
        <div class="container is-fluid">
          <div class="title">
            <h3>Produk Terbaru</h3>
          </div>
        </div>
        <div class="columns is-mobile is-multiline custom">
          <div class="column is-half">
            <div class="box grid">
              <div class="media">
                <div class="media-left">
                  <figure class="image">
                    <a><img src="../images/thumb.jpg" alt="Image"></a>
                    <div class="pin"><span>Grosir</span></div>
                  </figure>
                </div>
                <div class="media-content">
                  <div class="content">
                    <h4>Casual and Light Nike Shoes Running</h4>
                    <div class="detail">
                      <p>GadgetArena <span class="icon-verified"></span></p>
                      <div class="discount"></div>
                      <span class="price">Rp 10.500.000 </span>
                      <span class="wish"><span class="icon-wishlist wishlisted"></span>1200</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="column is-half">
            <div class="box grid">
              <div class="media">
                <div class="media-left">
                  <figure class="image">
                    <a><img src="../images/thumb.jpg" alt="Image"></a>
                    <div class="pin disc"><span>58%</span></div>
                  </figure>
                </div>
                <div class="media-content">
                  <div class="content">
                    <h4>Casual and Light Nike Shoes Running</h4>
                    <div class="detail">
                      <p>GadgetArena <span class="icon-verified"></span></p>
                      <div class="discount">Rp 10.560.000</div>
                      <span class="price">Rp 10.500.000 </span>
                      <span class="wish"><span class="icon-wishlist wishlisted"></span>1200</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="column is-half">
            <div class="box grid">
              <div class="media">
                <div class="media-left">
                  <figure class="image">
                    <a><img src="../images/thumb.jpg" alt="Image"></a>
                    <div class="pin disc"><span>58%</span></div>
                  </figure>
                </div>
                <div class="media-content">
                  <div class="content">
                    <h4>Casual and Light Nike Shoes Running</h4>
                    <div class="detail">
                      <p>GadgetArena <span class="icon-verified"></span></p>
                      <div class="discount">Rp 10.560.000</div>
                      <span class="price">Rp 10.500.000 </span>
                      <span class="wish"><span class="icon-wishlist wishlisted"></span>1200</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="column is-half">
            <div class="box grid">
              <div class="media">
                <div class="media-left">
                  <figure class="image">
                    <a><img src="../images/thumb.jpg" alt="Image"></a>
                    <div class="pin disc"><span>58%</span></div>
                  </figure>
                </div>
                <div class="media-content">
                  <div class="content">
                    <h4>Casual and Light Nike Shoes Running</h4>
                    <div class="detail">
                      <p>GadgetArena <span class="icon-verified"></span></p>
                      <div class="discount">Rp 10.560.000</div>
                      <span class="price">Rp 10.500.000 </span>
                      <span class="wish"><span class="icon-wishlist"></span>1200</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="column is-paddingless">
            <div class="see-all">
              <span class="link">Lihat semua produk terbaru <span class="icon-arrow-right"></span></span>
            </div>
          </div>
        </div>
      </section>
      <div class="level nav-bottom is-mobile">
        <a class="level-item has-text-centered is-active"><span class="icon-home"></span>Home</a>
        <a class="level-item has-text-centered"><span class="icon-bag"></span>Transaksi</a>
        <a class="level-item has-text-centered"><span class="icon-bell"></span>Notifikasi</a>
        <a class="level-item has-text-centered"><span class="icon-user"></span>Profil</a>
      </div>

      <!-- search -->
      <div class="on-search">
        <div class="header-search">
          <a class="back back-on-seacrh"><span class="icon-arrow-left black"></span></a>
          <div class="field">
            <p class="control has-icons-left">
              <input class="input is-medium" type="text" placeholder="Cari barang atau toko">
            </p>
          </div>
        </div>
      </div>
    </div>

    <!-- js -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="../component/slick-1.6.0/slick/slick.min.js"></script>
    <script src="../js/sticky-header-master/index.js"></script>
    <script src="../js/script.js"></script>
  </body>
</html>