<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Komuto</title>

    <link href="../dist/css/style.css" rel="stylesheet">
    <link href="../component/slick-1.6.0/slick/slick.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
    <div class="main seller bg-grey">
      <nav class="level header is-fullwidth">
        <div class="nav-left">
          <a class="level-item">
            <span><span class="back"><span class="icon-arrow-left"></span></span> Isi Informasi Toko</span>
          </a>
        </div>
      </nav>

      <section class="section is-paddingless has-shadow">
        <div class="note">
          Pilihlah ekspedisi pengiriman yang digunakan oleh toko Anda untuk mengirim barang
        </div>
        <div class="filter-option active">
          <div class="sort-list check-all top">
            <label class="checkbox" for="#diskon">
              <span class="sort-text">Pilih Semua</span>
              <span class="input-wrapper">
              <input type="checkbox" id="diskon">
              </span>
            </label>
            <div class="eks-name">
              <span>TIKI</span>
              <span><img src="../images/tiki.png" alt=""></span>
            </div>
          </div>
          <div class="sort-list check-list left">
            <label class="checkbox" for="#diskon">
              <span class="sort-text">TIKI ONS (Over Night Service)</span>
              <span class="input-wrapper">
              <input type="checkbox" id="diskon">
              </span>
            </label>
            <label class="checkbox" for="#terverifikasi">
              <span class="sort-text">TIKI Reguler</span>
              <span class="input-wrapper">
              <input type="checkbox" id="terverifikasi">
              </span>
            </label>
            <label class="checkbox" for="#grosir">
              <span class="sort-text">TIKI Ekonomi</span>
              <span class="input-wrapper">
              <input type="checkbox" id="grosir">
              </span>
            </label>
            <label class="checkbox" for="#grosir">
              <span class="sort-text">TIKI HDS</span>
              <span class="input-wrapper">
              <input type="checkbox" id="grosir">
              </span>
            </label>
          </div>
        </div>
      </section>

      <section class="section is-paddingless">
        <div class="filter-option active">
          <div class="sort-list check-all top">
            <label class="checkbox" for="#diskon">
              <span class="sort-text">Pilih Semua</span>
              <span class="input-wrapper">
              <input type="checkbox" id="diskon">
              </span>
            </label>
            <div class="eks-name">
              <span>JNE</span>
              <span><img src="../images/jne.png" alt=""></span>
            </div>
          </div>
          <div class="sort-list check-list left">
            <label class="checkbox" for="#diskon">
              <span class="sort-text">JNE Reguler</span>
              <span class="input-wrapper">
              <input type="checkbox" id="diskon">
              </span>
            </label>
            <label class="checkbox" for="#terverifikasi">
              <span class="sort-text">JNE YES</span>
              <span class="input-wrapper">
              <input type="checkbox" id="terverifikasi">
              </span>
            </label>
            <label class="checkbox" for="#grosir">
              <span class="sort-text">JNE OKE</span>
              <span class="input-wrapper">
              <input type="checkbox" id="grosir">
              </span>
            </label>
            <label class="checkbox" for="#grosir">
              <span class="sort-text">JNE Popbox</span>
              <span class="input-wrapper">
              <input type="checkbox" id="grosir">
              </span>
            </label>
            <label class="checkbox" for="#grosir">
              <span class="sort-text">JNE CTC</span>
              <span class="input-wrapper">
              <input type="checkbox" id="grosir">
              </span>
            </label>
            <label class="checkbox" for="#grosir">
              <span class="sort-text">JNE CTC OKE</span>
              <span class="input-wrapper">
              <input type="checkbox" id="grosir">
              </span>
            </label>
            <label class="checkbox" for="#grosir">
              <span class="sort-text">JNE CTC YES</span>
              <span class="input-wrapper">
              <input type="checkbox" id="grosir">
              </span>
            </label>
          </div>
        </div>
      </section>

      <section class="section is-paddingless">
        <div class="filter-option active">
          <div class="sort-list check-all top">
            <label class="checkbox" for="#diskon">
              <span class="sort-text">Pilih Semua</span>
              <span class="input-wrapper">
              <input type="checkbox" id="diskon">
              </span>
            </label>
            <div class="eks-name">
              <span>POS Indonesia</span>
              <span><img src="../images/pos.png" alt=""></span>
            </div>
          </div>
          <div class="sort-list check-list left">
            <label class="checkbox" for="#diskon">
              <span class="sort-text">Paket Kilat Khusus</span>
              <span class="input-wrapper">
              <input type="checkbox" id="diskon">
              </span>
            </label>
            <label class="checkbox" for="#terverifikasi">
              <span class="sort-text">Paket Biasa</span>
              <span class="input-wrapper">
              <input type="checkbox" id="terverifikasi">
              </span>
            </label>
            <label class="checkbox" for="#grosir">
              <span class="sort-text">Pos Express</span>
              <span class="input-wrapper">
              <input type="checkbox" id="grosir">
              </span>
            </label>
            <label class="checkbox" for="#grosir">
              <span class="sort-text">Express Next Day - Dokumen</span>
              <span class="input-wrapper">
              <input type="checkbox" id="grosir">
              </span>
            </label>
            <label class="checkbox" for="#grosir">
              <span class="sort-text">Express Next Day - Barang</span>
              <span class="input-wrapper">
              <input type="checkbox" id="grosir">
              </span>
            </label>
          </div>
        </div>
      </section>

      <section class="section is-paddingless">
        <div class="payment-detail action">
          <ul>
            <li>
              <a class="button is-primary is-large is-fullwidth">Lanjutkan</a>
            </li>
          </ul>
        </div>
      </section>
    </div>

    <!-- js -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="../component/slick-1.6.0/slick/slick.min.js"></script>
    <script src="../js/script.js"></script>
  </body>
</html>