<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Komuto</title>

    <link href="../dist/css/style.css" rel="stylesheet">
    <link href="../component/slick-1.6.0/slick/slick.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
    <div class="main seller">
      <nav class="level header is-fullwidth">
        <div class="nav-left">
          <a class="level-item">
            <span><span class="back"><span class="icon-arrow-left"></span></span> Jadikan Dropshipping</span>
          </a>
        </div>
      </nav>

      <section class="section is-paddingless">
        <div class="note">
          Hanya barang milik Anda sendiri yang bisa dijadikan sebagai dropshipping
        </div>
        <div class="filter-option active">
          <div class="sort-list check-all top bg-grey">
            <label class="checkbox" for="#all">
              <span class="sort-text">Pilih Semua Produk</span>
              <span class="input-wrapper">
              <input type="checkbox" id="all">
              </span>
            </label>
          </div>
          <div class="sort-list check-list middle item-select">
            <label class="checkbox" for="#item2">
              <div class="box is-paddingless">
                <article class="media">
                  <div class="media-left is-bordered">
                    <figure class="image">
                      <img src="../images/thumb.jpg" alt="pict">
                    </figure>
                  </div>
                  <div class="media-content middle">
                    <div class="content">
                      <p>
                        <strong>Sepatu Jogging Nike Hitam </strong>
                      </p>
                    </div>
                  </div>
                </article>
              </div>
              <span class="input-wrapper">
              <input type="checkbox" id="item2">
              </span>
            </label>
            <label class="checkbox" for="#item3">
              <div class="box is-paddingless">
                <article class="media">
                  <div class="media-left is-bordered">
                    <figure class="image">
                      <img src="../images/thumb.jpg" alt="pict">
                    </figure>
                  </div>
                  <div class="media-content middle">
                    <div class="content">
                      <p>
                        <strong>Sepatu Jogging Nike Hitam </strong>
                      </p>
                    </div>
                  </div>
                </article>
              </div>
              <span class="input-wrapper">
              <input type="checkbox" id="item3">
              </span>
            </label>
            <label class="checkbox" for="#item4">
              <div class="box is-paddingless">
                <article class="media">
                  <div class="media-left is-bordered">
                    <figure class="image">
                      <img src="../images/thumb.jpg" alt="pict">
                    </figure>
                  </div>
                  <div class="media-content middle">
                    <div class="content">
                      <p>
                        <strong>Sepatu Jogging Nike Hitam </strong>
                      </p>
                    </div>
                  </div>
                </article>
              </div>
              <span class="input-wrapper">
              <input type="checkbox" id="item4">
              </span>
            </label>
            <label class="checkbox" for="#item5">
              <div class="box is-paddingless">
                <article class="media">
                  <div class="media-left is-bordered">
                    <figure class="image">
                      <img src="../images/thumb.jpg" alt="pict">
                    </figure>
                  </div>
                  <div class="media-content middle">
                    <div class="content">
                      <p>
                        <strong>Sepatu Jogging Nike Hitam </strong>
                      </p>
                    </div>
                  </div>
                </article>
              </div>
              <span class="input-wrapper">
              <input type="checkbox" id="item5">
              </span>
            </label>
          </div>
        </div>
      </section>

      <div class="level nav-bottom nav-button purchase is-mobile">
        <a class="button is-primary is-m-lg is-fullwidth btn-add-cart js-option" data-target="#addCartNotif">Jadikan Dropshipping untuk barang terpilih</a>
      </div>
    </div>

    <!-- js -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="../component/slick-1.6.0/slick/slick.min.js"></script>
    <script src="../js/script.js"></script>
  </body>
</html>