<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Komuto</title>

    <link href="../dist/css/style.css" rel="stylesheet">
    <link href="../component/slick-1.6.0/slick/slick.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
    <div class="main seller">
      <nav class="level header is-fullwidth">
        <div class="nav-left">
          <a class="level-item">
            <span><span class="back"><span class="icon-arrow-left"></span></span> Nama dan Kategori Produk</span>
          </a>
        </div>
      </nav>

      <section class="section is-paddingless">
        <div class="profile-content rating">
          <div class="profile-wrapp is-paddingless">
            <ul class="detail-seller left-margin">
              <li>
                <div class="box is-paddingless">
                  <article class="media">
                    <div class="media-left is-bordered">
                      <figure class="image">
                        <img src="../images/thumb.jpg" alt="pict">
                      </figure>
                    </div>
                    <div class="media-content middle">
                      <div class="content">
                        <p>
                          <strong>Sepatu Jogging Nike Hitam </strong>
                        </p>
                      </div>
                    </div>
                  </article>
                </div>
              </li>
            </ul>
          </div>
        </div>

        <div class="add-product">
          <div class="form-product">
            <div class="field">
              <label>Nama Produk</label>
              <p class="control">
                <input type="text" class="input" value="Sepatu Lari Nike Orange">
              </p>
            </div>
            <div class="field">
              <label>Kategori</label>
              <p class="control">
                <span class="select">
                  <select>
                    <option>Fashion dan Aksesoris</option>
                    <option>With options</option>
                  </select>
                </span>
              </p>
            </div>
            <div class="field">
              <label>Sub-Kategori 1</label>
              <p class="control">
                <span class="select">
                  <select>
                    <option>Fashion Pria</option>
                    <option>With options</option>
                  </select>
                </span>
              </p>
            </div>
            <div class="field">
              <label>Sub-Kategori 2</label>
              <p class="control">
                <span class="select">
                  <select>
                    <option>Sepatu Pria</option>
                    <option>With options</option>
                  </select>
                </span>
              </p>
            </div>
            <div class="field">
              <label>Sub-Kategori 3</label>
              <p class="control">
                <span class="select">
                  <select>
                    <option>Sneakers Pria</option>
                    <option>With options</option>
                  </select>
                </span>
              </p>
            </div>
            <div class="filter-option active">
              <div class="sort-list check-all middle">
                <label class="checkbox" for="#addBrand">
                  <span class="sort-text">Sertakan Brand</span>
                  <span class="input-wrapper">
                  <input type="checkbox" id="addBrand">
                  </span>
                </label>
              </div>
            </div>
            <div class="field">
              <label>Brand</label>
              <p class="control">
                <span class="select">
                  <select>
                    <option>Nike</option>
                    <option>With options</option>
                  </select>
                </span>
              </p>
            </div>
            <div class="field">
              <label>Deskripsi Produk</label>
              <p class="control">
                <textarea  class="textarea" rows="2">Sepatu lari yang sangat ringan dengan bahan yang lembut dan cocok untuk dipakai sehari-hari</textarea>
              </p>
            </div>
            <div class="field">
              <p class="control">
                <button class="button is-primary is-large is-fullwidth">Lanjutkan</button>
              </p>
            </div>
          </div>
        </div>
      </section>
    </div>

    <!-- js -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="../component/slick-1.6.0/slick/slick.min.js"></script>
    <script src="../js/script.js"></script>
  </body>
</html>