<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Komuto</title>

    <link href="../dist/css/style.css" rel="stylesheet">
    <link href="../component/OwlCarousel/dist/assets/owl.carousel.min.css" rel="stylesheet">
    <link href="../component/OwlCarousel/dist/assets/owl.theme.default.min.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
    <div class="main detail bg-grey">
      <nav class="level header is-fullwidth">
        <div class="nav-left">
          <a class="level-item">
            <span class="is-paddingless"><span class="icon-arrow-left"></span> Sepatu Lari Nike Orange</span>
          </a>
        </div>
        <div class="button-search js-option" data-target="#otherOption">
          <span class="icon-trash white"></span>
        </div>
      </nav>

      <section class="section is-paddingless has-shadow">
        <div class="column is-paddingless">
          <div class="see-all">
            <span class="link black js-option" data-target="#kurir">Dropshipping <span class="kurir">Tidak</span><span class="icon-arrow-right"></span></span>
          </div>
          <p class="error-msg">Mohon pilih status drop shipping terlebih dahulu</p>
        </div>
        <div class="column is-paddingless">
          <div class="see-all">
            <span class="link black js-option" data-target="#deliveryPackage">Stock <span class="kurir">500</span><span class="icon-arrow-right"></span></span>
          </div>
          <p class="error-msg">Mohon pilih isi stock terlebih dahulu</p>
        </div>
        <div class="column is-paddingless">
          <div class="see-all">
            <span class="link black js-option" data-target="#insurance">Satus <span class="kurir">Ditampilkan di Toko</span><span class="icon-arrow-right"></span></span>
          </div>
          <p class="error-msg">Mohon Pilih Satus terlebih dahulu</p>
        </div>
      </section>
      <section class="section is-paddingless has-shadow">
        <div class="info-purchase">
          <div class="detail-purchase summary">
            <h3>Foto barang yang diterima</h3>
            <a class="btn-change js-option" data-target="#changeAddress">Ubah</a>
            <div class="list-items">
              <div class="columns is-mobile is-multiline">
                <div class="column"><a><img src="../images/thumb.jpg" alt="komuto"></a></div>
                <div class="column"><a><img src="../images/thumb.jpg" alt="komuto"></a></div>
                <div class="column"><a><img src="../images/thumb.jpg" alt="komuto"></a></div>
                <div class="column"><a><img src="../images/thumb.jpg" alt="komuto"></a></div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section class="section is-paddingless has-shadow">
        <div class="info-purchase">
          <div class="detail-purchase summary">
            <h3>Nama dan Kategori</h3>
            <a class="btn-change js-option" data-target="#changeAddress">Ubah</a>
            <div class="detail-result white">
              <ul class="data-delivery">
                <li>
                  <div class="columns custom is-mobile">
                    <div class="column">
                      <strong>Nama Produk</strong>
                      <span>Sepatu Lari Nike Orange</span>
                    </div>
                  </div>
                </li>
                <li>
                  <div class="columns custom is-mobile">
                    <div class="column">
                      <strong>Kategori</strong>
                      <span>Fashion dan Aksesoris / Fashion Pria / Sepatu Pria / Sneakers Pria</span>
                    </div>
                  </div>
                </li>
                <li>
                  <div class="columns custom is-mobile">
                    <div class="column">
                      <strong>Brand</strong>
                      <span>NIKE</span>
                    </div>
                  </div>
                </li>
                <li>
                  <div class="columns custom is-mobile">
                    <div class="column">
                      <strong>Deskripsi Produk</strong>
                      <span>
                        Sepatu lari yang sangat ringan dengan bahan yang lembut dan cocok untuk dipakai sehari-hari
                      </span>
                    </div>
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </section><section class="section is-paddingless has-shadow">
        <div class="content-header">
          <h3>Harga dan Spesifikasi</h3>
          <a class="btn-change">Ubah</a>
        </div>
        <div class="content-body">
          <div class="columns left-style is-mobile">
            <div class="column is-half"><strong>Harga</strong></div>
            <div class="column is-half has-text-right"><span>Rp 1.500.000</span></div>
          </div>
          <div class="columns left-style is-mobile">
            <div class="column is-half"><strong>Diskon</strong></div>
            <div class="column is-half has-text-right"><span>10%</span></div>
          </div>
          <div class="info-purchase">
            <div class="detail">
              <div class="detail-result">
                <h3 class="title-content">Rincian Penerimaan</h3>
                <ul>
                  <li>
                    <div class="columns custom is-mobile">
                      <div class="column is-half"><span>Harga Jual</span></div>
                      <div class="column is-half has-text-right"><strong>Rp 1.650.000</strong></div>
                    </div>
                  </li>
                  <li>
                    <div class="columns custom is-mobile">
                      <div class="column is-half"><span>Komisi  (10%  dari Rp 1.650.000)</span></div>
                      <div class="column is-half has-text-right"><strong>Rp 16.500</strong></div>
                    </div>
                  </li>
                  <li>
                    <div class="columns custom is-mobile">
                      <div class="column is-half"><span>Uang yang akan Anda terima</span></div>
                      <div class="column is-half has-text-right"><strong class="text-green">Rp 1.633.500</strong></div>
                    </div>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <div class="columns left-style is-mobile no-border">
            <div class="column is-half"><strong>Berat</strong></div>
            <div class="column is-half has-text-right"><span>0.5 Kg</span></div>
          </div>
          <div class="columns left-style is-mobile">
            <div class="column is-half"><strong>Jenis Produk</strong></div>
            <div class="column is-half has-text-right"><span>Baru</span></div>
          </div>
          <div class="columns left-style is-mobile">
            <div class="column is-half"><strong>Asuransi</strong></div>
            <div class="column is-half has-text-right"><span>Optiona</span></div>
          </div>
        </div>
      </section>
      <section class="section is-paddingless has-shadow">
        <div class="content-header">
          <h3>Katalog</h3>
          <a class="btn-change">Ubah</a>
        </div>
        <div class="content-body">
          <strong>Sepatu pria</strong>
        </div>
      </section>
      <section class="section is-paddingless has-shadow">
        <div class="content-header">
          <h3>Grosir</h3>
          <a class="btn-change">Ubah</a>
        </div>
        <div class="content-body">
          <div class="columns left-style is-mobile">
            <div class="column is-half"><strong>5 - 10 Barang</strong></div>
            <div class="column is-half has-text-right"><span>Rp 1.500.000 / barang</span></div>
          </div>
          <div class="columns left-style is-mobile">
            <div class="column is-half"><strong>11 - 20 Barang</strong></div>
            <div class="column is-half has-text-right"><span>Rp 1.350.000 / barang</span></div>
          </div>
        </div>
      </section>
      <section class="section is-paddingless has-shadow">
        <div class="content-header">
          <h3>Ekspedisi Pengiriman</h3>
          <a class="btn-change">Ubah</a>
        </div>
        <div class="content-body">
          <ul class="list">
            <li>JNE YES</li>
            <li>JNE Regular</li>
            <li>TIKI ONS</li>
            <li>TIKI Regular</li>
          </ul>
        </div>
      </section>
      <div class="level nav-bottom nav-button purchase is-mobile">
        <a class="button is-primary is-m-lg is-fullwidth btn-add-cart js-option" data-target="#addCartNotif">Masukan Ke Keranjang</a>
      </div>
    </div>

    <!-- option -->
    <div class="sort-option" id="deliveryPackage">
      <div class="sort-list">
        <p><strong>Pilih Paket Pengiriman dari JNE</strong></p>
        <form action="#" class="form">
          <div class="field">
            <div class="control popup-option package">
              <label class="radio">
                <input type="radio" name="reguler">
                <span class="service-name">JNE Reguler</span>
                <span>2-3 Hari</span>
                <span>Rp 15.000</span>
              </label>
              <label class="radio">
                <input type="radio" name="yes">
                <span class="service-name">JNE Yes</span>
                <span>2-3 Hari</span>
                <span>Rp 15.000</span>
              </label>
              <label class="radio">
                <input type="radio" name="oke">
                <span class="service-name">JNE Oke</span>
                <span>2-3 Hari</span>
                <span>Rp 15.000</span>
              </label>
            </div>
          </div>
        </form>
      </div>
    </div>
    <div class="sort-option" id="insurance">
      <div class="sort-list">
        <p><strong>Anda ingin menggunakan Asuransi?</strong></p>
        <form action="#" class="form">
          <div class="field">
            <div class="control popup-option">
              <label class="radio">
                <input type="radio" name="ya">
                Ya
              </label>
              <label class="radio">
                <input type="radio" name="tidak">
                Tidak
              </label>
            </div>
          </div>
        </form>
      </div>
    </div>

    <div class="sort-option" id="kurir">
      <div class="sort-list">
        <p><strong>Pilih Ekspedisi Pengiriman</strong></p>
        <form action="#" class="form">
          <div class="field">
            <div class="control popup-option kurir">
              <label class="radio">
                <input type="radio" name="ya">
                <img src="../images/jne.png" alt=""> TIKI
              </label>
              <label class="radio">
                <input type="radio" name="tidak">
                <img src="../images/jne.png" alt=""> JNE
              </label>
            </div>
          </div>
        </form>
      </div>
    </div>

    <div class="sort-option" id="changeAddress">
      <div class="sort-list">
        <p><strong>Pilih Alamat Pengiriman</strong></p>
        <form action="#" class="form">
          <div class="field">
            <div class="control popup-option change-address">
              <label class="radio">
                <input type="radio" name="address">
                <strong>Rumah Jakarta</strong>
                <p>Kemanggisan Jakarta Barat, Palmerah Jakarta Barat, DKI Jakarta, Indonesia 55673</p>
              </label>
              <a class="add-new-address">
                + Tambah Alamat Baru
              </a>
            </div>
          </div>
        </form>
      </div>
    </div>

    <div class="sort-option" id="addCartNotif">
      <div class="notif-report add-cart-notif">
        <img src="../images/phone-account.svg" alt="">
        <p>Produk telah berhasil dimasukkan ke Keranjang Belanja</p>
        <button class="button is-primary is-large is-fullwidth">Lihat Keranjang Belanja</button>
        <button class="button is-primary is-large is-fullwidth is-outlined">Lihat Keranjang Belanja</button>
      </div>
    </div>

    <div class="sort-option" id="otherOption">
      <div class="sort-list">
        <ul class="other-option">
          <li><a><span class="icon-share"></span>Bagikan</a></li>
          <li><a><span class="icon-warning"></span>Laporkan Barang</a></li>
        </ul>
      </div>
    </div>


    <!-- js -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="../component/OwlCarousel/dist/owl.carousel.min.js"></script>
    <script src="../js/script.js"></script>
  </body>
</html>