<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Komuto</title>

    <link href="../dist/css/style.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
    <div class="main user no-padding-bottom bg-grey">
      <nav class="level header is-fullwidth">
        <div class="nav-left">
          <a class="level-item">
            <span><span class="back"><span class="icon-arrow-left"></span></span> Edit Alamat</span>
          </a>
        </div>
      </nav>
      <section class="section is-paddingless has-shadow">
        <div class="container is-fluid">
          <div class="title padding-top">
            <h3>Info Alamat</h3>
          </div>
        </div>
        <div class="account-wrapper">
          <form action="#" class="form edit">
            <div class="field ">
              <p class="control">
                <input class="input" type="text" placeholder="Nama Alias">
              </p>
              <span class="ex">Contoh: Rumah Sendiri, Kantor</span>
            </div>
            <div class="field ">
              <p class="control">
                <input class="input" type="text" placeholder="Nama Penerima">
              </p>
            </div>
            <div class="field ">
              <p class="control">
                <input class="input" type="text" placeholder="Nomor Handphone">
              </p>
            </div>
          </form>
        </div>
      </section>

      <section class="section is-paddingless has-shadow">
        <div class="container is-fluid">
          <div class="title">
            <h3>Info Lokasi</h3>
          </div>
        </div>
        <div class="account-wrapper">
          <form action="#" class="form edit">
            <div class="field ">
              <p class="control">
                <input class="input" type="text" placeholder="Alamat Lengkap">
              </p>
            </div>
            <div class="field ">
              <label class="label">Provinsi</label>
              <p class="control">
                <span class="select">
                  <select>
                    <option>D.I.Yogyakarta</option>
                    <option>With options</option>
                  </select>
                </span>
              </p>
            </div>
            <div class="field">
              <label class="label">Kota / kabupaten</label>
              <p class="control">
                <span class="select">
                  <select>
                    <option>Bantul</option>
                    <option>With options</option>
                  </select>
                </span>
              </p>
            </div>
            <div class="field">
              <label class="label">Kecamatan</label>
              <p class="control">
                <span class="select">
                  <select>
                    <option>Argorejo</option>
                    <option>With options</option>
                  </select>
                </span>
              </p>
            </div>
            <div class="field">
              <label class="label">Kelurahan</label>
              <p class="control">
                <span class="select">
                  <select>
                    <option>Sedayu</option>
                    <option>With options</option>
                  </select>
                </span>
              </p>
            </div>
            <div class="field ">
              <p class="control">
                <input class="input" type="text" placeholder="Kode Pos">
              </p>
            </div>
            <div class="field">
              <div class="filter-option active">
                <div class="sort-list check-list left no-pdleft">
                  <label class="checkbox" for="#primaryAddress">
                    <span class="sort-text">Jadikan Alamat Utama</span>
                    <span class="input-wrapper">
                    <input type="checkbox" id="primaryAddress">
                    </span>
                  </label>
                </div>
              </div>
            </div>
          </form>
        </div>
      </section>
      <section class="section is-paddingless">
        <div class="payment-detail action">
          <ul>
            <li>
              <a class="button is-primary is-large is-fullwidth">Simpan Alamat</a>
            </li>
          </ul>
        </div>
      </section>
    </div>

    <!-- js -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="../js/script.js"></script>
  </body>
</html>