<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Komuto</title>

    <link href="../dist/css/style.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
    <div class="main user">
      <nav class="level header is-fullwidth">
        <div class="nav-left">
          <a class="level-item">
            <span><span class="back"><span class="icon-arrow-left"></span></span> Ganti Password</span>
          </a>
        </div>
      </nav>
      <section class="section is-paddingless">
        <div class="edit-data-delivery bg-white">
          <form action="#" class="form edit">
            <div class="field ">
              <p class="control">
                <input class="input" type="text" placeholder="Alamat Email">
              </p>
            </div>
            <div class="field ">
              <p class="control">
                <input class="input" type="text" placeholder="Password Lama">
              </p>
            </div>
            <div class="field ">
              <p class="control">
                <input class="input" type="text" placeholder="Password Baru">
              </p>
            </div>
            <div class="field ">
              <p class="control">
                <input class="input" type="text" placeholder="Ketik Ulang Password Baru">
              </p>
            </div>
            <div class="field">
               <a class="button is-primary is-large is-fullwidth">Ganti Password</a>
            </div>
          </form>
        </div>
      </section>
    </div>

    <div class="sort-option" id="bank">
      <div class="sort-list">
        <p><strong>Pilih Bank</strong></p>
        <form action="#" class="form">
          <div class="field">
            <div class="control popup-option">
              <label class="radio">
                <input type="radio" name="bank">
                Bank Mandiri
              </label>
              <label class="radio">
                <input type="radio" name="bank">
                Bank BCA
              </label>
              <label class="radio">
                <input type="radio" name="bank">
                Bank BNI
              </label>
            </div>
          </div>
        </form>
      </div>
    </div>

    <!-- js -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="../js/script.js"></script>
  </body>
</html>