<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Komuto</title>

    <link href="../dist/css/style.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
    <div class="main user">
      <nav class="level header is-fullwidth">
        <div class="nav-left">
          <a class="level-item">
            <span><span class="back"><span class="icon-arrow-left"></span></span> Kelola Akun</span>
          </a>
        </div>
      </nav>
      <div class="notification is-success">
        <button class="delete"></button>
        Berhasil memperbarui biodata Anda
      </div>
      <section class="section is-paddingless">
      <div class="photo-content has-text-centered margin-top">
        <div class="photo">
          <img src="../images/thumb.jpg" alt="">
        </div>
        <a>Ganti Foto Profil</a>
      </div>
        <form action="#" class="form edit">
          <div class="edit-data-delivery bg-white">
            <div class="field">
            <label class="label">Nama Lengkap</label>
            <p class="control">
              <input class="input" type="text" placeholder="Dwinawan Hariwijaya">
            </p>
          </div>
          <div class="field">
            <label class="label">Gender</label>
            <p class="control">
              <label class="radio blue-color">
                <input type="radio" name="question">
                Pria
              </label>
              <label class="radio blue-color">
                <input type="radio" name="question">
                Wanita
              </label>
            </p>
          </div>
          <div class="field">
            <p class="control detail-address">
              <span class="location-label modal-button" data-target="#birthPlace">Tempat Lahir Anda</span>
            </p>
          </div>
          <div class="field">
            <p class="control detail-address">
              <span class="location-label js-option" data-target="#birthDay">Tanggal Anda</span>
            </p>
          </div>
          <div class="field">
            <a class="button is-primary is-large is-fullwidth">Simpan Perubahan</a>
          </div>
        </form>
      </section>
    </div>
    <!-- option -->
    <!-- modal categories -->
    <div class="modal modal-filter modal-dropship" id="birthPlace">
      <div class="modal-background"></div>
      <div class="modal-card">
        <header class="modal-card-head">
          <p class="modal-card-title">Pilih Kota Kelahiran</p>
          <button class="delete icon-close"></button>
        </header>
        <section class="section is-paddingless">
        <div class="field search-form paddingless">
          <p class="control has-icons-left">
            <input class="input is-medium" type="text" placeholder="Cari barang atau toko">
            <span class="icon is-left">
              <span class="icon-search black"></span>
            </span>
          </p>
        </div>
      </section>
        <div class="modal-card-body">
          <ul class="list-city">
            <li>Yogyakarta</li>
            <li>Bantul</li>
            <li>Gunung Kidul</li>
            <li>Kulon Progo</li>
            <li>Jakarta Pusat</li>
            <li>Jakarta Selatan</li>
            <li>Jakarta Barat</li>
            <li>Jakarta utara</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="sort-option" id="birthDay">
      <div class="sort-list">
        <p><strong>Set Tanggal Lahir</strong></p>
      </div>
    </div>

    <!-- js -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="../js/script.js"></script>
  </body>
</html>