<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Komuto</title>

    <link href="../dist/css/style.css" rel="stylesheet">
    <link href="../component/OwlCarousel/dist/assets/owl.carousel.min.css" rel="stylesheet">
    <link href="../component/OwlCarousel/dist/assets/owl.theme.default.min.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
    <div class="main detail edit-data">
      <nav class="level header is-fullwidth">
        <div class="nav-left">
          <a class="level-item">
            <span class="is-paddingless"><span class="icon-arrow-left"></span> Data Alamat</span>
          </a>
        </div>
      </nav>
      <div class="user-info">
        <p>Selama belum terverifikasi, Anda tidak bisa mengubah alamat toko Anda.</p>
      </div>
      <section class="section is-paddingless">
        <div class="container is-fluid info-address">
          <div class="info-product">
            <div class="detail-rate">
              <div class="columns detail-rating is-mobile is-multiline no-margin-bottom">
                <div class="column">
                  <div class="rating-content is-left">
                    <label class="lable">Alamat</label>
                    <p><strong>Perum Sedayu Permai C.20, Jl Wates km 11</strong></p>
                  </div>
                </div>
              </div>
            </div>

            <div class="detail-rate">
              <div class="columns detail-rating is-mobile is-multiline no-margin-bottom">
                <div class="column is-half">
                  <div class="rating-content is-left">
                    <label class="lable">Kelurahan</label>
                    <p><strong>Argorejo</strong></p>
                  </div>
                </div>
                <div class="column is-half">
                  <div class="rating-content is-left">
                    <label class="lable">Kecamatan</label>
                    <p><strong>Sedayu</strong></p>
                  </div>
                </div>
              </div>
            </div>

            <div class="detail-rate">
              <div class="columns detail-rating is-mobile is-multiline no-margin-bottom">
                <div class="column is-half">
                  <div class="rating-content is-left">
                    <label class="lable">Kota / Kabupaten</label>
                    <p><strong>Bantul</strong></p>
                  </div>
                </div>
                <div class="column is-half">
                  <div class="rating-content is-left">
                    <label class="lable">Provinsi</label>
                    <p><strong>Yogyakarta</strong></p>
                  </div>
                </div>
              </div>
            </div>

            <div class="detail-rate">
              <div class="columns detail-rating is-mobile is-multiline no-margin-bottom">
                <div class="column">
                  <div class="rating-content is-left">
                    <label class="lable">Kode Post</label>
                    <p><strong>55752</strong></p>
                  </div>
                </div>
              </div>
            </div>
            <a class="link bold">Ubah Alamat</a>
          </div>
        </div>
      </section>
    </div>


    <!-- js -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="../component/OwlCarousel/dist/owl.carousel.min.js"></script>
    <script src="../js/script.js"></script>
  </body>
</html>