<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Komuto</title>

    <link href="../dist/css/style.css" rel="stylesheet">
    <link href="../component/OwlCarousel/dist/assets/owl.carousel.min.css" rel="stylesheet">
    <link href="../component/OwlCarousel/dist/assets/owl.theme.default.min.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
    <div class="main detail edit-data bg-grey">
      <nav class="level header is-fullwidth">
        <div class="nav-left">
          <a class="level-item">
            <span class="is-paddingless"><span class="icon-arrow-left"></span> Data Rekening</span>
          </a>
        </div>
      </nav>
      <div class="notification is-success">
        <button class="delete"></button>
        Sukses menambahkan alamat baru
      </div>
      <section class="section is-paddingless bg-white has-shadow">
        <div class="data-wrapper">
          <div class="head-panel">
            <h3><img src="../images/mandiri.png" alt=""></h3>
            <div class="menu-top open"> <!-- toggle class open -->
              <a class="option-content"><span></span><span></span><span></span></a>
              <ul class="option-dropdown">
                <li><a>Edit</a></li>
                <li><a class="js-option" data-target="#verifikasi">Hapus</a></li>
              </ul>
            </div>
          </div>
          <div class="data-content">
            <div class="title-content">
              <h3>Nama Penerima</h3>
            </div>
            <p>Dwinawan Hariwijaya</p>
            <br>
            <div class="title-content">
              <h3>No Handphone</h3>
            </div>
            <p>0821-1310-1585</p>
            <br>
            <div class="title-content">
              <h3>Alamat</h3>
            </div>
            <p>Kemanggisan Jakarta Barat, Palmerah Jakarta Barat DKI Jakarta, Indonesia 55673</p>
          </div>
        </div>
      </section>

      <section class="section is-paddingless bg-white has-shadow">
        <div class="data-wrapper">
          <div class="head-panel">
            <h3><img src="../images/mandiri.png" alt=""></h3>
            <div class="menu-top open"> <!-- toggle class open -->
              <a class="option-content"><span></span><span></span><span></span></a>
              <ul class="option-dropdown">
                <li><a>Edit</a></li>
                <li><a class="js-option" data-target="#verifikasi">Hapus</a></li>
              </ul>
            </div>
          </div>
          <div class="data-content">
            <div class="title-content">
              <h3>Nama Penerima</h3>
            </div>
            <p>Dwinawan Hariwijaya</p>
            <br>
            <div class="title-content">
              <h3>No Handphone</h3>
            </div>
            <p>0821-1310-1585</p>
            <br>
            <div class="title-content">
              <h3>Alamat</h3>
            </div>
            <p>Kemanggisan Jakarta Barat, Palmerah Jakarta Barat DKI Jakarta, Indonesia 55673</p>
          </div>
        </div>
      </section>
      <a class="sticky-button"><span class="txt">+</span></a>
    </div>

    <!-- option -->
    <div class="sort-option" id="province">
      <div class="sort-list">
        <p><strong>Pilih Provinsi</strong></p>
        <form action="#" class="form">
          <div class="field">
            <div class="control popup-option">
              <label class="radio">
                <input type="radio" name="provinsi">
                DKI Jakarta
              </label>
              <label class="radio">
                <input type="radio" name="provinsi">
                DI Yogyakarta
              </label>
              <label class="radio">
                <input type="radio" name="provinsi">
                Jawa Barat
              </label>
              <label class="radio">
                <input type="radio" name="provinsi">
                Jawa Tengah
              </label>
              <label class="radio">
                <input type="radio" name="provinsi">
                Jawa Timur
              </label>
              <label class="radio">
                <input type="radio" name="provinsi">
                Sumatera Barat
              </label>
              <label class="radio">
                <input type="radio" name="provinsi">
                Sumatera Selatan
              </label>
            </div>
          </div>
        </form>
      </div>
    </div>

    <div class="sort-option" id="district">
      <div class="sort-list">
        <p><strong>Pilih Kabupaten</strong></p>
        <form action="#" class="form">
          <div class="field">
            <div class="control popup-option">
              <label class="radio">
                <input type="radio" name="provinsi">
                Bantul
              </label>
              <label class="radio">
                <input type="radio" name="provinsi">
                Seleman
              </label>
              <label class="radio">
                <input type="radio" name="provinsi">
                Kulon Progo
              </label>
            </div>
          </div>
        </form>
      </div>
    </div>

    <div class="sort-option" id="districts">
      <div class="sort-list">
        <p><strong>Pilih Kecamatan</strong></p>
        <form action="#" class="form">
          <div class="field">
            <div class="control popup-option">
              <label class="radio">
                <input type="radio" name="provinsi">
                Sedayu
              </label>
              <label class="radio">
                <input type="radio" name="provinsi">
                Wirobrajan
              </label>
              <label class="radio">
                <input type="radio" name="provinsi">
                Karangbendo
              </label>
            </div>
          </div>
        </form>
      </div>
    </div>

    <div class="sort-option" id="village">
      <div class="sort-list">
        <p><strong>Pilih Kelurahan</strong></p>
        <form action="#" class="form">
          <div class="field">
            <div class="control popup-option">
              <label class="radio">
                <input type="radio" name="provinsi">
                TegalRejo
              </label>
              <label class="radio">
                <input type="radio" name="provinsi">
                Tegalmulyo
              </label>
              <label class="radio">
                <input type="radio" name="provinsi">
                Karangbendo
              </label>
            </div>
          </div>
        </form>
      </div>
    </div>
    <!-- ===== -->
    <div class="sort-option" id="verifikasi">
      <div class="notif-report">
        <h3>Anda yakin akan menghapus Alamat tersebut?</h3>
        <button class="button is-primary is-large is-fullwidth">Ya, Hapus Rekening</button>
        <a class="cancel">Batal</a>
      </div>
    </div>


    <!-- js -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="../component/OwlCarousel/dist/owl.carousel.min.js"></script>
    <script src="../js/script.js"></script>
  </body>
</html>