<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Komuto</title>

    <link href="../dist/css/style.css" rel="stylesheet">
    <link href="../component/OwlCarousel/dist/assets/owl.carousel.min.css" rel="stylesheet">
    <link href="../component/OwlCarousel/dist/assets/owl.theme.default.min.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
    <div class="main detail bg-grey">
      <nav class="level header is-fullwidth">
        <div class="nav-left">
          <a class="level-item">
            <span class="is-paddingless"><span class="icon-arrow-left"></span>Komplain Barang</span>
          </a>
        </div>
      </nav>
      <div class="nav-tabs">
        <a class="active"><span class="text">Detail</span></a>
        <a><span class="text">Diskusi</span> <span class="notif-complaint"><span>1</span></span></a>
      </div>
      <section class="section is-paddingless has-shadow">
        <div class="box notif-payment">
          <article class="media">
            <div class="media-left top">
              <figure class="image">
                <img src="../images/icon-info-yellow.svg" alt="pict">
              </figure>
            </div>
            <div class="media-content">
              <div class="content">
                <p>
                  <strong>Pembeli menginginkan refund. Pembeli akan mengirimkan kembali barang yang dibeli. Silahkan klik "Barang sudah saya terima" jika barang sudah Anda terima dan Admin akan mengirimkan uang ke pembeli</strong>
                </p>
              </div>
            </div>
          </article>
        </div>
        <div class="info-purchase">
          <div class="detail-rate is-purchase">
            <div class="columns total-items is-mobile is-multiline no-margin-bottom">
              <div class="column">
                <a class="button is-primary is-large is-fullwidth js-option" data-target="#popupRefund">Barang sudah saya terima</a>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section class="section is-paddingless has-shadow">
        <div class="info-purchase">
          <div class="detail-rate is-purchase">
            <div class="columns total-items is-mobile is-multiline no-margin-bottom">
              <div class="column is-half">
                <div class="rating-content is-left">
                  <strong>No Invoice</strong>
                </div>
              </div>
              <div class="column is-half">
                <div class="rating-content item-qty has-text-right">
                  <span class="has-text-left">Invoice-83273847492/04/2017</span>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="info-purchase">
          <div class="detail-rate is-purchase">
            <div class="columns total-items is-mobile is-multiline no-margin-bottom">
              <div class="column is-one-quarter">
                <div class="rating-content is-left">
                  <strong>Tanggal Transaksi</strong>
                </div>
              </div>
              <div class="column">
                <div class="rating-content item-qty has-text-right">
                  <span class="has-text-left">15 Agustus 2017</span>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="info-purchase">
          <div class="detail-rate is-purchase">
            <div class="columns total-items is-mobile is-multiline no-margin-bottom">
              <div class="column is-one-quarter">
                <div class="rating-content is-left">
                  <strong>Status Penyelesaian</strong>
                </div>
              </div>
              <div class="column">
                <div class="rating-content item-qty has-text-right">
                  <div class="item-status md right reject">Menunggu Penyelesaian</div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="info-purchase">
          <div class="detail-rate is-purchase">
            <div class="columns total-items is-mobile is-multiline no-margin-bottom">
              <div class="column">
                <div class="rating-content is-left">
                  <strong>Pembeli</strong>
                </div>
              </div>
              <ul class="seller-items">
                <li>
                  <a class="is-bordered inline-text"><img src="../images/pict.jpg" alt="komuto"></a>
                  <strong>Jonathan Hope</strong>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="info-purchase">
          <div class="detail-rate is-purchase">
            <div class="columns total-items is-mobile is-multiline no-margin-bottom">
              <div class="column is-one-quarter">
                <div class="rating-content is-left">
                  <strong>Solusi yang diinginkan</strong>
                </div>
              </div>
              <div class="column">
                <div class="rating-content item-qty has-text-right">
                  <span class="has-text-left">Refund Dana</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>

       <section class="section is-paddingless has-shadow">
        <div class="container is-fluid">
          <div class="title">
            <h3>Barang bermasalah</h3>
          </div>
        </div>
        <div class="info-purchase space-left">
          <div class="box">
            <div class="media">
              <div class="media-left is-bordered">
                <figure class="image list-transaction sm">
                  <a><img src="../images/thumb.jpg" alt="Image"></a>
                </figure>
              </div>
              <div class="media-content middle">
                <div class="content">
                  <h4>Sepatu Jogging Nike Hitam </h4>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="info-purchase space-left">
          <div class="box">
            <div class="media">
              <div class="media-left is-bordered">
                <figure class="image list-transaction sm">
                  <a><img src="../images/thumb.jpg" alt="Image"></a>
                </figure>
              </div>
              <div class="media-content middle">
                <div class="content">
                  <h4>Sepatu Jogging Nike Hitam </h4>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>

      <section class="section is-paddingless has-shadow">
        <div class="container is-fluid">
          <div class="title">
            <h3>Masalah yang terjadi</h3>
          </div>
        </div>
        <div class="info-purchase">
          <div class="detail-rate is-purchase">
            <div class="columns total-items is-mobile is-multiline no-margin-bottom">
              <div class="column">
                <div class="rating-content is-left">
                  <span>Barang tidak sesuai deskripsi, Produk tidak lengkap, Barang rusak</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>

      <section class="section is-paddingless has-shadow">
        <div class="container is-fluid">
          <div class="title">
            <h3>Foto Barang</h3>
          </div>
        </div>
        <div class="payment-detail step-pay">
          <ul>
            <li>
              <div class="columns is-mobile is-multiline no-margin-bottom">
                <div class="column">
                  <div class="box">
                    <div class="media list-item middle">
                      <div class="media-left md-margin">
                        <figure class="image list-transaction lgx">
                          <a><img src="../images/thumb.jpg" alt="Image"></a>
                        </figure>
                      </div>
                      <div class="media-left md-margin">
                        <figure class="image list-transaction lgx">
                          <a><img src="../images/thumb.jpg" alt="Image"></a>
                        </figure>
                      </div>
                      <div class="media-left md-margin">
                        <figure class="image list-transaction lgx">
                          <a><img src="../images/thumb.jpg" alt="Image"></a>
                        </figure>
                      </div>
                      <div class="right-middle">
                        <span class="icon-arrow-right"></span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </li>
          </ul>
        </div>
      </section>

      <section class="section is-paddingless has-shadow">
        <div class="container is-fluid">
          <div class="title">
            <h3>Keterangan</h3>
          </div>
        </div>
        <div class="info-purchase">
          <div class="detail-rate is-purchase">
            <div class="columns total-items is-mobile is-multiline no-margin-bottom">
              <div class="column">
                <div class="rating-content is-left">
                  <span>Sepatu yang merah terdapat sobek pada sisi pinggirnya dan terlihat sudah lecek seperti sudah pernah dipakai karena ada bekas tanahnya,</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>

    <div class="sort-option" id="popupRefund">
      <div class="notif-report">
        <h3>Anda yakin sudah menerima barang?</h3>
        <p>Dengan mengkonfirmasi sudah menerima barang, Admin akan mengirimkan uang ke pembeli. </p>
        <button class="button is-primary is-large is-fullwidth">Ya, Barang sudah saya terima</button>
        <button class="button is-primary is-large is-fullwidth is-outlined">Batal</button>
      </div>
    </div>
    <!-- js -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="../component/OwlCarousel/dist/owl.carousel.min.js"></script>
    <script src="../js/script.js"></script>
  </body>
</html>