<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Komuto</title>

    <link href="../dist/css/style.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
    <div class="main user login">
      <nav class="level header is-fullwidth">
        <div class="nav-left">
          <a class="level-item">
            <span><span class="back"><span class="icon-arrow-left"></span></span> Login</span>
          </a>
        </div>
      </nav>
      <section class="hero">
        <div class="container is-fluid">
          <p><a class="modal-button" data-target="#logReg">Show Modal Popup</a></p>
        </div>
      </section>
    </div>
    <!-- modal categories -->
    <div class="modal modal-filter modal-dropship" id="logReg">
      <div class="modal-background"></div>
      <div class="modal-card">
        <header class="modal-card-head">
          <p class="modal-card-title">login</p>
          <button class="delete icon-close"></button>
        </header>
        <section class="modal-card-body">
          <div class="desc has-text-centered log-reg">
            <img src="../images/reg-success.svg" alt="komuto">
            <br>
            <br>
            <p><strong>Belum Punya AKUN?</strong></p>
            <br>
          </div>
          <div class="columns is-mobile">
            <div class="column is-half">
              <a class="button is-primary is-large is-fullwidth">LOGIN</a>
            </div>
            <div class="column is-half">
              <a class="button is-primary is-large is-fullwidth">REGISTER</a>
            </div>
          </div>
        </section>
      </div>
    </div>

    <!-- js -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="../js/script.js"></script>
  </body>
</html>