<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Komuto</title>

    <link href="../dist/css/style.css" rel="stylesheet">
    <link href="../component/OwlCarousel/dist/assets/owl.carousel.min.css" rel="stylesheet">
    <link href="../component/OwlCarousel/dist/assets/owl.theme.default.min.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
    <div class="main detail resolusi bg-grey">
      <nav class="level header is-fullwidth">
        <div class="nav-left">
          <a class="level-item">
            <span class="is-paddingless"><span class="icon-arrow-left"></span> Pusat Resolusi</span>
          </a>
        </div>
      </nav>
      <div class="nav-tabs">
        <a class="active"><span class="text">Menunggu</span></a>
        <a><span class="text">Terselesaikan</span> <span class="notif-complaint"><span>1</span></span></a>
      </div>

      <section class="section is-paddingless has-shadow">
        <div class="discuss">
          <ul class="main-discuss notif-detail">
            <li>
              <div class="box is-paddingless">
                <article class="media">
                  <div class="media-content">
                    <div class="content">
                      <p class="user-name">
                        Halo Gan, mohon maaf sebelumnya. Tapi itu tidak bisa di refund soalnya itu musti lorem ipsum dolor sit amet dulu
                      </p>
                    </div>
                    <label class="transaction">Transaksi</label>
                    <span class="date-trans">23 Agustus 2017</span>
                  </div>
                </article>
              </div>
            </li>
          </ul>
        </div>
      </section>
      <section class="section is-paddingless has-shadow">
        <div class="discuss">
          <ul class="main-discuss notif-detail">
            <li>
              <div class="box is-paddingless">
                <article class="media">
                  <div class="media-content">
                    <div class="content">
                      <p class="user-name">
                        Halo Gan, mohon maaf sebelumnya. Tapi itu tidak bisa di refund soalnya itu musti lorem ipsum dolor sit amet dulu
                      </p>
                    </div>
                    <label class="transaction">Transaksi</label>
                    <span class="date-trans">23 Agustus 2017</span>
                  </div>
                </article>
              </div>
            </li>
          </ul>
        </div>
      </section>
       <section class="section is-paddingless has-shadow">
        <div class="discuss">
          <ul class="main-discuss notif-detail">
            <li>
              <div class="box is-paddingless">
                <article class="media">
                  <div class="media-content">
                    <div class="content">
                      <p class="user-name">
                        Halo Gan, mohon maaf sebelumnya. Tapi itu tidak bisa di refund soalnya itu musti lorem ipsum dolor sit amet dulu
                      </p>
                    </div>
                    <label class="transaction">Transaksi</label>
                    <span class="date-trans">23 Agustus 2017</span>
                  </div>
                </article>
              </div>
            </li>
          </ul>
        </div>
      </section>
      <a class="sticky-button"><span class="txt">+</span></a>
    </div>


    <!-- js -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="../component/OwlCarousel/dist/owl.carousel.min.js"></script>
    <script src="../js/script.js"></script>
  </body>
</html>