<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Komuto</title>

    <link href="../dist/css/style.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
    <div class="main user bg-white">
      <nav class="level header is-fullwidth">
        <div class="nav-left">
          <a class="level-item">
            <span><span class="back"><span class="icon-arrow-left"></span></span></span>
          </a>
          <div class="box is-paddingless">
              <article class="media">
                <div class="media-left">
                  <figure class="image product-pict">
                    <img src="../images/pict.jpg" alt="pict">
                  </figure>
                </div>
                <div class="media-content">
                  <div class="content">
                    <p class="products-name">
                      <strong>Blue Training Kit Machester United</strong>
                      <br>
                      Rp 1.685.000
                    </p>
                  </div>
                </div>
              </article>
            </div>
        </div>
      </nav>
      <div class="column is-paddingless">
        <div class="see-all is-bordered">
          <span class="link">Lihat semua produk terbaru <span class="icon-arrow-right"></span></span>
        </div>
      </div>
      <section class="section is-paddingless bg-white">
        <div class="discuss">
          <ul class="product-discuss">
            <li>
              <div class="box is-paddingless">
                <article class="media">
                  <div class="media-left">
                    <figure class="image product-pict">
                      <img src="../images/pict.jpg" alt="pict">
                    </figure>
                  </div>
                  <div class="media-content">
                    <div class="content">
                      <p class="products-name">
                        <strong>Blue Training Kit Machester United</strong>
                        <br>
                        Rp 1.685.000
                      </p>
                    </div>
                  </div>
                </article>
              </div>
            </li>
          </ul>
          <ul class="main-discuss">
            <li>
              <div class="box is-paddingless">
                <article class="media">
                  <div class="media-left">
                    <figure class="image user-pict">
                      <img src="../images/pict.jpg" alt="pict">
                    </figure>
                  </div>
                  <div class="media-content">
                    <div class="content">
                      <p class="user-name">
                        <strong>Dwinawan Hariwijaya</strong>
                        <br>
                        Halo Gan, mau tanya neh. Sepatu ini kan ringan banget kayaknya. Ngerawat nya susah enggak ya?
                      </p>
                    </div>
                    <span class="time-discuss">14:30</span>
                  </div>
                </article>
              </div>
            </li>
            <li>
              <div class="box is-paddingless">
                <article class="media">
                  <div class="media-left">
                    <figure class="image user-pict">
                      <img src="../images/pict.jpg" alt="pict">
                    </figure>
                  </div>
                  <div class="media-content">
                    <div class="content">
                      <p class="user-name">
                        <strong>Dwinawan Hariwijaya</strong>
                        <br>
                        Halo Gan, untuk sepatu ini memang cukup ringan, tapi perawatannya harus hati2, soalnya musti hati hati saat menggosok bagian atasnya.
                      </p>
                    </div>
                    <span class="time-discuss">14:30</span>
                  </div>
                </article>
              </div>
            </li>
            <li>
              <div class="box is-paddingless">
                <article class="media">
                  <div class="media-left">
                    <figure class="image user-pict">
                      <img src="../images/pict.jpg" alt="pict">
                    </figure>
                  </div>
                  <div class="media-content">
                    <div class="content">
                      <p class="user-name">
                        <strong>Dwinawan Hariwijaya</strong>
                        <br>
                        Halo Gan, mau tanya neh. Sepatu ini kan ringan banget kayaknya. Ngerawat nya susah enggak ya?
                      </p>
                    </div>
                    <span class="time-discuss">14:30</span>
                  </div>
                </article>
              </div>
            </li>
            <li>
              <div class="box is-paddingless">
                <article class="media">
                  <div class="media-left">
                    <figure class="image user-pict">
                      <img src="../images/pict.jpg" alt="pict">
                    </figure>
                  </div>
                  <div class="media-content">
                    <div class="content">
                      <p class="user-name">
                        <strong>Dwinawan Hariwijaya</strong>
                        <br>
                        Halo Gan, untuk sepatu ini memang cukup ringan, tapi perawatannya harus hati2, soalnya musti hati hati saat menggosok bagian atasnya.
                      </p>
                    </div>
                    <span class="time-discuss">14:30</span>
                  </div>
                </article>
              </div>
            </li>
          </ul>
        </div>
      </section>

      <div class="add-comment">
        <div class="field">
          <p class="control">
            <textarea class="textarea" placeholder="Tulis Komentar"></textarea>
          </p>
        </div>
      </div>
    </div>

    <!-- js -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="../js/script.js"></script>
  </body>
</html>