<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Komuto</title>

    <link href="../dist/css/style.css" rel="stylesheet">
    <link href="../component/OwlCarousel/dist/assets/owl.carousel.min.css" rel="stylesheet">
    <link href="../component/OwlCarousel/dist/assets/owl.theme.default.min.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
    <div class="main seller-info bg-white">
      <nav class="level header is-fullwidth">
        <div class="nav-left">
          <a class="level-item">
            <span><span class="back"><span class="icon-arrow-left"></span></span> Pesan</span>
          </a>
        </div>
      </nav>
      <div class="nav-tabs">
        <a class="active">Percakapan</a>
        <a>Arsip</a>
      </div>
      <div class="notification is-success">
        <button class="delete"></button>
        Berhasil memindahkan ke percakapan
      </div>
      <section class="section is-paddingless">
        <div class="discuss">
          <ul class="notif-detail conversation bordered">
            <li>
              <div class="box is-paddingless">
                <article class="media">
                  <div class="media-left top">
                    <figure class="image user-pict">
                      <img src="../images/pict.jpg" alt="pict">
                    </figure>
                  </div>
                  <div class="media-content">
                    <div class="content">
                      <p class="user-name">
                        <strong>Gundam Biru Special Edition Stok warna biru habis</strong>
                        <span>Sports Station Shop</span>
                        <br>
                        Halo Gan, untuk Gundam yang warna biru habis. apakah mau ditukar dengan barang lain atau gimana enaknya?
                      </p>
                    </div>
                    <span class="time-discuss">24 Feb 2107</span>
                  </div>
                </article>
              </div>
            </li>
            <li>
              <div class="box is-paddingless">
                <article class="media">
                  <div class="media-left top">
                    <figure class="image user-pict">
                      <img src="../images/pict.jpg" alt="pict">
                    </figure>
                  </div>
                  <div class="media-content">
                    <div class="content">
                      <p class="user-name">
                        <strong>Gundam Biru Special Edition Stok warna biru habis</strong>
                        <span>Sports Station Shop</span>
                        <br>
                        Halo Gan, untuk Gundam yang warna biru habis. apakah mau ditukar dengan barang lain atau gimana enaknya?
                      </p>
                    </div>
                    <span class="time-discuss">24 Feb 2107</span>
                  </div>
                </article>
              </div>
            </li>
            <li>
              <div class="box is-paddingless">
                <article class="media">
                  <div class="media-left top">
                    <figure class="image user-pict">
                      <img src="../images/pict.jpg" alt="pict">
                    </figure>
                  </div>
                  <div class="media-content">
                    <div class="content">
                      <p class="user-name">
                        <strong>Gundam Biru Special Edition Stok warna biru habis</strong>
                        <span>Sports Station Shop</span>
                        <br>
                        Halo Gan, untuk Gundam yang warna biru habis. apakah mau ditukar dengan barang lain atau gimana enaknya?
                      </p>
                    </div>
                    <span class="time-discuss">24 Feb 2107</span>
                  </div>
                </article>
              </div>
            </li>
          </ul>
        </div>
      </section>

    </div>

    <!-- js -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="../component/OwlCarousel/dist/owl.carousel.min.js"></script>
    <script src="../js/script.js"></script>
  </body>
</html>