<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Komuto</title>

    <link href="../dist/css/style.css" rel="stylesheet">
    <link href="../component/OwlCarousel/dist/assets/owl.carousel.min.css" rel="stylesheet">
    <link href="../component/OwlCarousel/dist/assets/owl.theme.default.min.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
    <div class="main detail bg-white">
      <nav class="level header is-fullwidth">
        <div class="nav-left">
          <a class="level-item">
            <span class="is-paddingless"><span class="icon-arrow-left"></span> Detail Resolusi</span>
          </a>
        </div>
      </nav>
      <div class="nav-tabs">
        <a class="active">Informasi</a>
        <a>Diskusi Solusi</a>
      </div>

      <section class="section is-paddingless">
        <div class="info-purchase">
          <div class="detail-rate">
            <div class="columns total-items is-mobile is-multiline no-margin-bottom">
              <div class="column is-half">
                <div class="rating-content">
                  <strong>Status Barang</strong>
                </div>
              </div>
              <div class="column is-half">
                <div class="rating-content item-qty has-text-right">
                  <div class="item-status md right reject">Menunggu Konfirmasi Seller</div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="info-purchase">
          <div class="detail-rate">
            <div class="columns total-items is-mobile is-multiline no-margin-bottom">
              <div class="column is-half">
                <div class="rating-content">
                  <strong>Produk</strong>
                </div>
              </div>
              <div class="column is-half">
                <div class="rating-content has-text-right">
                  <div class="item-status md right">Sepatu Jogging Nike Hitam </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="info-purchase">
          <div class="detail-rate">
            <div class="columns total-items is-mobile is-multiline no-margin-bottom">
              <div class="column is-half">
                <div class="rating-content">
                  <strong>Seller</strong>
                </div>
              </div>
              <div class="column is-half">
                <div class="rating-content has-text-right">
                  <div class="item-status md right">Sports Station Shop</div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="info-purchase">
          <div class="detail-rate">
            <div class="columns total-items is-mobile is-multiline no-margin-bottom">
              <div class="column is-half">
                <div class="rating-content">
                  <strong>Buyer</strong>
                </div>
              </div>
              <div class="column is-half">
                <div class="rating-content has-text-right">
                  <div class="item-status md right">Dwinawan Hariwijaya</div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="info-purchase">
          <div class="detail-rate">
            <div class="columns total-items is-mobile is-multiline no-margin-bottom">
              <div class="column">
                <div class="rating-content">
                  <strong>Foto barang yang diterima</strong>
                </div>
              </div>
            </div>
            <div class="list-items">
              <div class="columns is-mobile is-multiline">
                <div class="column"><a><img src="../images/thumb.jpg" alt="komuto"></a></div>
                <div class="column"><a><img src="../images/thumb.jpg" alt="komuto"></a></div>
                <div class="column"><a><img src="../images/thumb.jpg" alt="komuto"></a></div>
                <div class="column"><a><img src="../images/thumb.jpg" alt="komuto"></a></div>
              </div>
            </div>
          </div>
        </div>
        <div class="info-purchase no-border">
          <div class="detail-rate">
            <div class="columns total-items is-mobile is-multiline no-margin-bottom">
              <div class="column">
                <div class="rating-content">
                  <strong>Keterangan</strong>
                </div>
              </div>
            </div>
            <div class="info-item">
              Sepatunya tidak sesuai dengan yang di gambar dan deskripsi. Saya ingin merefund dana saja. Saya takut kalau ganti barang, barangnya tetap tidaksesuai. Takut buang2 waktu untuk menunggu
            </div>
          </div>
        </div>
      </section>
    </div>


    <!-- js -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="../component/OwlCarousel/dist/owl.carousel.min.js"></script>
    <script src="../js/script.js"></script>
  </body>
</html>