<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Komuto</title>

    <link href="../dist/css/style.css" rel="stylesheet">
    <link href="../component/OwlCarousel/dist/assets/owl.carousel.min.css" rel="stylesheet">
    <link href="../component/OwlCarousel/dist/assets/owl.theme.default.min.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
    <div class="main seller-info bg-grey">
      <nav class="level header is-fullwidth">
        <div class="nav-left">
          <a class="level-item">
            <span><span class="back"><span class="icon-arrow-left"></span></span> Review</span>
          </a>
        </div>
      </nav>
      <section class="section is-paddingless">
        <div class="profile-content rating">
          <div class="profile-wrapp is-paddingless">
            <ul class="detail-seller left-margin">
              <li>
                <div class="box is-paddingless">
                  <article class="media">
                    <div class="media-left is-bordered">
                      <figure class="image">
                        <img src="../images/thumb.jpg" alt="pict">
                      </figure>
                    </div>
                    <div class="media-content">
                      <div class="content">
                        <p>
                          <strong>Sepatu Jogging Nike Hitam </strong>
                          <br>
                          <span>Sports Station Shop</span>
                        </p>
                      </div>
                    </div>
                  </article>
                </div>
                <span class="icon-arrow-right"></span>
              </li>
              <li>
                <p class="desc">Sepatunya tidak sesuai dengan yang di gambar dandeskripsi. Saya ingin merefund dana saja. Saya takut kalau ganti barang, barangnya tetap tidak sesuai. Takut buang2 waktu untuk menunggu</p>
              </li>
              <li>
                <div class="item-status md reject"><strong>Menunggu Konfirmasi Seller</strong></div>
              </li>
            </ul>
          </div>
        </div>
      </section>

    </div>

    <!-- js -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="../component/OwlCarousel/dist/owl.carousel.min.js"></script>
    <script src="../js/script.js"></script>
  </body>
</html>