<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Komuto</title>

    <link href="../dist/css/style.css" rel="stylesheet">
    <link href="../component/OwlCarousel/dist/assets/owl.carousel.min.css" rel="stylesheet">
    <link href="../component/OwlCarousel/dist/assets/owl.theme.default.min.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
    <div class="main detail bg-grey">
      <nav class="level header is-fullwidth">
        <div class="nav-left">
          <a class="level-item">
            <span class="is-paddingless"><span class="icon-arrow-left"></span> Prosess Pembelian</span>
          </a>
        </div>
        <div class="button-search js-option" data-target="#otherOption">
          <span class="icon-dots"></span>
        </div>
      </nav>

      <section class="section is-paddingless has-shadow">
        <div class="detail-product">
          <a class="remove-item">Hapus</a>
          <div class="purchase">
            <figure class="img-item">
              <img src="../images/pict.jpg" alt="pict">
            </figure>
            <h3>Blue Training Kit Machester United</h3>
            <span class="price">Sport Station Shop</span>
          </div>
        </div>
        <div class="info-purchase">
          <div class="detail-rate is-purchase">
            <div class="columns total-items is-mobile is-multiline no-margin-bottom">
              <div class="column is-half">
                <div class="rating-content is-left">
                  <strong>Harga Satuan</strong>
                </div>
              </div>
              <div class="column is-half">
                <div class="rating-content item-qty has-text-right">
                  <span>Rp 135.000</span>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="info-purchase">
          <div class="detail-rate is-purchase">
            <div class="columns total-items is-mobile is-multiline no-margin-bottom">
              <div class="column is-half">
                <div class="rating-content is-left">
                  <strong>Jumlah Barang</strong>
                </div>
              </div>
              <div class="column is-half">
                <div class="rating-content item-qty has-text-right">
                  <a><span class="icon-qty-min"></span></a>
                  <span class="qty">1</span>
                  <a><span class="icon-qty-plus"></span></a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="info-purchase">
          <div class="detail-rate is-purchase">
            <div class="columns total-items is-mobile is-multiline no-margin-bottom">
              <div class="column is-half">
                <div class="rating-content is-left">
                  <strong>Subtotal Harga Barang</strong>
                </div>
              </div>
              <div class="column is-half">
                <div class="rating-content item-qty has-text-right">
                  <span>Rp 270.000</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section class="section is-paddingless has-shadow is-error">
        <div class="column is-paddingless is-error">
          <div class="see-all">
            <span class="link">Isi Informasi Data Pengiriman <span class="icon-arrow-right"></span></span>
          </div>
        </div>
        <p class="error-msg">Mohon isi informasi data pengiriman terlebih dahulu</p>
      </section>
      <section class="section is-paddingless has-shadow">
        <div class="column is-paddingless">
          <div class="see-all">
            <span class="link">Pilih Kurir Pengiriman <span class="icon-arrow-down"></span></span>
          </div>
        </div>
        <p class="error-msg">Mohon Pilih Kurir Pengiriman terlebih dahulu</p>
      </section>
      <section class="section is-paddingless has-shadow">
        <div class="info-purchase">
          <div class="detail-purchase remark">
            <h3>Catatan (Optional)</h3>
            <div class="field">
              <p class="control">
                <textarea class="textarea" placeholder="Contoh: Saya pesan barang yang warna merah" rows="2"></textarea>
              </p>
            </div>
          </div>
        </div>
      </section>
      <section class="section is-paddingless has-shadow">
        <div class="info-purchase">
          <div class="detail-purchase summary">
            <h3>Ringkasan Pemesanan</h3>
            <div class="detail-result white">
              <ul>
                <li>
                  <div class="columns custom is-mobile">
                    <div class="column is-half"><span>Harga Barang</span></div>
                    <div class="column is-half has-text-right"><span>Rp 380.000</span></div>
                  </div>
                </li>
                <li>
                  <div class="columns custom is-mobile">
                    <div class="column is-half"><span>Ongkos Kirim</span></div>
                    <div class="column is-half has-text-right"><span>-</span></div>
                  </div>
                </li>
                <li>
                  <div class="columns custom is-mobile">
                    <div class="column is-half"><span>Asuransi</span></div>
                    <div class="column is-half has-text-right"><span>-</span></div>
                  </div>
                </li>
              </ul>
              <ul class="total">
                <li>
                  <div class="columns custom is-mobile">
                    <div class="column is-half"><strong>Harga Barang</strong></div>
                    <div class="column is-half has-text-right"><strong>Rp 380.000</strong></div>
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </section>
      <div class="level nav-bottom nav-button purchase is-mobile">
        <a class="button is-primary is-m-lg is-fullwidth btn-add-cart">Masukan Ke Keranjang</a>
      </div>
    </div>

    <!-- option -->
    <div class="sort-option" id="province">
      <div class="sort-list">
        <p><strong>Pilih Provinsi</strong></p>
        <form action="#" class="form">
          <div class="field">
            <div class="control popup-option">
              <label class="radio">
                <input type="radio" name="provinsi">
                DKI Jakarta
              </label>
              <label class="radio">
                <input type="radio" name="provinsi">
                DI Yogyakarta
              </label>
              <label class="radio">
                <input type="radio" name="provinsi">
                Jawa Barat
              </label>
              <label class="radio">
                <input type="radio" name="provinsi">
                Jawa Tengah
              </label>
              <label class="radio">
                <input type="radio" name="provinsi">
                Jawa Timur
              </label>
              <label class="radio">
                <input type="radio" name="provinsi">
                Sumatera Barat
              </label>
              <label class="radio">
                <input type="radio" name="provinsi">
                Sumatera Selatan
              </label>
            </div>
          </div>
        </form>
      </div>
    </div>

    <div class="sort-option" id="district">
      <div class="sort-list">
        <p><strong>Pilih Kabupaten</strong></p>
        <form action="#" class="form">
          <div class="field">
            <div class="control popup-option">
              <label class="radio">
                <input type="radio" name="provinsi">
                Bantul
              </label>
              <label class="radio">
                <input type="radio" name="provinsi">
                Seleman
              </label>
              <label class="radio">
                <input type="radio" name="provinsi">
                Kulon Progo
              </label>
            </div>
          </div>
        </form>
      </div>
    </div>

    <div class="sort-option" id="districts">
      <div class="sort-list">
        <p><strong>Pilih Kecamatan</strong></p>
        <form action="#" class="form">
          <div class="field">
            <div class="control popup-option">
              <label class="radio">
                <input type="radio" name="provinsi">
                Sedayu
              </label>
              <label class="radio">
                <input type="radio" name="provinsi">
                Wirobrajan
              </label>
              <label class="radio">
                <input type="radio" name="provinsi">
                Karangbendo
              </label>
            </div>
          </div>
        </form>
      </div>
    </div>

    <div class="sort-option" id="otherOption">
      <div class="sort-list">
        <ul class="other-option">
          <li><a><span class="icon-share"></span>Bagikan</a></li>
          <li><a><span class="icon-warning"></span>Laporkan Barang</a></li>
        </ul>
      </div>
    </div>


    <!-- js -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="../component/OwlCarousel/dist/owl.carousel.min.js"></script>
    <script src="../js/script.js"></script>
  </body>
</html>