<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Komuto</title>

    <link href="../dist/css/style.css" rel="stylesheet">
    <link href="../component/OwlCarousel/dist/assets/owl.carousel.min.css" rel="stylesheet">
    <link href="../component/OwlCarousel/dist/assets/owl.theme.default.min.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
    <div class="main no-padding-bottom bg-grey">
      <nav class="level header is-fullwidth">
        <div class="nav-left">
          <a class="level-item">
            <span class="is-paddingless"><span class="icon-arrow-left"></span> Pembayaran</span>
          </a>
        </div>
      </nav>

      <section class="section payment">
        <div class="box-rounded">
          <div class="total-detail">
            <ul class="list-inline col2">
              <li>
                <span>Total Pembayaran</span>
                <span class="price">Rp 250.219</span>
              </li>
              <li class="has-text-right">
                <a class="button is-primary is-outlined full-rounded">Detail</a>
              </li>
            </ul>
            <div class="text-msg">
              Harga sudah termasuk pajak dan biaya lainnya
            </div>
          </div>
        </div>

        <div class="title-content">
          <h3>Pilih Metode Pembayaran</h3>
        </div>
        <div class="box-rounded">
          <div class="payment-method">
            Saldo (Rp 450.000)
            <span class="icon-arrow-right"></span>
          </div>
        </div>

        <div class="box-rounded">
          <div class="payment-method">
            Transfer Bank
            <span class="icon-arrow-right"></span>
          </div>
          <ul class="list-inline pay-method-option">
            <li><a><img src="../images/mandiri.png" alt=""></a></li>
            <li><a><img src="../images/bca.png" alt=""></a></li>
            <li><a><img src="../images/bni.png" alt=""></a></li>
            <li><a><img src="../images/bri.png" alt=""></a></li>
          </ul>
        </div>

        <div class="box-rounded">
          <div class="payment-method">
            Kartu Kredit
            <span class="icon-arrow-right"></span>
          </div>
          <ul class="list-inline pay-method-option">
            <li><a><img src="../images/visa.png" alt=""></a></li>
            <li><a><img src="../images/mc-sc.png" alt=""></a></li>
          </ul>
        </div>

        <div class="box-rounded">
          <div class="payment-method">
            Virtual Account (ATM)
            <span class="icon-arrow-right"></span>
          </div>
          <ul class="list-inline pay-method-option">
            <li><a><img src="../images/atmbersama.png" alt=""></a></li>
            <li><a><img src="../images/prima.png" alt=""></a></li>
            <li><a><img src="../images/alto.png" alt=""></a></li>
          </ul>
        </div>

        <div class="box-rounded">
          <div class="payment-method">
            VMandiri ClickPay
            <span class="icon-arrow-right"></span>
          </div>
          <ul class="list-inline pay-method-option">
            <li><a><img src="../images/mandiri-clickpay.png" alt=""></a></li>
          </ul>
        </div>

        <div class="box-rounded">
          <div class="payment-method">
            E-Pay BRI
            <span class="icon-arrow-right"></span>
          </div>
          <ul class="list-inline pay-method-option">
            <li><a><img src="../images/epay-bri.png" alt=""></a></li>
          </ul>
        </div>

        <div class="box-rounded">
          <div class="payment-method">
            DOKU Wallet
            <span class="icon-arrow-right"></span>
          </div>
          <ul class="list-inline pay-method-option">
            <li><a><img src="../images/doku-wallet.png" alt=""></a></li>
          </ul>
        </div>

        <div class="box-rounded">
          <div class="payment-method">
            AlfaMart
            <span class="icon-arrow-right"></span>
          </div>
          <ul class="list-inline pay-method-option">
            <li><a><img src="../images/alfamart.png" alt=""></a></li>
            <li><a><img src="../images/alfamidi.png" alt=""></a></li>
          </ul>
        </div>
      </section>



    <!-- js -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="../component/OwlCarousel/dist/owl.carousel.min.js"></script>
    <script src="../js/script.js"></script>
  </body>
</html>