<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Komuto</title>

    <link href="../dist/css/style.css" rel="stylesheet">
    <link href="../component/slick-1.6.0/slick/slick.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
    <div class="main user bg-white">
      <nav class="level header is-fullwidth">
        <div class="nav-left">
          <a class="level-item">
            <span class="is-paddingless">Kirim Pesan</span>
          </a>
        </div>
        <div class="button-search">
          <span class="icon-close white"></span>
        </div>
      </nav>
      <section class="section is-paddingless bg-white">
        <div class="profile-wrapp border-bottom">
          <ul>
            <li>
              <div class="box is-paddingless">
                <article class="media">
                  <div class="media-left">
                    <figure class="image product-pict">
                      <img src="../images/pict.jpg" alt="pict">
                    </figure>
                  </div>
                  <div class="media-content">
                    <div class="content reseller">
                      <p class="products-name">
                        <strong>DropShop Quality</strong>
                        <br>
                        <span>Reseller</span>
                      </p>
                    </div>
                  </div>
                </article>
              </div>
            </li>
          </ul>
        </div>
        <div class="add-discussion">
          <div class="field">
            <label>Judul Pesan</label>
            <p class="control">
              <input type="text" class="input" value="Tolong ordernya diproses">
            </p>
          </div>
          <div class="field">
            <label>Pesan Anda</label>
            <p class="control">
              <textarea class="textarea text-discus" rows="3">INVOICE: http://tokogalaksi/invoiceno... Halo Gan, mau ngasih tahu kalau barang yang ini adanya tinggal merah dan biru. Jadi agan bisa tanya ke pembelinya apakah mau lanjut atau kagak</textarea>
            </p>
            <p class="control">
              <button class="button is-primary is-large is-fullwidth">Kirim Pesan</button>
            </p>
          </div>
        </div>
      </section>

    </div>

    <!-- js -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="../component/slick-1.6.0/slick/slick.min.js"></script>
    <script src="../js/script.js"></script>
  </body>
</html>