<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Komuto</title>

    <link href="../dist/css/style.css" rel="stylesheet">
    <link href="../component/slick-1.6.0/slick/slick.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
    <div class="main no-padding-bottom bg-grey">
      <nav class="level header is-fullwidth">
        <div class="nav-left">
          <a class="level-item">
            <span class="is-paddingless"><span class="icon-arrow-left"></span> Penjualan</span>
          </a>
        </div>
      </nav>
      <section class="section is-paddingless has-shadow">
        <div class="seller-akun">
          <div class="profile-wrapp">
            <ul>
              <li>
                <div class="box is-paddingless">
                  <article class="media">
                    <div class="media-left">
                      <figure class="image">
                        <span class="icon-pesanan-baru"></span>
                      </figure>
                    </div>
                    <div class="media-content">
                      <div class="content">
                        <p>
                          <strong>Pesanan Baru</strong>
                        </p>
                        <div class="val-right"><strong>30</strong></div>
                      </div>
                    </div>
                  </article>
                </div>
                <span class="icon-arrow-right"></span>
              </li>
              <li>
                <div class="box is-paddingless">
                  <article class="media">
                    <div class="media-left">
                      <figure class="image">
                        <span class="icon-konfirmasi-pengiriman"></span>
                      </figure>
                    </div>
                    <div class="media-content">
                      <div class="content">
                        <p>
                          <strong>Konfirmasi Pengiriman</strong>
                        </p>
                        <div class="val-right"><strong>20</strong></div>
                      </div>
                    </div>
                  </article>
                </div>
                <span class="icon-arrow-right"></span>
              </li>
              <li>
                <div class="box is-paddingless">
                  <article class="media">
                    <div class="media-left">
                      <figure class="image">
                        <span class="icon-daftar-penjualan"></span>
                      </figure>
                    </div>
                    <div class="media-content">
                      <div class="content">
                        <p>
                          <strong>Daftar Penjualan</strong><br>
                        </p>
                        <div class="val-right"><span class="notif-akun">5</span></div>
                      </div>
                    </div>
                  </article>
                </div>
                <span class="icon-arrow-right"></span>
              </li>
            </ul>
          </div>
        </div>
      </section>
    </div>

    <!-- js -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="../component/slick-1.6.0/slick/slick.min.js"></script>
    <script src="../js/script.js"></script>
  </body>
</html>