<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Komuto</title>

    <link href="../dist/css/style.css" rel="stylesheet">
    <link href="../component/OwlCarousel/dist/assets/owl.carousel.min.css" rel="stylesheet">
    <link href="../component/OwlCarousel/dist/assets/owl.theme.default.min.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
    <div class="main detail bg-grey">
      <nav class="level header is-fullwidth">
        <div class="nav-left">
          <a class="level-item">
            <span class="is-paddingless"><span class="icon-arrow-left"></span> Masukkan Informasi Pengiriman</span>
          </a>
        </div>
      </nav>
      <div class="nav-tabs">
        <a class="active"><span class="text">Nomor Resi</span></a>
        <a><span class="text">Detail</span></a>
      </div>

      <section class="section is-paddingless has-shadow">
        <div class="box notif-payment-waiting">
          <article class="media">
            <div class="media-left">
              <figure class="image user-pict">
                <img src="../images/icon-info-blue.svg" alt="pict">
              </figure>
            </div>
            <div class="media-content">
              <div class="content">
                <p>
                  <strong>Anda memiliki waktu 3 hari sampai tanggal 17 Oktober 2017 untuk menginformasikan nomor resi. Jika tidak kami akan membatalkan pesanan ini</strong>
                </p>
              </div>
            </div>
          </article>
        </div>
        <div class="info-purchase">
          <div class="detail-rate is-purchase">
            <div class="columns total-items is-mobile is-multiline no-margin-bottom">
              <div class="column">
                <div class="rating-content is-left">
                  <strong>Jonathan Hope</strong>
                </div>
              </div>
              <ul class="seller-items">
                <li>
                  <a><img src="../images/pict.jpg" alt="komuto"></a>
                </li>
                <li>
                  <a><img src="../images/pict.jpg" alt="komuto"></a>
                </li>
              </ul>
            </div>
          </div>
        </div>
        
      </section>
      <section class="section is-paddingless has-shadow">
        <div class="info-purchase">
          <div class="detail-rate is-purchase">
            <div class="columns total-items is-mobile is-multiline no-margin-bottom">
              <div class="column is-half">
                <div class="r is-left">
                  <strong class="bold">Info Pengiriman</strong>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="info-purchase">
          <div class="detail-rate is-purchase">
            <div class="columns total-items is-mobile is-multiline no-margin-bottom">
              <div class="column is-half">
                <div class="rating-content is-left">
                  <strong>Kurir Pengiriman</strong>
                </div>
              </div>
              <div class="column is-half">
                <div class="rating-content item-qty has-text-right">
                  <span class="has-text-left text-grey">JNE</span>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="info-purchase">
          <div class="detail-rate is-purchase">
            <div class="columns total-items is-mobile is-multiline no-margin-bottom">
              <div class="column is-half">
                <div class="rating-content is-left">
                  <strong>Paket Pengiriman</strong>
                </div>
              </div>
              <div class="column is-half">
                <div class="rating-content item-qty has-text-right">
                  <span class="has-text-left text-grey">Reguler</span>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="info-purchase">
          <div class="detail-rate is-purchase">
            <div class="columns total-items is-mobile is-multiline no-margin-bottom">
              <div class="column is-half">
                <div class="rating-content is-left">
                  <strong>Asuransi</strong>
                </div>
              </div>
              <div class="column is-half">
                <div class="rating-content item-qty has-text-right">
                  <span class="has-text-left text-grey">Ya</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section class="section is-paddingless has-shadow">
        <div class="content-header">
          <h3>Nomor Resi</h3>
        </div>
        <div class="content-body">
          <input type="text" class="input" placeholder="Masukkan nomor resi disini">
        </div>
      </section>
      <section class="section is-paddingless">
        <div class="container is-fluid">
          <a class="button is-primary is-large is-fullwidth">Kirim Pesan ke Seller</a>
        </div>
      </section>
    </div>


    <!-- js -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="../component/OwlCarousel/dist/owl.carousel.min.js"></script>
    <script src="../js/script.js"></script>
  </body>
</html>