<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Komuto</title>

    <link href="../dist/css/style.css" rel="stylesheet">
    <link href="../component/OwlCarousel/dist/assets/owl.carousel.min.css" rel="stylesheet">
    <link href="../component/OwlCarousel/dist/assets/owl.theme.default.min.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
    <div class="main detail bg-grey">
      <nav class="level header is-fullwidth">
        <div class="nav-left">
          <a class="level-item">
            <span class="is-paddingless"><span class="icon-arrow-left"></span> Detail</span>
          </a>
        </div>
        <div class="button-search">
          <span class="icon-dots"></span>
        </div>
      </nav>

      <section class="section is-paddingless has-shadow">
        <div class="columns custom">
          <div class="slide-product owl-theme">
            <div class="item">
              <div class="column">
                <div class="box grid">
                  <div class="media">
                    <div class="media-left">
                      <figure class="image">
                        <a><img src="../images/thumb.jpg" alt="Image"></a>
                      </figure>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="item">
              <div class="column">
                <div class="box grid">
                  <div class="media">
                    <div class="media-left">
                      <figure class="image">
                        <a><img src="../images/thumb.jpg" alt="Image"></a>
                      </figure>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="item">
              <div class="column">
                <div class="box grid">
                  <div class="media">
                    <div class="media-left">
                      <figure class="image">
                        <a><img src="../images/thumb.jpg" alt="Image"></a>
                      </figure>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="item">
              <div class="column">
                <div class="box grid">
                  <div class="media">
                    <div class="media-left">
                      <figure class="image">
                        <a><img src="../images/thumb.jpg" alt="Image"></a>
                      </figure>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="item">
              <div class="column">
                <div class="box grid">
                  <div class="media">
                    <div class="media-left">
                      <figure class="image">
                        <a><img src="../images/thumb.jpg" alt="Image"></a>
                      </figure>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="detail-product">
          <h3>Blue Training Kit Machester United</h3>
          <span class="price">Rp 1.350.000</span>
          <span class="icon-wishlist"></span>
        </div>
        <div class="detail-rate">
          <div class="columns detail-rating is-mobile is-multiline no-margin-bottom">
            <div class="column is-half">
              <div class="rating-content is-left">
                <h3>Kualitas Produk</h3>
                <span class="star-rating">
                  <input type="radio" name="rating" value="1"><i></i>
                  <input type="radio" name="rating" value="2"><i></i>
                  <input type="radio" name="rating" value="3"><i></i>
                  <input type="radio" name="rating" value="4"><i></i>
                  <input type="radio" name="rating" value="5"><i></i>
                </span>
                <span class="value-rate sm">4.5</span>
              </div>
            </div>
            <div class="column is-half">
              <div class="rating-content is-left">
                <h3>Akurasi Produk</h3>
                <span class="star-rating">
                  <input type="radio" name="rating" value="1"><i></i>
                  <input type="radio" name="rating" value="2"><i></i>
                  <input type="radio" name="rating" value="3"><i></i>
                  <input type="radio" name="rating" value="4"><i></i>
                  <input type="radio" name="rating" value="5"><i></i>
                </span>
                <span class="value-rate sm">4.5</span>
              </div>
            </div>
          </div>
        </div>
        <div class="detail-result">
          <ul>
            <li>
              <div class="columns custom is-mobile">
                <div class="column is-half"><strong>Stok Barang</strong></div>
                <div class="column is-half has-text-right"><span>120</span></div>
              </div>
            </li>
            <li>
              <div class="columns custom is-mobile">
                <div class="column is-half"><strong>Dilihat</strong></div>
                <div class="column is-half has-text-right"><span>1.760 kali</span></div>
              </div>
            </li>
            <li>
              <div class="columns custom is-mobile">
                <div class="column is-half"><strong>Terjual</strong></div>
                <div class="column is-half has-text-right"><span>250</span></div>
              </div>
            </li>
          </ul>
        </div>
      </section>
      <section class="section is-paddingless has-shadow">
        <div class="container is-fluid">
          <div class="title">
            <h3>Informasi Produk</h3>
          </div>
        </div>
        <div class="info-product">
          <div class="detail-rate">
            <div class="columns detail-rating is-mobile is-multiline no-margin-bottom">
              <div class="column is-half">
                <div class="rating-content is-left">
                  <h3>Berat</h3>
                  <span>120 gram</span>
                </div>
              </div>
              <div class="column is-half">
                <div class="rating-content is-left">
                  <h3>Kondisi</h3>
                  <span>Baru</span>
                </div>
              </div>
            </div>
          </div>
          <div class="detail-rate">
            <div class="columns detail-rating is-mobile is-multiline no-margin-bottom">
              <div class="column is-half">
                <div class="rating-content is-left">
                  <h3>Asuransi</h3>
                  <span>Opsional</span>
                </div>
              </div>
              <div class="column is-half">
                <div class="rating-content is-left">
                  <h3>Kategori</h3>
                  <span>Peralatan Olahraga</span>
                </div>
              </div>
            </div>
          </div>
          <div class="detail-rate">
            <div class="columns detail-rating is-mobile is-multiline no-margin-bottom">
              <div class="column">
                <div class="rating-content is-left">
                  <h3>Deskripsi</h3>
                  <div class="desc-wrapp">
                    <span>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris</span>
                  </div>
                  <a class="js-desc open-desc has-text-centered"><span class="icon-arrow-down"></span></a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section class="section is-paddingless has-shadow">
        <div class="container is-fluid">
          <div class="title">
            <h3>Ulasan (58)</h3>
          </div>
        </div>
        <div class="review-content">
          <div class="profile-content rating">
            <div class="profile-wrapp is-paddingless">
              <ul class="detail-seller">
                <li>
                  <div class="box is-paddingless">
                    <article class="media">
                      <div class="media-left">
                        <figure class="image user-pict">
                          <img src="../images/pict.jpg" alt="pict">
                        </figure>
                      </div>
                      <div class="media-content">
                        <div class="content">
                          <p class="user-name">
                            <strong>Budi Budiman</strong>
                            <br>
                            <span>5 hari yang lalu</span>
                          </p>
                        </div>
                      </div>
                    </article>
                  </div>
                </li>
              </ul>
            </div>
          </div>
          <div class="columns detail-rating is-mobile is-multiline no-margin-bottom">
            <div class="column is-half">
              <div class="rating-content is-left">
                <h3>Kualitas Produk</h3>
                <span class="value-rate">4.5</span>
                <span class="star-rating">
                  <input type="radio" name="rating" value="1"><i></i>
                  <input type="radio" name="rating" value="2"><i></i>
                  <input type="radio" name="rating" value="3"><i></i>
                  <input type="radio" name="rating" value="4"><i></i>
                  <input type="radio" name="rating" value="5"><i></i>
                </span>
              </div>
            </div>
            <div class="column is-half">
              <div class="rating-content is-left">
                <h3>Akurasi Produk</h3>
                <span class="value-rate">4.5</span>
                <span class="star-rating">
                  <input type="radio" name="rating" value="1"><i></i>
                  <input type="radio" name="rating" value="2"><i></i>
                  <input type="radio" name="rating" value="3"><i></i>
                  <input type="radio" name="rating" value="4"><i></i>
                  <input type="radio" name="rating" value="5"><i></i>
                </span>
              </div>
            </div>
            <div class="column">
              <p class="desc">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            </div>
          </div>
        </div>
        <div class="review-content">
          <div class="profile-content rating">
            <div class="profile-wrapp is-paddingless">
              <ul class="detail-seller">
                <li>
                  <div class="box is-paddingless">
                    <article class="media">
                      <div class="media-left">
                        <figure class="image user-pict">
                          <img src="../images/pict.jpg" alt="pict">
                        </figure>
                      </div>
                      <div class="media-content">
                        <div class="content">
                          <p class="user-name">
                            <strong>Budi Budiman</strong>
                            <br>
                            <span>5 hari yang lalu</span>
                          </p>
                        </div>
                      </div>
                    </article>
                  </div>
                </li>
              </ul>
            </div>
          </div>
          <div class="columns detail-rating is-mobile is-multiline no-margin-bottom">
            <div class="column is-half">
              <div class="rating-content is-left">
                <h3>Kualitas Produk</h3>
                <span class="value-rate">4.5</span>
                <span class="star-rating">
                  <input type="radio" name="rating" value="1"><i></i>
                  <input type="radio" name="rating" value="2"><i></i>
                  <input type="radio" name="rating" value="3"><i></i>
                  <input type="radio" name="rating" value="4"><i></i>
                  <input type="radio" name="rating" value="5"><i></i>
                </span>
              </div>
            </div>
            <div class="column is-half">
              <div class="rating-content is-left">
                <h3>Akurasi Produk</h3>
                <span class="value-rate">4.5</span>
                <span class="star-rating">
                  <input type="radio" name="rating" value="1"><i></i>
                  <input type="radio" name="rating" value="2"><i></i>
                  <input type="radio" name="rating" value="3"><i></i>
                  <input type="radio" name="rating" value="4"><i></i>
                  <input type="radio" name="rating" value="5"><i></i>
                </span>
              </div>
            </div>
            <div class="column">
              <p class="desc">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            </div>
          </div>
        </div>
        <div class="column is-paddingless">
          <div class="see-all">
            <span class="link">Lihat semua ulasan <span class="icon-arrow-right"></span></span>
          </div>
        </div>
      </section>
      <section class="section is-paddingless has-shadow">
        <div class="container is-fluid">
          <div class="title">
            <h3>Estimasi Pengiriman</h3>
          </div>
        </div>
        <div class="info-product">
          <div class="detail-rate">
            <div class="columns detail-rating is-mobile is-multiline no-margin-bottom">
              <div class="column is-half">
                <div class="rating-content is-left">
                  <strong>Jumlah Barang</strong>
                </div>
              </div>
              <div class="column is-half">
                <div class="rating-content is-left has-text-centered">
                  <a><span class="icon-qty-min"></span></a>
                  <span class="qty">1</span>
                  <a><span class="icon-qty-plus"></span></a>
                </div>
              </div>
            </div>
            <div class="detail-result solid">
                <strong>Lokasi Pengiriman</strong>
                <ul>
                  <li>
                    <div class="detail-address">
                      <span class="label">Provinsi:</span>
                      <span class="location-label js-location" data-target="#province">Yogyakarta</span>
                    </div>
                  </li>
                  <li>
                    <div class="detail-address">
                      <span class="label">Kabupaten:</span>
                      <span class="location-label js-location" data-target="#district">Bantul</span>
                    </div>
                  </li>
                  <li>
                    <div class="detail-address">
                      <span class="label">Kecamatan:</span>
                      <span class="location-label js-location" data-target="#districts">Sedayu</span>
                    </div>
                  </li>
                </ul>
            </div>
            <div class="detail-result white">
              <ul>
                <li>
                  <div class="columns custom is-mobile">
                    <div class="column"><span>JNE REG</span></div>
                    <div class="column has-text-right"><span>328.000</span></div>
                    <div class="column has-text-right"><span>2-3 hari</span></div>
                  </div>
                </li>
                <li>
                  <div class="columns custom is-mobile">
                    <div class="column"><span>TIKI ONS</span></div>
                    <div class="column has-text-right"><span>328.000</span></div>
                    <div class="column has-text-right"><span>1-2 hari</span></div>
                  </div>
                </li>
                <li>
                  <div class="columns custom is-mobile">
                    <div class="column"><span>TIKI REG</span></div>
                    <div class="column has-text-right"><span>328.000</span></div>
                    <div class="column has-text-right"><span>2-4 hari</span></div>
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </section>
      <section class="section is-paddingless has-shadow">
        <div class="info-product">
          <div class="detail-rate">
            <div class="columns detail-rating is-mobile is-multiline no-margin-bottom">
              <div class="column is-half">
                <div class="rating-content is-left">
                  <div class="box">
                    <div class="media">
                      <div class="media-left">
                        <figure class="image">
                          <a><img src="../images/thumb.jpg" alt="Image"></a>
                        </figure>
                      </div>
                      <div class="media-content">
                        <div class="content">
                          <h4>Sports Station <span class="icon-verified"></span></h4>
                          <div class="detail">
                            <p>DKI Jakarta </p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="column is-half">
                <div class="rating-content is-left">
                  <a class="button is-primary is-outlined"><span class="icon-selected-sign"></span> Di Favoritkan</a>
                </div>
              </div>
            </div>
          </div>
          <div class="detail-rate">
            <div class="columns detail-rating is-mobile is-multiline no-margin-bottom">
              <div class="column">
                <div class="rating-content is-left">
                  <h3>Terms and Conditions</h3>
                  <div class="desc-wrapp">
                    <ul>
                      <li><span>-</span> Lorem ipsum dolor sit amet, consectetur adipiscing elit</li>
                      <li><span>-</span> Lorem ipsum dolor sit amet, consectetur adipiscing elit</li>
                      <li><span>-</span> Lorem ipsum dolor sit amet, consectetur adipiscing elit</li>
                      <li><span>-</span> Lorem ipsum dolor sit amet, consectetur adipiscing elit</li>
                      <li><span>-</span> Lorem ipsum dolor sit amet, consectetur adipiscing elit</li>
                      <li><span>-</span> Lorem ipsum dolor sit amet, consectetur adipiscing elit</li>
                      <li><span>-</span> Lorem ipsum dolor sit amet, consectetur adipiscing elit</li>
                      <li><span>-</span> Lorem ipsum dolor sit amet, consectetur adipiscing elit</li>
                      <li><span>-</span> Lorem ipsum dolor sit amet, consectetur adipiscing elit</li>
                      <li><span>-</span> Lorem ipsum dolor sit amet, consectetur adipiscing elit</li>
                      <li><span>-</span> Lorem ipsum dolor sit amet, consectetur adipiscing elit</li>
                    </ul>
                  </div>
                  <a class="js-desc open-desc has-text-centered"><span class="icon-arrow-down"></span></a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section class="section is-paddingless has-shadow">
        <div class="container is-fluid">
          <div class="title">
            <h3>Produk lain dari Penjual ini</h3>
          </div>
        </div>
        <div class="columns is-mobile is-multiline custom">
          <div class="column">
            <div class="box list">
              <div class="media">
                <div class="media-left">
                  <figure class="image">
                    <a><img src="../images/thumb.jpg" alt="Image"></a>
                    <div class="pin"><span>Grosir</span></div>
                  </figure>
                </div>
                <div class="media-content">
                  <div class="content">
                    <h4>Casual and Light Nike Shoes Running</h4>
                    <div class="detail">
                      <p>GadgetArena <span class="icon-verified"></span></p>
                      <div class="discount"></div>
                      <span class="price">Rp 10.500.000 </span>
                      <span class="wish"><span class="icon-wishlist wishlisted"></span>1200</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="columns is-mobile is-multiline custom">
          <div class="column">
            <div class="box list">
              <div class="media">
                <div class="media-left">
                  <figure class="image">
                    <a><img src="../images/thumb.jpg" alt="Image"></a>
                    <div class="pin disc"><span>58%</span></div>
                  </figure>
                </div>
                <div class="media-content">
                  <div class="content">
                    <h4>Casual and Light Nike Shoes Running</h4>
                    <div class="detail">
                      <p>GadgetArena <span class="icon-verified"></span></p>
                      <div class="discount">Rp 10.560.000</div>
                      <span class="price">Rp 10.500.000 </span>
                      <span class="wish"><span class="icon-wishlist wishlisted"></span>1200</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="columns is-mobile is-multiline custom">
          <div class="column">
            <div class="box list">
              <div class="media">
                <div class="media-left">
                  <figure class="image">
                    <a><img src="../images/thumb.jpg" alt="Image"></a>
                    <div class="pin disc"><span>58%</span></div>
                  </figure>
                </div>
                <div class="media-content">
                  <div class="content">
                    <h4>Casual and Light Nike Shoes Running</h4>
                    <div class="detail">
                      <p>GadgetArena <span class="icon-verified"></span></p>
                      <div class="discount">Rp 10.560.000</div>
                      <span class="price">Rp 10.500.000 </span>
                      <span class="wish"><span class="icon-wishlist wishlisted"></span>1200</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="columns is-mobile is-multiline custom">
          <div class="column">
            <div class="box list">
              <div class="media">
                <div class="media-left">
                  <figure class="image">
                    <a><img src="../images/thumb.jpg" alt="Image"></a>
                    <div class="pin disc"><span>58%</span></div>
                  </figure>
                </div>
                <div class="media-content">
                  <div class="content">
                    <h4>Casual and Light Nike Shoes Running</h4>
                    <div class="detail">
                      <p>GadgetArena <span class="icon-verified"></span></p>
                      <div class="discount">Rp 10.560.000</div>
                      <span class="price">Rp 10.500.000 </span>
                      <span class="wish"><span class="icon-wishlist"></span>1200</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="column is-paddingless">
          <div class="see-all">
            <span class="link">Lihat semua product terbaru <span class="icon-arrow-right"></span></span>
          </div>
        </div>
      </section>
      <div class="level nav-bottom nav-button is-mobile">
        <a class="button is-m-lg is-fullwidth is-outlined"><span class="icon-comment black"></span> Diskusi (278)</a>
        <a class="button is-primary is-m-lg is-fullwidth">Beli Sekarang</a>
      </div>
    </div>

    <!-- option -->
    <div class="sort-option" id="province">
      <div class="sort-list">
        <p><strong>Pilih Provinsi</strong></p>
        <form action="#" class="form">
          <div class="field">
            <div class="control province-option">
              <label class="radio">
                <input type="radio" name="provinsi">
                DKI Jakarta
              </label>
              <label class="radio">
                <input type="radio" name="provinsi">
                DI Yogyakarta
              </label>
              <label class="radio">
                <input type="radio" name="provinsi">
                Jawa Barat
              </label>
              <label class="radio">
                <input type="radio" name="provinsi">
                Jawa Tengah
              </label>
              <label class="radio">
                <input type="radio" name="provinsi">
                Jawa Timur
              </label>
              <label class="radio">
                <input type="radio" name="provinsi">
                Sumatera Barat
              </label>
              <label class="radio">
                <input type="radio" name="provinsi">
                Sumatera Selatan
              </label>
            </div>
          </div>
        </form>
      </div>
    </div>

    <div class="sort-option" id="district">
      <div class="sort-list">
        <p><strong>Pilih Kabupaten</strong></p>
        <form action="#" class="form">
          <div class="field">
            <div class="control province-option">
              <label class="radio">
                <input type="radio" name="provinsi">
                Bantul
              </label>
              <label class="radio">
                <input type="radio" name="provinsi">
                Seleman
              </label>
              <label class="radio">
                <input type="radio" name="provinsi">
                Kulon Progo
              </label>
            </div>
          </div>
        </form>
      </div>
    </div>

    <div class="sort-option" id="districts">
      <div class="sort-list">
        <p><strong>Pilih Kecamatan</strong></p>
        <form action="#" class="form">
          <div class="field">
            <div class="control province-option">
              <label class="radio">
                <input type="radio" name="provinsi">
                Sedayu
              </label>
              <label class="radio">
                <input type="radio" name="provinsi">
                Wirobrajan
              </label>
              <label class="radio">
                <input type="radio" name="provinsi">
                Karangbendo
              </label>
            </div>
          </div>
        </form>
      </div>
    </div>


    <!-- js -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="../component/OwlCarousel/dist/owl.carousel.min.js"></script>
    <script src="../js/script.js"></script>
  </body>
</html>