<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Komuto</title>

    <link href="../css/style.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
    <div class="main user">
      <nav class="level header is-fullwidth">
        <div class="container is-fluid">
          <a class="level-item">
            <span><span class="icon-arrow-left"></span> Lupa Password</span>
          </a>
        </div>
      </nav>
      <section class="content">
        <div class="container is-fluid">
          <div class="desc has-text-centered">
            <img src="../images/phone-account.svg" alt="komuto">
            <p><strong>Masuk ke Akun Anda untuk mempermudah proses pembelian</strong></p>
            <p>Terima Kasih, Anda telah berhasil melakukan pembelian Token Listrik. Untuk melihat Token silahkan menuju bagian Transaksi</p>
          </div>
          <div class="columns is-mobile">
            <div class="column">
              <a class="button is-primary is-large is-fullwidth is-outlined">Register</a>
            </div>
            <div class="column">
              <a class="button is-primary is-large is-fullwidth">Login</a>
            </div>
          </div>
        </div>
      </section>

      <div class="level nav-bottom is-mobile">
        <a class="level-item has-text-centered"><span class="icon-home"></span>Home</a>
        <a class="level-item has-text-centered"><span class="icon-bag"></span>Transaksi</a>
        <a class="level-item has-text-centered"><span class="icon-bell"></span>Notifikasi</a>
        <a class="level-item has-text-centered is-active"><span class="icon-user"></span>Profil</a>
      </div>
    </div>

    <!-- js -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="../js/script.js"></script>
  </body>
</html>