<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Komuto</title>

    <link href="../dist/css/style.css" rel="stylesheet">
    <link href="../component/slick-1.6.0/slick/slick.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
    <div class="main user bg-grey">
      <nav class="level header is-fullwidth">
        <div class="nav-left">
          <a class="level-item">
            <span class="is-paddingless">Profil</span>
          </a>
        </div>
      </nav>
      <section class="section is-paddingless bg-white">
        <div class="profile-wrapp">
          <ul>
            <li>
              <div class="box is-paddingless">
                <article class="media">
                  <div class="media-left">
                    <figure class="image user-pict">
                      <img src="../images/pict.jpg" alt="pict">
                    </figure>
                  </div>
                  <div class="media-content">
                    <div class="content">
                      <p class="user-name">
                        <strong>Dwinawan Hariwijaya</strong>
                        <br>
                        Kelola Akun
                      </p>
                      <div class="val-right"><span class="notif-akun">1</span></div>
                    </div>
                  </div>
                </article>
              </div>
             <span class="icon-arrow-right"></span>
            </li>
            <li>
              <div class="box is-paddingless">
                <article class="media">
                  <div class="media-left">
                    <figure class="image">
                      <span class="icon-saldo"></span>
                    </figure>
                  </div>
                  <div class="media-content">
                    <div class="content">
                      <p>
                        <strong>Saldo</strong>
                      </p>
                      <div class="val-right"><span>Rp 580.000</span></div>
                    </div>
                  </div>
                </article>
              </div>
              <span class="icon-arrow-right"></span>
            </li>
            <li>
              <div class="box is-paddingless">
                <article class="media">
                  <div class="media-left">
                    <figure class="image">
                      <span class="icon-list-lg"></span>
                    </figure>
                  </div>
                  <div class="media-content">
                    <div class="content">
                      <p>
                        <strong>Daftar Toko Favorit</strong>
                      </p>
                    </div>
                  </div>
                </article>
              </div>
              <span class="icon-arrow-right"></span>
            </li>
          </ul>
        </div>
      </section>

      <section class="section is-paddingless bg-white">
        <div class="profile-wrapp">
          <ul>
            <li>
              <div class="box is-paddingless">
                <article class="media">
                  <div class="media-left">
                    <figure class="image">
                      <span class="icon-toko"></span>
                    </figure>
                  </div>
                  <div class="media-content">
                    <div class="content">
                      <p>
                        <strong>Anda belum memiliki Toko</strong><br>
                        Buat Sekarang
                      </p>
                    </div>
                  </div>
                </article>
              </div>
              <span class="icon-arrow-right"></span>
            </li>
          </ul>
        </div>
      </section>

      <div class="level nav-bottom is-mobile">
        <a class="level-item has-text-centered is-active"><span class="icon-home"></span>Home</a>
        <a class="level-item has-text-centered"><span class="icon-bag"></span>Transaksi</a>
        <a class="level-item has-text-centered"><span class="icon-bell"></span>Notifikasi</a>
        <a class="level-item has-text-centered"><span class="icon-user"></span>Profil</a>
      </div>
    </div>

    <!-- js -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="../component/slick-1.6.0/slick/slick.min.js"></script>
    <script src="../js/script.js"></script>
  </body>
</html>