<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Komuto</title>

    <link href="../dist/css/style.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
    <div class="main user">
      <nav class="level header is-fullwidth">
        <div class="nav-left">
          <a class="level-item">
            <span><span class="back"><span class="icon-arrow-left"></span></span> Register</span>
          </a>
        </div>
      </nav>
      <section class="hero">
        <div class="container is-fluid">
          <p>Sudah punya akun? <a href="login.html">Login Disini</a></p>
        </div>
      </section>
      <section class="content">
        <div class="container is-fluid">
          <form action="#" class="form">
            <div class="field">
              <p class="control is-error">
                <input class="input" type="text" placeholder="Nama Lengkap">
                <span class="error-msg">Mohon isi nama lengkap</span>
              </p>
            </div>
            <div class="field">
              <p class="control">
                <input class="input" type="text" placeholder="Nomor Handphone">
                <span class="error-msg">Mohon isi nomor handphone</span>
              </p>
            </div>
            <div class="field">
              <p class="control">
                <input class="input" type="text" placeholder="Alamat Email">
                <span class="error-msg">Mohon isi alamat email</span>
              </p>
            </div>
            <div class="field">
              <p class="control">
                <input class="input" type="password" placeholder="Password">
                <span class="error-msg">Mohon isi pasword</span>
              </p>
            </div>
            <div class="field">
              <p class="control">
                <input class="input" type="password" placeholder="Konfirmasi Password">
                <span class="error-msg">Mohon konfirmasi password</span>
              </p>
            </div>
            <div class="field">
              <label class="label">Gender</label>
              <p class="control">
                <label class="radio">
                  <input type="radio" name="question">
                  Pria
                </label>
                <label class="radio">
                  <input type="radio" name="question">
                  Wanita
                </label>
                <span class="error-msg">Mohon pilih gender</span>
              </p>
            </div>
            <div class="field">
              <p>Dengan mendaftar Anda telah menyetujui <a href="#">Syarat dan Ketentuan</a> dari Komuto</p>
            </div>

            <a class="button is-primary is-large is-fullwidth">Register</a>
            <div class="or"><span>Atau</span></div>
            <a class="button is-fb is-large is-fullwidth"><span class="icon-fb"></span>Login dengan facebook</a>
          </form>
        </div>
      </section>
    </div>

    <!-- js -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="../js/script.js"></script>
  </body>
</html>