<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Komuto</title>

    <link href="../dist/css/style.css" rel="stylesheet">
    <link href="../component/OwlCarousel/dist/assets/owl.carousel.min.css" rel="stylesheet">
    <link href="../component/OwlCarousel/dist/assets/owl.theme.default.min.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
    <div class="main no-padding-bottom bg-grey saldo">
      <nav class="level header is-fullwidth">
        <div class="nav-left">
          <a class="level-item">
            <span class="is-paddingless"><span class="icon-arrow-left"></span> Detail Transaksi</span>
          </a>
        </div>
      </nav>
      <section class="section is-paddingless has-shadow">
        <div class="payment-detail bank-transfer">
          <ul>
            <li>
              <div class="invoice-saldo detail-transactoin">
                <div class="columns is-mobile is-multiline no-margin-bottom">
                  <div class="column is-one-third">
                    <div class="label-text is-left">
                      <span>No Invoice</span>
                    </div>
                  </div>
                  <div class="column">
                    <div class="is-left has-text-right">
                      <span>Invoice-83273847492/04/2017</span>
                    </div>
                  </div>
                </div>
              </div>
            </li>
            <li>
              <div class="columns is-mobile is-multiline no-margin-bottom">
                <div class="column is-one-third">
                  <div class="label-text is-left">
                    <span>Jenis Transaksi</span>
                  </div>
                </div>
                <div class="column">
                  <div class="rating-content is-left has-text-right">
                    <span>Pembelian Barang</span>
                  </div>
                </div>
              </div>
            </li>
          </ul>
        </div>
      </section>
      <section class="section is-paddingless has-shadow">
        <div class="detail">
          <div class="detail-product">
            <div class="purchase">
              <figure class="img-item">
                <img src="../images/pict.jpg" alt="pict">
              </figure>
              <h3>Blue Training Kit Machester United</h3>
              <span class="price">Sport Station Shop</span>
            </div>
          </div>
          <div class="detail-purchase summary at-cart">
            <div class="detail-result white">
              <ul class="data-delivery">
                <li>
                  <div class="columns custom is-mobile">
                    <div class="column">
                      <strong>Alamat Pengirim</strong>
                      <span>
                        Samantha William<br>
                        Jalan Wates km 11.<br>
                        Bantul. Yogyakarta, 55752
                      </span>
                    </div>
                  </div>
                </li>
              </ul>
            </div>
          </div>
          <div class="column is-paddingless">
            <div class="see-all">
              <span class="link black js-option" data-target="#kurir">Kurir Pengiriman <span class="kurir">JNE</span><span class="icon-arrow-down"></span></span>
            </div>
            <p class="error-msg">Mohon Pilih Kurir Pengiriman terlebih dahulu</p>
          </div>
          <div class="column is-paddingless">
            <div class="see-all">
              <span class="link black js-option" data-target="#deliveryPackage">Pilih Paket Pengiriman <span class="kurir">Reguler</span><span class="icon-arrow-down"></span></span>
            </div>
            <p class="error-msg">Mohon Pilih Paket Pengiriman terlebih dahulu</p>
          </div>
          <div class="column is-paddingless">
            <div class="see-all">
              <span class="link black js-option" data-target="#insurance">Asuransi <span class="kurir">Tidak</span><span class="icon-arrow-down"></span></span>
            </div>
            <p class="error-msg">Mohon Pilih Paket Pengiriman terlebih dahulu</p>
          </div>
          <div class="detail-purchase summary">
            <div class="detail-result detail-price">
              <h3>Rincian Harga</h3>
              <ul>
                <li>
                  <div class="columns custom is-mobile">
                    <div class="column is-half"><span>Harga Barang</span></div>
                    <div class="column is-half has-text-right"><span>Rp 380.000</span></div>
                  </div>
                </li>
                <li>
                  <div class="columns custom is-mobile">
                    <div class="column is-half"><span>Biaya Asuransi</span></div>
                    <div class="column is-half has-text-right"><span>Rp 10.000</span></div>
                  </div>
                </li>
                <li>
                  <div class="columns custom is-mobile">
                    <div class="column is-half"><span>Ongkos Kirim</span></div>
                    <div class="column is-half has-text-right"><span>Rp 8.000</span></div>
                  </div>
                </li>
                <li>
                  <div class="columns custom is-mobile">
                    <div class="column is-half"><strong>Harga Barang</strong></div>
                    <div class="column is-half has-text-right"><strong>Rp 380.000</strong></div>
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </section>
    </div>

    <!-- ===== -->
    <div class="sort-option">
      <div class="notif-report">
        <img src="../images/transaksi-detail.png" alt="">
        <h3>Ke Halaman Transaksi</h3>
        <p>Kami akan mengarahkan Anda ke Daftar Transaksi Anda</p>
        <button class="button is-primary is-large is-fullwidth">Ke Daftar Transaksi</button>
      </div>
    </div>


    <!-- js -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="../component/OwlCarousel/dist/owl.carousel.min.js"></script>
    <script src="../js/script.js"></script>
  </body>
</html>