<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Komuto</title>

    <link href="../dist/css/style.css" rel="stylesheet">
    <link href="../component/OwlCarousel/dist/assets/owl.carousel.min.css" rel="stylesheet">
    <link href="../component/OwlCarousel/dist/assets/owl.theme.default.min.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
    <div class="main no-padding-bottom saldo">
      <nav class="level header is-fullwidth">
        <div class="nav-left">
          <a class="level-item">
            <span class="is-paddingless"><span class="icon-arrow-left"></span> Status Pengisian Saldo</span>
          </a>
        </div>
      </nav>
      <section class="section is-paddingless">
        <ul class="status-saldo-list">
          <li>
            <div class="columns is-mobile is-multiline no-margin-bottom">
              <div class="column">
                <div class="">
                  <span>12 Sep 2016</span>
                </div>
              </div>
              <div class="column">
                <div class="has-text-centered">
                  <strong>Rp 225.000</strong>
                </div>
              </div>
              <div class="column">
                <div class="has-text-right">
                  <strong class="text-waiting"><span class="icon-waiting-saldo"></span>Menunggu</strong>
                </div>
              </div>
            </div>
          </li>
          <li>
            <div class="columns is-mobile is-multiline no-margin-bottom">
              <div class="column">
                <div class="">
                  <span>12 Sep 2016</span>
                </div>
              </div>
              <div class="column">
                <div class="has-text-centered">
                  <strong>Rp 225.000</strong>
                </div>
              </div>
              <div class="column">
                <div class="has-text-right">
                  <strong class="text-red"><span class="icon-failed-saldo"></span>Gagal</strong>
                </div>
              </div>
            </div>
          </li>
          <li>
            <div class="columns is-mobile is-multiline no-margin-bottom">
              <div class="column">
                <div class="">
                  <span>12 Sep 2016</span>
                </div>
              </div>
              <div class="column">
                <div class="has-text-centered">
                  <strong>Rp 225.000</strong>
                </div>
              </div>
              <div class="column">
                <div class="has-text-right">
                  <strong class="text-red"><span class="icon-failed-saldo"></span>Gagal</strong>
                </div>
              </div>
            </div>
          </li>
          <li>
            <div class="columns is-mobile is-multiline no-margin-bottom">
              <div class="column">
                <div class="">
                  <span>12 Sep 2016</span>
                </div>
              </div>
              <div class="column">
                <div class="has-text-centered">
                  <strong>Rp 225.000</strong>
                </div>
              </div>
              <div class="column">
                <div class="has-text-right">
                  <strong class="text-green"><span class="icon-success-saldo"></span>Sukses</strong>
                </div>
              </div>
            </div>
          </li>
          <li>
            <div class="columns is-mobile is-multiline no-margin-bottom">
              <div class="column">
                <div class="">
                  <span>12 Sep 2016</span>
                </div>
              </div>
              <div class="column">
                <div class="has-text-centered">
                  <strong>Rp 225.000</strong>
                </div>
              </div>
              <div class="column">
                <div class="has-text-right">
                  <strong class="text-green"><span class="icon-success-saldo"></span>Sukses</strong>
                </div>
              </div>
            </div>
          </li>
          <li>
            <div class="columns is-mobile is-multiline no-margin-bottom">
              <div class="column">
                <div class="">
                  <span>12 Sep 2016</span>
                </div>
              </div>
              <div class="column">
                <div class="has-text-centered">
                  <strong>Rp 225.000</strong>
                </div>
              </div>
              <div class="column">
                <div class="has-text-right">
                  <strong class="text-green"><span class="icon-success-saldo"></span>Sukses</strong>
                </div>
              </div>
            </div>
          </li>
          <li>
            <div class="columns is-mobile is-multiline no-margin-bottom">
              <div class="column">
                <div class="">
                  <span>12 Sep 2016</span>
                </div>
              </div>
              <div class="column">
                <div class="has-text-centered">
                  <strong>Rp 225.000</strong>
                </div>
              </div>
              <div class="column">
                <div class="has-text-right">
                  <strong class="text-green"><span class="icon-success-saldo"></span>Sukses</strong>
                </div>
              </div>
            </div>
          </li>
        </ul>
      </section>
    </div>

    <!-- ===== -->


    <!-- js -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="../component/OwlCarousel/dist/owl.carousel.min.js"></script>
    <script src="../js/script.js"></script>
  </body>
</html>