<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Komuto</title>

    <link href="../dist/css/style.css" rel="stylesheet">
    <link href="../component/slick-1.6.0/slick/slick.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
    <div class="main no-padding-bottom bg-grey">
      <nav class="level header is-fullwidth">
        <div class="nav-left">
          <a class="level-item">
            <span><span class="back"><span class="icon-arrow-left"></span></span>Tambah Produk</span>
          </a>
        </div>
      </nav>

      <section class="section is-paddingless">
        <div class="add-product">
          <div class="container is-fluid">
            <div class="title">
              <h3>Tentukan produk yang akan ditambah</h3>
            </div>
          </div>
          <div class="container is-fluid">
            <ul class="add-option">
              <li>
                <div class="box">
                  <article class="media">
                    <div class="media-left">
                      <figure class="image">
                        <span class="icon-upload-product"></span>
                      </figure>
                    </div>
                    <div class="media-content">
                      <div class="content">
                        <p>
                          <strong>Upload Produk Baru</strong><br>
                          Tambahkan produk baru untuk dijual
                        </p>
                      </div>
                    </div>
                  </article>
                </div>
                <span class="icon-arrow-right black"></span>
              </li>
              <li>
                <div class="box">
                  <article class="media">
                    <div class="media-left">
                      <figure class="image">
                        <span class="icon-upload-dropshipper"></span>
                      </figure>
                    </div>
                    <div class="media-content">
                      <div class="content">
                        <p>
                          <strong>Ambil dari Dropshipper</strong><br>
                          Ambil produk dari dropshipper. Dan Anda akan mendapat komisi. penjualan sebesar 10%
                        </p>
                      </div>
                    </div>
                  </article>
                </div>
                <span class="icon-arrow-right"></span>
              </li>
            </ul>
          </div>
        </div>
      </section>
    </div>

    <!-- js -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="../component/slick-1.6.0/slick/slick.min.js"></script>
    <script src="../js/script.js"></script>
  </body>
</html>