<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Komuto</title>

    <link href="../dist/css/style.css" rel="stylesheet">
    <link href="../component/slick-1.6.0/slick/slick.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
    <div class="main bg-grey no-padding-bottom">
      <nav class="level header is-fullwidth">
        <div class="nav-left">
          <a class="level-item">
            <span><span class="back"><span class="icon-arrow-left"></span></span> Pilih Barang dari Dropshipper</span>
          </a>
        </div>
      </nav>
      <section class="section is-paddingless">
        <div class="field search-form paddingless">
          <p class="control has-icons-left">
            <input class="input is-medium" type="text" placeholder="Cari barang atau toko">
            <span class="icon is-left">
              <span class="icon-search"></span>
            </span>
          </p>
        </div>
      </section>

      <section class="section is-paddingless detail">
        <div class="detail-product">
          <div class="remove rightTop">
            <span class="icon-discount-sign"></span>
            <span class="icon-grosir-sign"></span>
          </div>
          <div class="purchase">
            <figure class="img-item xx">
              <img src="../images/pict.jpg" alt="pict">
            </figure>
            <div class="content-product">
            <h3>Blue Training Kit Machester United</h3>
            <p class="dropship-worldsports">Dropship dari WorldSports</p>
            <p>Komisi yang diterima : Rp 50.000</p>
            </div>
          </div>
        </div>
        <div class="detail-product">
          <div class="remove rightTop">
            <span class="icon-discount-sign"></span>
            <span class="icon-grosir-sign"></span>
          </div>
          <div class="purchase">
            <figure class="img-item xx">
              <img src="../images/pict.jpg" alt="pict">
            </figure>
            <div class="content-product">
            <h3>Blue Training Kit Machester United</h3>
            <p>Jumlah Stok : 54</p>
            <p>Harga jual setelah diskon : Rp 1.650.000</p>
            <p>Uang yang diterima : Rp 1.633.000</p>
            </div>
          </div>
        </div>
        <div class="detail-product">
          <div class="remove rightTop">
            <span class="icon-discount-sign"></span>
            <span class="icon-grosir-sign"></span>
          </div>
          <div class="purchase">
            <figure class="img-item xx">
              <img src="../images/pict.jpg" alt="pict">
            </figure>
            <div class="content-product">
            <h3>Blue Training Kit Machester United</h3>
            <p class="dropship-item">Terbuka untuk dropshipper</p>
            <p>Jumlah Stok : 54</p>
            <p>Harga jual setelah diskon : Rp 1.650.000</p>
            <p>Uang yang diterima : Rp 1.633.000</p>
            </div>
          </div>
        </div>
      </section>
    </div>

    <!-- js -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="../component/slick-1.6.0/slick/slick.min.js"></script>
    <script src="../js/script.js"></script>
  </body>
</html>