<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Komuto</title>

    <link href="../dist/css/style.css" rel="stylesheet">
    <link href="../component/slick-1.6.0/slick/slick.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
    <div class="main seller bg-grey">
      <nav class="level header is-fullwidth">
        <div class="nav-left">
          <a class="level-item">
            <span><span class="back"><span class="icon-arrow-left"></span></span> Tempatkan di Katalog</span>
          </a>
        </div>
      </nav>

      <section class="section is-paddingless has-shadow bg-white">
        <div class="seller-bar">
          <div class="seller-step active2"> <!-- Toggle active1, active2, active3, active4 -->
            <div class="step1"><span>1</span></div>
            <div class="step2"><span>2</span></div>
            <div class="step3"><span>3</span></div>
          </div>
        </div>
      </section>

      <section class="section is-paddingless has-shadow">
        <div class="container is-fluid">
          <div class="title">
            <h3>Spesifikasi</h3>
          </div>
        </div>
        <div class="spec-price">
          <div class="field is-horizontal">
            <div class="field-body columns is-mobile">
              <div class="field column">
                <label class="label">Harga Produk</label>
                <p class="control is-expanded price">
                  <span class="currency">Rp</span>
                  <input class="input" type="text" value="1.650.000">
                </p>
              </div>
              <div class="field column is-one-quarter">
                <label class="label">Diskon</label>
                <p class="control is-expanded discount">
                  <span class="disc">%</span>
                  <input class="input" type="text" value="0" >
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="detail spec">
          <div class="detail-result">
            <h3>Rincian Penerimaan</h3>
            <ul>
              <li>
                <div class="columns custom is-mobile">
                  <div class="column is-half">Harga Jual</div>
                  <div class="column is-half has-text-right"><strong>Rp 1.650.000</strong></div>
                </div>
              </li>
              <li>
                <div class="columns custom is-mobile">
                  <div class="column is-half">Komisi  (10%  dari Rp 1.650.000)</div>
                  <div class="column is-half has-text-right"><strong>Rp 16.500</strong></div>
                </div>
              </li>
              <li>
                <div class="columns custom is-mobile">
                  <div class="column is-half">Uang yang akan Anda terima</div>
                  <div class="column is-half has-text-right"><strong class="total">Rp 1.633.500</strong></div>
                </div>
              </li>
            </ul>
          </div>
        </div>
        <div class="spec-price">
          <div class="field">
            <label class="label">Berat Produk</label>
            <p class="control is-expanded discount">
              <span class="disc">Kg</span>
              <input class="input" type="text" value="0.5" >
            </p>
          </div>
          <div class="field">
            <label class="label">Stock Produk</label>
            <p class="control is-expanded">
              <input class="input" type="text" value="0.5">
            </p>
          </div>
          <div class="field radio-horizontal">
            <label class="label">Jenis Produk</label>
            <p class="control">
              <label class="radio primary">
                <input type="radio" name="report">
                <strong>Baru</strong>
              </label>
              <label class="radio primary">
                <input type="radio" name="report">
                <strong>Bekas</strong>
              </label>
            </p>
          </div>
          <div class="field">
            <label class="label">Asuransi Produk</label>
            <p class="control">
              <label class="radio primary">
                <input type="radio" name="report">
                <strong>Optional</strong>
              </label>
              <label class="radio primary">
                <input type="radio" name="report">
                <strong>Wajib</strong>
              </label>
            </p>
          </div>
        </div>
      </section>

      <section class="section is-paddingless has-shadow">
        <div class="container is-fluid">
          <div class="title">
            <h3>Opsi</h3>
          </div>
        </div>
        <div class="filter-option active right-style">
          <div class="sort-list check-all top">
            <label class="checkbox" for="#addBrand">
              <span class="sort-text">Jadikan Dropshipping</span>
              <span>Memungkinkan penjual lain untuk menjual barang ini di toko mereka</span>
              <a>Pelajari Lebih Lanjut tentang dropshipping</a>
              <span class="input-wrapper">
              <input type="checkbox" id="addBrand">
              </span>
            </label>
            <label class="checkbox" for="#addBrand">
              <span class="sort-text">Sembunyikan Barang</span>
              <span>Barang yang disembunyikan tidak akan muncul di toko Anda. Tapi tetap dapat di dropshipping kan</span>
              <span class="input-wrapper">
              <input type="checkbox" id="addBrand">
              </span>
            </label>
          </div>
        </div>
      </section>

      <section class="section is-paddingless has-shadow">
        <div class="container is-fluid">
          <div class="title">
            <h3>Katalog Toko</h3>
          </div>
        </div>
        <div class="spec-price">
          <div class="field">
            <label>Katalog</label>
            <p class="control">
              <span class="select">
                <select>
                  <option>Sepatu Pria</option>
                  <option>With options</option>
                </select>
              </span>
            </p><br>
            <a>+ Tambah Katalog</a>
          </div>
        </div>
      </section>

      <section class="section is-paddingless has-shadow">
        <div class="container is-fluid">
          <div class="title">
            <h3>Grosir</h3>
          </div>
        </div>
        <div class="spec-price">
          <label class="switch right">
            <input type="checkbox">
            <span class="slider round"></span>
          </label>
          <h3 class="title-content">Aktifkan Harga Grosir</h3>
          <p>Memberikan harga spesial kepada pembeli untuk pembelian dalam jumlah tertentu</p>
        </div>
        <div class="spec-price">
          <div class="field">
            <div class="field-body columns">
              <div class="field column quarter">
                <label class="label">Harga Produk</label>
                <p class="control is-expanded prod-qty">
                  <input class="input" type="text" value="10">
                  <span>s/d</span>
                  <input class="input" type="text" value="15">
                </p>
              </div>
              <div class="field column">
                <label class="label">Diskon</label>
                <p class="control is-expanded price">
                  <span class="currency">Rp</span>
                  <input class="input" type="text" value="1.650.000" >
                </p>
              </div>
            </div>
          </div>
          <div class="remove-wrapp">
            <a class="remove">Hapus</a>
          </div>
        </div>
        <div class="spec-price">
          <div class="field">
            <div class="field-body columns">
              <div class="field column quarter">
                <label class="label">Harga Produk</label>
                <p class="control is-expanded prod-qty">
                  <input class="input" type="text" value="10">
                  <span>s/d</span>
                  <input class="input" type="text" value="15">
                </p>
              </div>
              <div class="field column">
                <label class="label">Diskon</label>
                <p class="control is-expanded price">
                  <span class="currency">Rp</span>
                  <input class="input" type="text" value="1.650.000" >
                </p>
              </div>
            </div>
          </div>
          <div class="remove-wrapp">
            <a class="remove">Hapus</a>
          </div>
        </div>
        <div class="spec-price">
          <a>+ Tambah Daftar Harga Grosir</a>
        </div>
      </section>

      <section class="section is-paddingless">
        <div class="payment-detail action">
          <ul>
            <li>
              <a class="button is-primary is-large is-fullwidth">Lanjutkan</a>
            </li>
          </ul>
        </div>
      </section>
    </div>

    <!-- js -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="../component/slick-1.6.0/slick/slick.min.js"></script>
    <script src="../js/script.js"></script>
  </body>
</html>