<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Komuto</title>

    <link href="../dist/css/style.css" rel="stylesheet">
    <link href="../component/OwlCarousel/dist/assets/owl.carousel.min.css" rel="stylesheet">
    <link href="../component/OwlCarousel/dist/assets/owl.theme.default.min.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
    <div class="main detail transaction-page bg-grey">
      <nav class="level header is-fullwidth">
        <div class="nav-left">
          <a class="level-item">
            <span><span class="back"><span class="icon-arrow-left"></span></span> Konfirmasi Barang Diterima</span>
          </a>
        </div>
      </nav>

      <section class="section is-paddingless">
        <div class="info-purchase">
          <div class="detail-rate is-purchase">
            <div class="columns total-items is-mobile is-multiline no-margin-bottom">
              <div class="column is-half">
                <div class="rating-content is-left">
                  <strong>No Invoice</strong>
                </div>
              </div>
              <div class="column is-half">
                <div class="rating-content item-qty has-text-right">
                  <span class="has-text-left">Invoice-83273847492/04/2017</span>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="info-purchase">
          <div class="detail-rate is-purchase">
            <div class="columns total-items is-mobile is-multiline no-margin-bottom">
              <div class="column is-half">
                <div class="rating-content is-left">
                  <strong>Tanggal Transaksi</strong>
                </div>
              </div>
              <div class="column is-half">
                <div class="rating-content item-qty has-text-right">
                  <span class="has-text-left">15 Agustus 2017</span>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="info-purchase">
          <div class="detail-rate is-purchase">
            <div class="columns total-items is-mobile is-multiline no-margin-bottom">
              <div class="column is-half">
                <div class="rating-content is-left">
                  <strong>Status Barang</strong>
                </div>
              </div>
              <div class="column is-half">
                <div class="rating-content item-qty has-text-right">
                  <div class="item-status md right delivered">Barang Sudah Dikirim</div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section class="section is-paddingless">
        <div class="confirm-transaction has-text-centered bg-grey">
          <p>Apakah barang yang anda terima sesuai?</p>
          <ul class="list-inline">
            <li class="active"><div class="confirm-btn confirm-no"><div><span class="icon-tidak"></span><span>Tidak</span></div></div></li> <!-- toggle class active -->
            <li><div class="confirm-btn confirm-yes active"><div><span class="icon-ya"></span><span>Ya</span></div></div></li> <!-- toggle class active -->
          </ul>
        </div>
        <div class="edit-data-delivery bg-white ">
          <form action="#" class="form edit ">
            <div class="field">
              <label class="label">Masalah yang terjadi</label>
              <div class="filter-option active issue">
                <div class="sort-list middle">
                  <label class="checkbox" for="#addBrand">
                    <div class="box is-paddingless">
                      <article class="media">
                        <div class="media-left is-bordered">
                          <figure class="image">
                            <img src="../images/thumb.jpg" alt="pict">
                          </figure>
                        </div>
                        <div class="media-content middle">
                          <div class="content">
                            <p>
                              <strong>Sepatu Jogging Nike Hitam </strong>
                            </p>
                          </div>
                        </div>
                      </article>
                    </div>
                    <span class="input-wrapper">
                    <input type="checkbox" id="addBrand1">
                    </span>
                  </label>
                </div>
                <div class="sort-list middle">
                  <label class="checkbox" for="#addBrand">
                    <div class="box is-paddingless">
                      <article class="media">
                        <div class="media-left is-bordered">
                          <figure class="image">
                            <img src="../images/thumb.jpg" alt="pict">
                          </figure>
                        </div>
                        <div class="media-content middle">
                          <div class="content">
                            <p>
                              <strong>Sepatu Jogging Nike Hitam </strong>
                            </p>
                          </div>
                        </div>
                      </article>
                    </div>
                    <span class="input-wrapper">
                    <input type="checkbox" id="addBrand1">
                    </span>
                  </label>
                </div>
                <div class="sort-list middle">
                  <label class="checkbox" for="#addBrand">
                    <div class="box is-paddingless">
                      <article class="media">
                        <div class="media-left is-bordered">
                          <figure class="image">
                            <img src="../images/thumb.jpg" alt="pict">
                          </figure>
                        </div>
                        <div class="media-content middle">
                          <div class="content">
                            <p>
                              <strong>Sepatu Jogging Nike Hitam </strong>
                            </p>
                          </div>
                        </div>
                      </article>
                    </div>
                    <span class="input-wrapper">
                    <input type="checkbox" id="addBrand1">
                    </span>
                  </label>
                </div>
                <div class="sort-list middle">
                  <label class="checkbox" for="#addBrand">
                    <div class="box is-paddingless">
                      <article class="media">
                        <div class="media-left is-bordered">
                          <figure class="image">
                            <img src="../images/thumb.jpg" alt="pict">
                          </figure>
                        </div>
                        <div class="media-content middle">
                          <div class="content">
                            <p>
                              <strong>Sepatu Jogging Nike Hitam </strong>
                            </p>
                          </div>
                        </div>
                      </article>
                    </div>
                    <span class="input-wrapper">
                    <input type="checkbox" id="addBrand1">
                    </span>
                  </label>
                </div>
              </div>
            </div>
            <div class="field">
              <label class="label">Masalah yang terjadi</label>
              <div class="filter-option active">
                <div class="sort-list middle">
                  <label class="checkbox" for="#addBrand">
                    <span class="sort-text">Barang tidak sesuai deskripsi</span>
                    <span class="input-wrapper">
                    <input type="checkbox" id="addBrand1">
                    </span>
                  </label>
                </div>
                <div class="sort-list middle">
                  <label class="checkbox" for="#addBrand">
                    <span class="sort-text">Barang rusak</span>
                    <span class="input-wrapper">
                    <input type="checkbox" id="addBrand2">
                    </span>
                  </label>
                </div>
                <div class="sort-list middle">
                  <label class="checkbox" for="#addBrand">
                    <span class="sort-text">Produk tidak lengkap</span>
                    <span class="input-wrapper">
                    <input type="checkbox" id="addBrand3">
                    </span>
                  </label>
                </div>
                <div class="sort-list middle">
                  <label class="checkbox" for="#addBrand">
                    <span class="sort-text">Kurir Pengiriman Berbeda</span>
                    <span class="input-wrapper">
                    <input type="checkbox" id="addBrand3">
                    </span>
                  </label>
                </div>
              </div>
            </div>
            <div class="add-discussion report">
              <div class="field">
                <label class="label">Solusi yang diinginkan</label>
                <p class="control">
                  <label class="radio">
                    <input type="radio" name="report">
                    Refund
                  </label>
                  <label class="radio">
                    <input type="radio" name="report">
                    Tukar Baru
                  </label>
                </p>
              </div>
            </div>
            <div class="field">
              <label class="label">Upload Photo</label>
              <div class="add-product">
                <ul class="add-photo-list">
                  <li>
                    <div class="photo-product">
                      <a class="del-photo"><span class="icon-cross-circle"></span></a>
                      <div class="photo-wrapp">
                        <img src="../images/thumb.jpg" alt="">
                      </div>
                    </div>
                  </li>
                  <li>
                    <a class="add-photo"><span class="icon-add-big"></span></a>
                  </li>
                </ul>
              </div>
            </div>
            <div class="field">
              <label class="label">Keterangan</label>
              <p class="control">
                <input class="input" type="text" value="Saya ingin merefund dana saja. Takutnya kalau ganti barang yang sama, hasilnya sama saja">
              </p>
            </div>
          </form>
        </div>
      </section>
      <section class="section is-paddingless">
        <div class="payment-detail action">
          <ul>
            <li>
              <a class="button is-primary is-large is-fullwidth">Kirim Ulasan</a>
            </li>
          </ul>
        </div>
      </section>
    </div>


    <!-- js -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="../component/OwlCarousel/dist/owl.carousel.min.js"></script>
    <script src="../js/script.js"></script>
  </body>
</html>