<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Komuto</title>

    <link href="../dist/css/style.css" rel="stylesheet">
    <link href="../component/OwlCarousel/dist/assets/owl.carousel.min.css" rel="stylesheet">
    <link href="../component/OwlCarousel/dist/assets/owl.theme.default.min.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
    <div class="main detail bg-grey">
      <nav class="level header is-fullwidth">
        <div class="nav-left">
          <a class="level-item">
            <span class="is-paddingless"><span class="icon-arrow-left"></span> Detail Status Barang</span>
          </a>
        </div>
      </nav>
      <div class="nav-tabs">
        <a class="active">Status</a>
        <a>Data Pembelian</a>
      </div>

      <section class="section is-paddingless has-shadow">
        <div class="notification is-success">
          <button class="delete"></button>
          Berhasil mengirim pesan
        </div>
        <div class="detail-product">
          <div class="purchase">
            <figure class="img-item">
              <img src="../images/pict.jpg" alt="pict">
            </figure>
            <h3>Blue Training Kit Machester United</h3>
            <span class="price">Sports Station Shop</span>
          </div>
        </div>
        <div class="info-purchase">
          <div class="detail-rate is-purchase">
            <div class="columns total-items is-mobile is-multiline no-margin-bottom">
              <div class="column is-half">
                <div class="rating-content is-left">
                  <strong>No Invoice</strong>
                </div>
              </div>
              <div class="column is-half">
                <div class="rating-content item-qty has-text-right">
                  <span class="has-text-left">Invoice-83273847492/04/2017</span>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="info-purchase">
          <div class="detail-rate is-purchase">
            <div class="columns total-items is-mobile is-multiline no-margin-bottom">
              <div class="column is-half">
                <div class="rating-content is-left">
                  <strong>Status Barang</strong>
                </div>
              </div>
              <div class="column is-half">
                <div class="rating-content item-qty has-text-right">
                  <div class="item-status md right process">Diproses oleh Seller</div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section class="section is-paddingless">
        <div class="payment-detail action">
          <ul>
            <li>
              <a class="button is-primary is-large is-fullwidth is-outlined">Kirim Pesan ke Seller</a>
            </li>
          </ul>
        </div>
      </section>
    </div>


    <!-- js -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="../component/OwlCarousel/dist/owl.carousel.min.js"></script>
    <script src="../js/script.js"></script>
  </body>
</html>