<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Komuto</title>

    <link href="../dist/css/style.css" rel="stylesheet">
    <link href="../component/slick-1.6.0/slick/slick.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
    <div class="main wishlist">
      <nav class="level header is-fullwidth">
        <div class="nav-left">
          <a class="level-item">
            <span><span class="icon-arrow-left"></span> Wishlist</span>
          </a>
        </div>
      </nav>
      <section class="section is-paddingless">
        <div class="field search-form">
          <p class="control has-icons-left">
            <input class="input is-medium" type="text" placeholder="Cari barang atau toko">
            <span class="icon is-left">
              <span class="icon-search"></span>
            </span>
          </p>
        </div>
      </section>

      <section class="section is-paddingless">
        <div class="columns is-mobile is-multiline custom">
          <div class="column is-half">
            <div class="box grid">
              <div class="media">
                <div class="media-left">
                  <figure class="image">
                    <a><img src="../images/thumb.jpg" alt="Image"></a>
                    <div class="pin"><span>Grosir</span></div>
                  </figure>
                </div>
                <div class="media-content">
                  <div class="content">
                    <h4>Casual and Light Nike Shoes Running</h4>
                    <div class="detail">
                      <p>GadgetArena <span class="icon-verified"></span></p>
                      <div class="discount"></div>
                      <span class="price">Rp 10.500.000 </span>
                      <span class="wish"><span class="icon-wishlist wishlisted"></span>1200</span>
                      <div class="remove-item"><span class="icon-trash"></span></div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="column is-half">
            <div class="box grid">
              <div class="media">
                <div class="media-left">
                  <figure class="image">
                    <a><img src="../images/thumb.jpg" alt="Image"></a>
                    <div class="pin disc"><span>58%</span></div>
                  </figure>
                </div>
                <div class="media-content">
                  <div class="content">
                    <h4>Casual and Light Nike Shoes Running</h4>
                    <div class="detail">
                      <p>GadgetArena <span class="icon-verified"></span></p>
                      <div class="discount">Rp 10.560.000</div>
                      <span class="price">Rp 10.500.000 </span>
                      <span class="wish"><span class="icon-wishlist wishlisted"></span>1200</span>
                      <div class="remove-item"><span class="icon-trash"></span></div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="column is-half">
            <div class="box grid">
              <div class="media">
                <div class="media-left">
                  <figure class="image">
                    <a><img src="../images/thumb.jpg" alt="Image"></a>
                    <div class="pin disc"><span>58%</span></div>
                  </figure>
                </div>
                <div class="media-content">
                  <div class="content">
                    <h4>Casual and Light Nike Shoes Running</h4>
                    <div class="detail">
                      <p>GadgetArena <span class="icon-verified"></span></p>
                      <div class="discount">Rp 10.560.000</div>
                      <span class="price">Rp 10.500.000 </span>
                      <span class="wish"><span class="icon-wishlist wishlisted"></span>1200</span>
                      <div class="remove-item"><span class="icon-trash"></span></div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="column is-half">
            <div class="box grid">
              <div class="media">
                <div class="media-left">
                  <figure class="image">
                    <a><img src="../images/thumb.jpg" alt="Image"></a>
                    <div class="pin disc"><span>58%</span></div>
                  </figure>
                </div>
                <div class="media-content">
                  <div class="content">
                    <h4>Casual and Light Nike Shoes Running</h4>
                    <div class="detail">
                      <p>GadgetArena <span class="icon-verified"></span></p>
                      <div class="discount">Rp 10.560.000</div>
                      <span class="price">Rp 10.500.000 </span>
                      <span class="wish"><span class="icon-wishlist"></span>1200</span>
                      <div class="remove-item"><span class="icon-trash"></span></div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <div class="level nav-bottom filter-nav is-mobile">
        <a class="level-item has-text-centered js-sort"><span class="icon-sort"></span>Urutkan</a>
        <a class="level-item has-text-centered"><span class="icon-list"></span>Tampilan</a>
      </div>
    </div>

    <div class="sort-option">
      <div class="sort-list">
        <p><strong>Urutkan Berdasarkan</strong></p>
        <label class="checkbox" for="#terbaru">
          <span class="sort-text">Terbaru</span>
          <span class="input-wrapper">
          <input type="checkbox" id="terbaru">
          </span>
        </label>
        <label class="checkbox" for="#termurah">
          <span class="sort-text">Termurah</span>
          <span class="input-wrapper">
          <input type="checkbox" id="termurah">
          </span>
        </label>
        <label class="checkbox" for="#termahal">
          <span class="sort-text">Termahal</span>
          <span class="input-wrapper">
          <input type="checkbox" id="termahal">
          </span>
        </label>
        <label class="checkbox" for="#terlaris">
          <span class="sort-text">Terlaris</span>
          <span class="input-wrapper">
          <input type="checkbox" id="terlaris">
          </span>
        </label>
      </div>
    </div>

    <!-- search -->
    <!-- <div class="on-search">
      <div class="header-search">
        <a class="back back-on-seacrh"><span class="icon-arrow-left black"></span></a>
        <div class="field">
          <p class="control has-icons-left">
            <input class="input is-medium" type="text" placeholder="Cari barang atau toko">
          </p>
        </div>
      </div>
      <div class="body-search">
        <div class="search-list">
          <ul>
            <li>Sepatu</li>
            <li>Sepatu Lari Nike Run Casual</li>
            <li>Sepatu Lari Adidas Black</li>
            <li>Sepatu Lari Skechers</li>
            <li>Sepatu Lari New Balance</li>
          </ul>
        </div>
      </div>
    </div>
 -->    <!-- js -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="../component/slick-1.6.0/slick/slick.min.js"></script>
    <script src="../js/script.js"></script>
  </body>
</html>