html
  -webkit-font-smoothing: antialiased !important
  height: 100%

body
  font-size: 13px
  position: relative
  color: $color_text
  font-family: $family-primary
  height: 100%
  &.search-open
    position: fixed
    overflow: hidden
    top: 0
    left: 0
    right: 0
    bottom: 0
    @include size(100%, 100%)
.bg-grey
  background-color: $color_bg
.main
  padding-top: 64px
  padding-bottom: 46px
  min-height: 100%
  &.home
    padding-top: 119px
  &.seller-info
    padding-bottom: 0
  &.detail
    padding-bottom: 66px
  &.bg-grey
    section
      margin-bottom: 20px
.content
  padding: 20px 0
.box
  .content
    padding: 0
    position: relative

.section
  background-color: transparent
  &.has-shadow
    @include boxShadow($shadow_detail)
  &:after
    content: ""
    display: block
    clear: both
  &.bg-white
    background-color: $white

.container
  &.is-fluid
    margin: 0 20px

.button
  font-size: 14px
  height: auto
  letter-spacing: 0.20px
  @extend .nunito-bold
  @include borderRadius(5px)
  border: 1px solid $color_border
  &.is-thick
    @extend .nunito-regular
    font-size: 13px
    &.md
      padding: 8px 20px
  &.is-large
    font-size: 14px
    padding: 17px
  &.is-medium
    font-size: 13px
    line-height: 1.46
    letter-spacing: 0.4px
    padding: 8px 20px
    @extend .nunito-semibold
  &.is-m-lg
    padding: 12px
  > span
    margin-right: 8px
  &.is-fb
    background-color: $color_fb
    color: $white
    span
      font-size: 24px
      vertical-align: middle
      margin-right: 15px
      &:before
        color: $white
  &.btn-add-cart
    @include borderRadius(0)
    border: none

.input
  padding-top: 0.475em
  padding-left: 0
  padding-right: 0
  padding-bottom: 0.475em
  @include boxShadow(none)
  @include borderRadius(0)
  border: none
  border-bottom: 1px solid $color_border
  font-size: 13px
  color: $color_text
  margin-bottom: 0
  @extend .nunito-semibold
  +placeholder
    color: $color_input
    opacity: 1

.control
  &.has-icons-left
    input
      &.is-medium
        font-size: 13px
        height: 43px
        padding-left: 40px

.field
  .label
    font-size: 13px
    color: $color_input
    @extend .nunito-regular
  .radio
    color: $color_radio
    font-size: 13px
    letter-spacing: 0.02
    position: relative
    margin-right: 20px
    &:before
      content: ""
      position: absolute
      left: 0
      top: -5px
      @include size(25px, 25px)
      @include borderRadius(700px)
      border: 1px solid $color_border_ccc
    &.checked
      &:after
        content: ""
        position: absolute
        left: 4px
        top: -1px
        @include size(17px, 17px)
        @include borderRadius(700px)
        background-color: $black
    input
      margin-right: 20px
      visibility: hidden
  .select
    width: 100%
    &:after
      border-color: $color_border_ccc
      @include size(0.7em, 0.7em)
      right: 1px
      margin-top: -10px
    select
      width: 100%
      border: none
      border-bottom: 1px solid $color_border
      @include borderRadius(0)
      padding: 0
      font-size: 13px

.search-form
  width: 100%
  margin-bottom: 15px
  .control
    &.has-icons-left
      .icon
        font-size: 15px
        height: 43px
        width: 40px
        &:before
          color: $color_input
      input
        @include borderRadius(0)

.or
  position: relative
  margin: 30px 0
  text-align: center
  &:before
    content: ""
    @include size(100%, 1px)
    background-color: $color_border
    position: absolute
    top: 50%
    left: 0
    letter-spacing: 0
    @include translateY(-50%)
    z-index: 1
  span
    display: table
    padding: 10px 20px
    margin: 0 auto
    background-color: $white
    position: relative
    z-index: 2
  a
    display: inline-block

.columns
  margin-left: -1px
  margin-right: -1px
  margin-top: 0
  &.no-margin-bottom
    &:last-child, &:not(:last-child)
      margin-bottom: 0
  &.custom
    &:last-child, &:not(:last-child)
      margin-bottom: 0
    .column
      background-color: $white
      padding: 20px 21px
      border-right: 1px solid $color_border
      border-bottom: 1px solid $color_border
      &.no-padding
        padding: 0
  &.view-all
    &:last-child, &:not(:last-child)
      margin-bottom: 0
.view-all
  padding: 6px 10px
  background-color: $white
  border-bottom: 1px solid $color_border
  margin-bottom: 0
  p, span
    letter-spacing: 0.2px
    @extend .nunito-bold
.title
  font-size: 13px
  letter-spacing: 0.2px
  color: $color_radio
  @extend .nunito-semibold
  margin-bottom: 15px

.link
  display: inline-block
  color: $primary
  cursor: pointer


.see-all
  background-color: $white
  border-bottom: 1px solid $color_border
  &:last-child
    border-bottom: 0
  .link
    display: block
    position: relative
    @extend .nunito-semibold
    padding: 15px 20px
    &.black
      color: $color_text
    .kurir
      position: absolute
      top: 50%
      right: 30px
      @include translateY(-50%)
      color: $color_text_desc
      @extend .nunito-regular
      &.normal
        right: 20px
    .icon-arrow-right, .icon-arrow-down
      position: absolute
      top: 50%
      right: 0
      @include translateY(-50%)
.pin
  @include size(42px, 42px)
  @include borderRadius(700px)
  background-color: $green
  position: relative
  span
    font-size: 8px
    text-transform: uppercase
    @extend .nunito-bold
    color: $white
    position: absolute
    top: 50%
    left: 0
    width: 100%
    @include translateY(-50%)
    text-align: center
  &.disc
    background-color: $red
    span
      font-size: 13px
.box
  background-color: none
  padding: 0
  @include boxShadow(none)
  @include borderRadius(0)
  .media
    .media-left
      .image
        position: relative
        .pin
          position: absolute
          top: -15px
          left: -15px
    .media-content
      .content
        padding-bottom: 0
        h4
          font-size: 13px
          line-height: 1.38
          letter-spacing: 0.2px
          color: $color_radio
        .detail
          position: relative
          p, .discount
            font-size: 12px
            color: $color_input
            line-height: 1.33
            letter-spacing: 0.2px
            vertical-align: middle
            span
             vertical-align: middle
          .discount
            min-height: 22px
            text-decoration: line-through
          .price
            font-size: 16px
            line-height: 1.25
            letter-spacing: 0.2px
            @extend .nunito-bold
            color: $red
            display: inline-block
            margin-bottom: 15px
          .wish
            color: $color_input
            font-size: 11px
            span
              margin-right: 10px
          .remove-item
            position: absolute
            right: -14px
            bottom: -14px
  &.list
    .media
      .media-left
        .image
          width: 100%
          max-width: 140px
  &.grid
    .media
      display: block
      .media-left
        flex-basis: auto
        flex-grow: 0
        flex-shrink: 0
        margin-right: 0
      .media-content
        flex-basis: auto
        flex-grow: 0
        flex-shrink: 0
        .content
          padding-top: 20px
          .detail
            .price
              display: block
            .discount
              min-height: 30px
            .remove-item
              position: absolute
              right: 0
              bottom: 0


.notif-akun
  @include size(25px, 25px)
  @include borderRadius(700px)
  border: 2px solid $white
  color: $white
  background-color: $red
  font-size: 13px
  @extend .nunito-semibold
  display: block
  text-align: center
  line-height: 22px

.sort-option
  display: none
  position: fixed
  top: 0
  left: 0
  right: 0
  bottom: 0
  background-color: $color_bg_overlay
  z-index: 999
  .sort-list
    position: absolute
    left: 0
    bottom: 0
    background-color: $white
    width: 100%
    &.catalog-list
      max-width: 235px
      left: 20px
      bottom: 75px
      @include borderRadius(5px)
      ul
        li
          border-bottom: 1px solid $color_border
          &:last-child
            border-bottom: none
          a
            padding: 20px
            display: block
            color: $color_radio
            @extend .nunito-semibold
    p
      padding: 18px 20px
      strong
        color: $color_text
        @extend .nunito-regular
        font-size: 14px
    > p
      strong
        color: $color_text
        @extend .nunito-bold
        font-size: 14px
    .checkbox
      padding: 18px 20px
      position: relative
      display: block
      border-top: 1px solid $color_border_check
      .input-wrapper
        position: absolute
        top: 50%
        right: 20px
        @include translateY(-50%)
        @include size(24px, 24px)
        &.checked
          background-image: url($icon-selected-sign)
        input
          visibility: hidden
      .sort-text
        font-size: 14px
        &.active
          color: $primary
  .notif-report
    position: absolute
    top: 50%
    left: 50%
    @include translateXY(-50%, -50%)
    width: 90%
    padding: 20px
    @include borderRadius(6px)
    background-color: $white
    text-align: center
    &.add-voucher
      text-align: left
      .control
        margin-bottom: 15px
      .header-notif
        background-color: $bg_voucer_header
        position: relative
        @include borderRadius(6px 6px 0 0)
        padding: 20px
        margin: -20px -20px 0 -20px
        margin-bottom: 20px
        h3
          margin: 0
          font-size: 14px
          @extend .nunito-bold
          letter-spacing: 0.2px
          color: $color_radio
        .icon-close
          position: absolute
          top: 50%
          right: 20px
          @include translateY(-50%)
          cursor: pointer
    h3
      font-size: 14px
      @extend .nunito-bold
      letter-spacing: 0.2px
      margin-top: 10px
      margin-bottom: 10px
    p
      font-size: 13px
      letter-spacing: 0.2px
      color: $color_text_desc
      margin-bottom: 30px
.back
  position: absolute
  top: 0
  left: 0
  @include size(48px, 64px)
  cursor: pointer
  .icon-arrow-left
    position: absolute
    top: 50%
    left: 50%
    @include translateXY(-50%, -50%)
    display: block

.notification
  @include borderRadius(0)
  padding: 20px
  >.delete
    @include size(24px, 24px)
    background-color: transparent
    position: absolute
    top: 46%
    right: 20px
    @include translateY(-46%)
    &:before
      width: 65%
    &:after
      height: 65%
  &.is-success
    background-color: $success_bg
    color: $success_text
    >.delete
      &:before, &:after
        background-color: $success_text
  &.is-warning
    background-color: $color_bg_verification
    color: $yellow
    >.delete
      &:before, &:after
        background-color: $yellow
  &.is-danger
    background-color: $danger_bg
    color: $danger_text
    >.delete
      &:before, &:after
        background-color: $danger_text
  &:not(:last-child)
    margin-bottom: 0

.owl-stage
  display: -webkit-box
  display: -ms-flexbox
  display: flex
.owl-item
  -ms-flex-preferred-size: 0
  flex-basis: 0
  -webkit-box-flex: 1
  -ms-flex-positive: 1
  flex-grow: 1
  -ms-flex-negative: 1
  flex-shrink: 1

.owl-theme
  .owl-nav
    display: none

.slide-items, .slide-product
  .owl-stage
    padding-left: 0 !important
  &.owl-theme
    .owl-nav
      &.disabled
        + .owl-dots
          margin-top: 0
.columns
  &.custom
    .slide-product
      .column
        border-right: none
        padding: 15px
        border-bottom: none

.star-rating
  font-size: 0
  white-space: nowrap
  display: block
  @include size(80px, 16px)
  margin: 0 auto
  overflow: hidden
  position: relative
  background-image: url($icon-star-grey)
  background-size: contain
  i
    opacity: 0
    position: absolute
    left: 0
    top: 0
    @include size(20%, 100%)
    z-index: 1
    background-image: url($icon-star-yellow)
    background-size: contain

  input
    -moz-appearance: none
    -webkit-appearance: none
    opacity: 0
    display:inline-block
    @include size(20%, 100%)
    margin: 0
    padding: 0
    z-index: 2
    position: relative
    &:hover + i,
    &:checked + i
      opacity: 1


  i ~ i
    width: 40%

  i ~ i ~ i
    width: 60%

  i ~ i ~ i ~ i
    width: 80%

  i ~ i ~ i ~ i ~ i
    width: 100%



//JUST COSMETIC STUFF FROM HERE ON. THESE AREN'T THE DROIDS YOU ARE LOOKING FOR: MOVE ALONG.

//just styling for the number
.choice
  position: fixed
  top: 0
  left: 0
  right: 0
  text-align: center
  padding: 20px
  display: block

.popup-option
  padding: 0 0
  .radio
    display: block
    width: 100%
    border-top: 1px solid $color_border
    padding: 15px 20px
    position: relative
    margin: 0;
    input
      position: absolute
      top: 0
      left: 0
    &:last-child
      border-bottom: none
    &:before
      content: ""
      position: absolute
      top: 50%
      right: 20px
      left: inherit
      @include translateY(-50%)
      border: none
    &.checked
      &:after
        content: ""
        position: absolute
        top: 50%
        right: 20px
        left: inherit
        @include size(24px, 24px)
        @include translateY(-50%)
        background-color: transparent
        background-image: url($icon-selected-sign)

.other-option
  li
    border-bottom: 1px solid $color_border
    a
      padding: 20px
      color: $color_radio
      font-size: 13px
      display: block
      span
        margin-right: 10px
.package
  .radio
    padding-right: 75px
    position: relative
    text-align: right
    span
      margin-left: 28px
      &.service-name
        position: absolute
        top: 50%
        left: 20px
        margin-left: 0
        @include translateY(-50%)

.kurir
  .radio
    img
      max-width: 40px
      vertical-align: middle
      margin-right: 10px
.change-address
  .radio
    color: $color_text_desc
    strong
      font-size: 13px
      letter-spacing: 0.2px
      color: $color_radio
      font-weight: 400
      display: block
    p
      margin: 0
      padding: 0

  .add-new-address
    text-align: center
    padding: 20px
    display: block
    font-size: 13px
    border-top: 1px solid $color_border_check

.add-cart-notif
  img
    margin-bottom: 20px
  button
    margin-bottom: 15px
    &:last-child
      margin-bottom: 0

.icon-image
  @include size(32px, 32px)
  margin: 0 auto
  img
    max-width: 100%

.list-bullet
  list-style: initial
  list-style-position: outset

@media handheld, only screen and (max-width: 320px)
  .box
    &.list
      .media
        .media-left
          .image
            width: 100%
            max-width: 80px