.icon-style
  display: inline-block
  vertical-align: middle
  line-height: 1
  text-decoration: inherit
  text-rendering: optimizeLegibility
  text-transform: none
  -moz-osx-font-smoothing: grayscale
  -webkit-font-smoothing: antialiased
  font-smoothing: antialiased
  text-decoration: none
  &:hover
    text-decoration: none

.icon-fb
  display: inline-block
  @include size(10px, 20px)
  background-image: url($icon-fb)
  background-repeat: no-repeat
  vertical-align: middle

.icon-cart
  display: inline-block
  @include size(24px, 24px)
  background-image: url($icon-cart)
  background-repeat: no-repeat
  vertical-align: middle

.icon-love
  display: inline-block
  @include size(24px, 24px)
  background-image: url($icon-white-love)
  background-repeat: no-repeat
  vertical-align: middle

.icon-computer
  display: inline-block
  @include size(32px, 32px)
  background-image: url($icon-computer)
  background-repeat: no-repeat
  vertical-align: middle

.icon-sport
  display: inline-block
  @include size(32px, 32px)
  background-image: url($icon-sport)
  background-repeat: no-repeat
  vertical-align: middle

.icon-office
  display: inline-block
  @include size(32px, 32px)
  background-image: url($icon-office)
  background-repeat: no-repeat
  vertical-align: middle

.icon-kitchen
  display: inline-block
  @include size(32px, 32px)
  background-image: url($icon-kitchen)
  background-repeat: no-repeat
  vertical-align: middle

.icon-baby
  display: inline-block
  @include size(32px, 32px)
  background-image: url($icon-baby)
  background-repeat: no-repeat
  vertical-align: middle

.icon-tv
  display: inline-block
  @include size(32px, 32px)
  background-image: url($icon-tv)
  background-repeat: no-repeat
  vertical-align: middle

.icon-arrow-right
  display: inline-block
  @include size(24px, 24px)
  background-image: url($icon-arrow-right)
  background-repeat: no-repeat
  vertical-align: middle

.icon-verified
  display: inline-block
  @include size(24px, 24px)
  background-image: url($icon-verified)
  background-repeat: no-repeat
  vertical-align: middle
  &.unverified
    background-image: url($icon-unverified)
  &.md
    @include size(32px, 32px)
    background-size: 100%

.icon-wishlist
  display: inline-block
  @include size(24px, 24px)
  background-image: url($icon-wishlist)
  background-repeat: no-repeat
  vertical-align: middle
  &.wishlisted
    background-image: url($icon-wishlisted)
  &.solid
    background-image: url($icon-solid-wishlist)

.icon-sort
  display: inline-block
  @include size(24px, 24px)
  background-image: url($icon-sort)
  background-repeat: no-repeat
  vertical-align: middle

.icon-list
  display: inline-block
  @include size(24px, 24px)
  background-image: url($icon-list)
  background-repeat: no-repeat
  vertical-align: middle

.icon-home
  display: inline-block
  @include size(24px, 24px)
  background-image: url($icon-home)
  background-repeat: no-repeat
  vertical-align: middle
  &.active
    background-image: url($icon-home-active)

.icon-user
  display: inline-block
  @include size(24px, 24px)
  background-image: url($icon-profile)
  background-repeat: no-repeat
  vertical-align: middle
  &.active
    background-image: url($icon-profile-active)

.icon-bag
  display: inline-block
  @include size(24px, 24px)
  background-image: url($icon-bag)
  background-repeat: no-repeat
  vertical-align: middle
  &.active
    background-image: url($icon-bag-active)
  &.bag2
    background-image: url($icon-bag2)

.icon-bell
  display: inline-block
  @include size(24px, 24px)
  background-image: url($icon-bell)
  background-repeat: no-repeat
  vertical-align: middle
  &.active
    background-image: url($icon-bell-active)

.icon-saldo
  display: inline-block
  @include size(24px, 24px)
  background-image: url($icon-saldo)
  background-repeat: no-repeat
  vertical-align: middle

.icon-list-lg
  display: inline-block
  @include size(24px, 24px)
  background-image: url($icon-list-lg)
  background-repeat: no-repeat
  vertical-align: middle

.icon-toko
  display: inline-block
  @include size(24px, 24px)
  background-image: url($icon-toko)
  background-repeat: no-repeat
  vertical-align: middle

.icon-search
  display: inline-block
  @include size(18px, 18px)
  background-image: url($icon-search)
  background-repeat: no-repeat
  vertical-align: middle
  &.white
    background-image: url($icon-search-white)

.icon-arrow-left
  display: inline-block
  @include size(24px, 24px)
  background-image: url($icon-arrow-left)
  background-repeat: no-repeat
  vertical-align: middle
  &.black
    background-image: url($icon-arrow-left-black)

.icon-trash
  display: inline-block
  @include size(24px, 24px)
  background-image: url($icon-trash)
  background-repeat: no-repeat
  vertical-align: middle
  &.white
    background-image: url($icon-trash-white)

.icon-selected-sign
  display: inline-block
  @include size(24px, 24px)
  background-image: url($icon-selected-sign)
  background-repeat: no-repeat
  vertical-align: middle

.icon-grid-view
  display: inline-block
  @include size(24px, 24px)
  background-image: url($icon-grid-view)
  background-repeat: no-repeat
  vertical-align: middle

.icon-filter
  display: inline-block
  @include size(24px, 24px)
  background-image: url($icon-filter)
  background-repeat: no-repeat
  vertical-align: middle

.icon-arrow-down
  display: inline-block
  @include size(24px, 24px)
  background-image: url($icon-arrow-down)
  background-repeat: no-repeat
  vertical-align: middle
  &.blue
    background-image: url($icon-arrow-down-blue)
  &.top
    background-image: url($icon-arrow-top-blue)

.icon-close
  display: inline-block
  @include size(24px, 24px)
  background-image: url($icon-close)
  background-repeat: no-repeat
  vertical-align: middle
  &.white
    background-image: url($icon-close-white)

.icon-close-success
  display: inline-block
  @include size(24px, 24px)
  background-image: url($icon-close-sucsess)
  background-repeat: no-repeat
  vertical-align: middle

.icon-comment
  display: inline-block
  @include size(24px, 24px)
  background-image: url($comment-icon)
  background-repeat: no-repeat
  vertical-align: middle
  &.black
    background-image: url($icon-comment-black)

.icon-comment-sticky
  display: inline-block
  @include size(36px, 36px)
  background-image: url($comment-sticky-icon)
  background-repeat: no-repeat
  vertical-align: middle

.icon-verify
  display: inline-block
  @include size(40px, 40px)
  background-image: url($verify-icon)
  background-repeat: no-repeat
  vertical-align: middle

.icon-plus
  display: inline-block
  @include size(24px, 24px)
  background-image: url($icon-plus)
  background-repeat: no-repeat
  vertical-align: middle

.icon-catalog
  display: inline-block
  @include size(24px, 24px)
  background-image: url($icon-catalog)
  background-repeat: no-repeat
  vertical-align: middle

.icon-time
  display: inline-block
  @include size(24px, 24px)
  background-image: url($icon-time)
  background-repeat: no-repeat
  vertical-align: middle

.icon-location
  display: inline-block
  @include size(24px, 24px)
  background-image: url($icon-location)
  background-repeat: no-repeat
  vertical-align: middle

.icon-calendar
  display: inline-block
  @include size(24px, 24px)
  background-image: url($icon-calendar)
  background-repeat: no-repeat
  vertical-align: middle

.icon-favorite
  display: inline-block
  @include size(24px, 24px)
  background-image: url($icon-favorite)
  background-repeat: no-repeat
  vertical-align: middle

.icon-note
  display: inline-block
  @include size(24px, 24px)
  background-image: url($icon-note)
  background-repeat: no-repeat
  vertical-align: middle

.icon-star-grey
  display: inline-block
  @include size(24px, 24px)
  background-image: url($icon-star-grey)
  background-repeat: no-repeat
  vertical-align: middle

.icon-star-grey
  display: inline-block
  @include size(24px, 24px)
  background-image: url($icon-star-grey)
  background-repeat: no-repeat
  vertical-align: middle
  &.active
    background-image: url($icon-star-yellow)

.icon-dots
  display: inline-block
  @include size(24px, 24px)
  background-image: url($icon-dots)
  background-repeat: no-repeat
  vertical-align: middle

.icon-qty-min
  display: inline-block
  @include size(24px, 24px)
  background-image: url($icon-qty-min)
  background-repeat: no-repeat
  vertical-align: middle

.icon-qty-plus
  display: inline-block
  @include size(24px, 24px)
  background-image: url($icon-qty-plus)
  background-repeat: no-repeat
  vertical-align: middle

.icon-share
  display: inline-block
  @include size(24px, 24px)
  background-image: url($icon-share)
  background-repeat: no-repeat
  vertical-align: middle

.icon-warning
  display: inline-block
  @include size(24px, 24px)
  background-image: url($icon-warning)
  background-repeat: no-repeat
  vertical-align: middle

.icon-info-blue
  display: inline-block
  @include size(30px, 30px)
  background-image: url($icon-info-blue)
  background-repeat: no-repeat
  vertical-align: middle

.icon-gear
  display: inline-block
  @include size(24px, 24px)
  background-image: url($icon-gear)
  background-repeat: no-repeat
  vertical-align: middle

.icon-register
  display: inline-block
  @include size(24px, 24px)
  background-image: url($icon-register)
  background-repeat: no-repeat
  vertical-align: middle

.icon-chat
  display: inline-block
  @include size(24px, 24px)
  background-image: url($icon-chat)
  background-repeat: no-repeat
  vertical-align: middle

.icon-discuss
  display: inline-block
  @include size(24px, 24px)
  background-image: url($icon-discuss)
  background-repeat: no-repeat
  vertical-align: middle

.icon-review
  display: inline-block
  @include size(24px, 24px)
  background-image: url($icon-review)
  background-repeat: no-repeat
  vertical-align: middle

.icon-help
  display: inline-block
  @include size(24px, 24px)
  background-image: url($icon-help)
  background-repeat: no-repeat
  vertical-align: middle

.icon-upload-product
  display: inline-block
  @include size(32px, 32px)
  background-image: url($icon-upload-product)
  background-repeat: no-repeat
  vertical-align: middle

.icon-upload-dropshipper
  display: inline-block
  @include size(32px, 32px)
  background-image: url($icon-upload-dropshipper)
  background-repeat: no-repeat
  vertical-align: middle

.icon-cross-circle
  display: inline-block
  @include size(24px, 24px)
  background-image: url($icon-cross-circle)
  background-repeat: no-repeat
  vertical-align: middle

.icon-add-big
  display: inline-block
  @include size(30px, 30px)
  background-image: url($icon-add-big)
  background-repeat: no-repeat
  vertical-align: middle

.icon-discount-sign
  display: inline-block
  @include size(24px, 24px)
  background-image: url($icon-discount-sign)
  background-repeat: no-repeat
  vertical-align: middle

.icon-grosir-sign
  display: inline-block
  @include size(24px, 24px)
  background-image: url($icon-grosir-sign)
  background-repeat: no-repeat
  vertical-align: middle

.icon-notif
  display: inline-block
  @include size(24px, 24px)
  background-image: url($icon-notif)
  background-repeat: no-repeat
  vertical-align: middle

.icon-logout
  display: inline-block
  @include size(24px, 24px)
  background-image: url($icon-logout)
  background-repeat: no-repeat
  vertical-align: middle

.icon-pass
  display: inline-block
  @include size(24px, 24px)
  background-image: url($icon-pass)
  background-repeat: no-repeat
  vertical-align: middle

.icon-data-address
  display: inline-block
  @include size(24px, 24px)
  background-image: url($icon-data-address)
  background-repeat: no-repeat
  vertical-align: middle

.icon-rekening
  display: inline-block
  @include size(24px, 24px)
  background-image: url($icon-rekening)
  background-repeat: no-repeat
  vertical-align: middle

.icon-nohp
  display: inline-block
  @include size(24px, 24px)
  background-image: url($icon-nohp)
  background-repeat: no-repeat
  vertical-align: middle

.icon-biodata
  display: inline-block
  @include size(24px, 24px)
  background-image: url($icon-biodata)
  background-repeat: no-repeat
  vertical-align: middle

.icon-info-toko
  display: inline-block
  @include size(24px, 24px)
  background-image: url($icon-info-toko)
  background-repeat: no-repeat
  vertical-align: middle

.icon-ekspedisi
  display: inline-block
  @include size(24px, 24px)
  background-image: url($icon-ekspedisi)
  background-repeat: no-repeat
  vertical-align: middle

.icon-katalog
  display: inline-block
  @include size(24px, 24px)
  background-image: url($icon-katalog)
  background-repeat: no-repeat
  vertical-align: middle

.icon-tc
  display: inline-block
  @include size(24px, 24px)
  background-image: url($icon-tc)
  background-repeat: no-repeat
  vertical-align: middle

.icon-ya
  display: inline-block
  @include size(40px, 40px)
  background-image: url($icon-ya)
  background-repeat: no-repeat
  vertical-align: middle
  &.white
    background-image: url($icon-ya-white)

.icon-tidak
  display: inline-block
  @include size(40px, 40px)
  background-image: url($icon-tidak)
  background-repeat: no-repeat
  vertical-align: middle
  &.white
    background-image: url($icon-tidak-white)

.icon-amplop
  display: inline-block
  @include size(24px, 24px)
  background-image: url($icon-amplop)
  background-repeat: no-repeat
  vertical-align: middle

.icon-star
  display: inline-block
  @include size(24px, 24px)
  background-image: url($icon-star)
  background-repeat: no-repeat
  vertical-align: middle

.icon-isi-saldo
  display: inline-block
  @include size(30px, 30px)
  background-image: url($icon-isi-saldo)
  background-repeat: no-repeat
  vertical-align: middle

.icon-tarik-saldo
  display: inline-block
  @include size(30px, 30px)
  background-image: url($icon-tarik-saldo)
  background-repeat: no-repeat
  vertical-align: middle

.icon-notif-admin
  display: inline-block
  @include size(20px, 20px)
  background-color: $bg_icon_notif_admin
  @include borderRadius(700px)
  vertical-align: middle
  position: relative
  &:before
    content: "i"
    font-size: 12px
    letter-spacing: 0.2px
    @extend .nunito-bold
    position: absolute
    top: 50%
    left: 50%
    @include translateXY(-50%, -50%)
    color: $green

.icon-pesanan-baru
  display: inline-block
  @include size(24px, 24px)
  background-image: url($icon-pesanan-baru)
  background-repeat: no-repeat
  vertical-align: middle

.icon-konfirmasi-pengiriman
  display: inline-block
  @include size(24px, 24px)
  background-image: url($icon-konfirmasi-pengiriman)
  background-repeat: no-repeat
  vertical-align: middle

.icon-daftar-penjualan
  display: inline-block
  @include size(24px, 24px)
  background-image: url($icon-daftar-penjualan)
  background-repeat: no-repeat
  vertical-align: middle

.icon-komplain-barang
  display: inline-block
  @include size(24px, 24px)
  background-image: url($icon-kpmplain-barang)
  background-repeat: no-repeat
  vertical-align: middle

.icon-wallet-add
  display: inline-block
  @include size(24px, 24px)
  background-image: url($icon-wallet-add)
  background-repeat: no-repeat
  vertical-align: middle

.icon-wallet-pull
  display: inline-block
  @include size(24px, 24px)
  background-image: url($icon-wallet-pull)
  background-repeat: no-repeat
  vertical-align: middle

.icon-status-add
  display: inline-block
  @include size(24px, 24px)
  background-image: url($icon-status-add)
  background-repeat: no-repeat
  vertical-align: middle

.icon-status-pull
  display: inline-block
  @include size(24px, 24px)
  background-image: url($icon-status-pull)
  background-repeat: no-repeat
  vertical-align: middle

.icon-history
  display: inline-block
  @include size(24px, 24px)
  background-image: url($icon-history)
  background-repeat: no-repeat
  vertical-align: middle

.icon-filter-y
  display: inline-block
  @include size(24px, 24px)
  background-image: url($icon-filter-y)
  background-repeat: no-repeat
  vertical-align: middle

.icon-waiting-saldo
  display: inline-block
  @include size(20px, 20px)
  background-image: url($icon-waiting-saldo)
  background-repeat: no-repeat
  vertical-align: middle

.icon-failed-saldo
  display: inline-block
  @include size(20px, 20px)
  background-image: url($icon-failed-saldo)
  background-repeat: no-repeat
  vertical-align: middle

.icon-success-saldo
  display: inline-block
  @include size(20px, 20px)
  background-image: url($icon-success-saldo)
  background-repeat: no-repeat
  vertical-align: middle