@import 'komuto_icon'
.icon-style
  display: inline-block
  vertical-align: middle
  line-height: 1
  text-decoration: inherit
  text-rendering: optimizeLegibility
  text-transform: none
  -moz-osx-font-smoothing: grayscale
  -webkit-font-smoothing: antialiased
  font-smoothing: antialiased
  font-family: $font_komuto !important
  text-decoration: none
  &:hover
    text-decoration: none

.icon-fb
  @extend .icon-style
  &:before
    content: $icons8-var-012-facebook
    color: $black

.icon-cart
  @extend .icon-style
  &:before
    content: $icons8-var-004-cart
    color: $black

.icon-love
  @extend .icon-style
  &:before
    content: $icons8-var-008-love
    color: $black

.icon-computer
  display: inline-block
  @include size(32px, 32px)
  background-image: url($icon-computer)
  background-repeat: no-repeat
  vertical-align: middle

.icon-sport
  display: inline-block
  @include size(32px, 32px)
  background-image: url($icon-sport)
  background-repeat: no-repeat
  vertical-align: middle

.icon-office
  display: inline-block
  @include size(32px, 32px)
  background-image: url($icon-office)
  background-repeat: no-repeat
  vertical-align: middle

.icon-kitchen
  display: inline-block
  @include size(32px, 32px)
  background-image: url($icon-kitchen)
  background-repeat: no-repeat
  vertical-align: middle

.icon-baby
  display: inline-block
  @include size(32px, 32px)
  background-image: url($icon-baby)
  background-repeat: no-repeat
  vertical-align: middle

.icon-tv
  display: inline-block
  @include size(32px, 32px)
  background-image: url($icon-tv)
  background-repeat: no-repeat
  vertical-align: middle

.icon-arrow-right
  display: inline-block
  @include size(24px, 24px)
  background-image: url($icon-arrow-right)
  background-repeat: no-repeat
  vertical-align: middle

.icon-verified
  display: inline-block
  @include size(24px, 24px)
  background-image: url($icon-verified)
  background-repeat: no-repeat
  vertical-align: middle
  &.unverified
    background-image: url($icon-unverified)
  &.md
    @include size(32px, 32px)
    background-size: 100%

.icon-wishlist
  display: inline-block
  @include size(24px, 24px)
  background-image: url($icon-wishlist)
  background-repeat: no-repeat
  vertical-align: middle
  &.wishlisted
    background-image: url($icon-wishlisted)

.icon-sort
  display: inline-block
  @include size(24px, 24px)
  background-image: url($icon-sort)
  background-repeat: no-repeat
  vertical-align: middle

.icon-list
  display: inline-block
  @include size(24px, 24px)
  background-image: url($icon-list)
  background-repeat: no-repeat
  vertical-align: middle

.icon-home
  display: inline-block
  @include size(24px, 24px)
  background-image: url($icon-home)
  background-repeat: no-repeat
  vertical-align: middle
  &.active
    background-image: url($icon-home-active)

.icon-user
  display: inline-block
  @include size(24px, 24px)
  background-image: url($icon-profile)
  background-repeat: no-repeat
  vertical-align: middle
  &.active
    background-image: url($icon-profile-active)

.icon-bag
  display: inline-block
  @include size(24px, 24px)
  background-image: url($icon-bag)
  background-repeat: no-repeat
  vertical-align: middle
  &.active
    background-image: url($icon-bag-active)

.icon-bell
  display: inline-block
  @include size(24px, 24px)
  background-image: url($icon-bell)
  background-repeat: no-repeat
  vertical-align: middle
  &.active
    background-image: url($icon-bell-active)

.icon-saldo
  display: inline-block
  @include size(24px, 24px)
  background-image: url($icon-saldo)
  background-repeat: no-repeat
  vertical-align: middle

.icon-list-lg
  display: inline-block
  @include size(24px, 24px)
  background-image: url($icon-list-lg)
  background-repeat: no-repeat
  vertical-align: middle

.icon-toko
  display: inline-block
  @include size(24px, 24px)
  background-image: url($icon-toko)
  background-repeat: no-repeat
  vertical-align: middle

.icon-search
  display: inline-block
  @include size(18px, 18px)
  background-image: url($icon-search)
  background-repeat: no-repeat
  vertical-align: middle
  &.white
    background-image: url($icon-search-white)

.icon-arrow-left
  display: inline-block
  @include size(24px, 24px)
  background-image: url($icon-arrow-left)
  background-repeat: no-repeat
  vertical-align: middle
  &.black
    background-image: url($icon-arrow-left-black)

.icon-trash
  display: inline-block
  @include size(24px, 24px)
  background-image: url($icon-trash)
  background-repeat: no-repeat
  vertical-align: middle

.icon-selected-sign
  display: inline-block
  @include size(24px, 24px)
  background-image: url($icon-selected-sign)
  background-repeat: no-repeat
  vertical-align: middle

.icon-grid-view
  display: inline-block
  @include size(24px, 24px)
  background-image: url($icon-grid-view)
  background-repeat: no-repeat
  vertical-align: middle

.icon-filter
  display: inline-block
  @include size(24px, 24px)
  background-image: url($icon-filter)
  background-repeat: no-repeat
  vertical-align: middle

.icon-arrow-down
  display: inline-block
  @include size(24px, 24px)
  background-image: url($icon-arrow-down)
  background-repeat: no-repeat
  vertical-align: middle

.icon-close
  display: inline-block
  @include size(24px, 24px)
  background-image: url($icon-close)
  background-repeat: no-repeat
  vertical-align: middle
  &.white
    background-image: url($icon-close-white)

.icon-close-success
  display: inline-block
  @include size(24px, 24px)
  background-image: url($icon-close-sucsess)
  background-repeat: no-repeat
  vertical-align: middle

.icon-comment
  display: inline-block
  @include size(24px, 24px)
  background-image: url($comment-icon)
  background-repeat: no-repeat
  vertical-align: middle
  &.black
    background-image: url($icon-comment-black)

.icon-comment-sticky
  display: inline-block
  @include size(36px, 36px)
  background-image: url($comment-sticky-icon)
  background-repeat: no-repeat
  vertical-align: middle

.icon-verify
  display: inline-block
  @include size(40px, 40px)
  background-image: url($verify-icon)
  background-repeat: no-repeat
  vertical-align: middle

.icon-plus
  display: inline-block
  @include size(24px, 24px)
  background-image: url($icon-plus)
  background-repeat: no-repeat
  vertical-align: middle

.icon-catalog
  display: inline-block
  @include size(24px, 24px)
  background-image: url($icon-catalog)
  background-repeat: no-repeat
  vertical-align: middle