// Override variables here
@import "../../node_modules/bulma/sass/utilities/initial-variables"
@import 'mixin'
@import 'fonts'

$family-primary: $nunito-regular;

$red: #ef5656

$primary: $red
$black: #000000
$white: #ffffff

$color_text: #41475e
$color_grey: #ebf2fc
$color_link: #56aaef
$color_border: #dedede
$color_input: #a0a3ae
$color_radio: #404852