// Override variables here
@import "../../node_modules/bulma/sass/utilities/initial-variables"
@import 'mixin'
@import 'fonts'

$family-primary: $nunito-regular

$icon-computer: '../../images/komuto-icon/015_categories_computer.svg'
$icon-sport: '../../images/komuto-icon/016_categories_sport.svg'
$icon-office: '../../images/komuto-icon/017_categiries_office.svg'
$icon-kitchen: '../../images/komuto-icon/018_categories_kitchen.svg'
$icon-baby: '../../images/komuto-icon/019_categories_baby.svg'
$icon-tv: '../../images/komuto-icon/020_categories_tv.svg'
$icon-arrow-right: '../../images/komuto-icon/014_arow_right.svg'
$icon-verified: '../../images/komuto-icon/013_verified.svg'
$icon-unverified: '../../images/komuto-icon/021_unverified.svg'
$icon-wishlist: '../../images/komuto-icon/008_wishlist.svg'
$icon-wishlisted: '../../images/komuto-icon/022_wishlisted.svg'
$icon-sort: '../../images/komuto-icon/011_sort.svg'
$icon-list: '../../images/komuto-icon/007_list.svg'
$icon-home-active: '../../images/komuto-icon/023_home_active.svg'
$icon-home: '../../images/komuto-icon/006_home.svg'
$icon-profile-active: '../../images/komuto-icon/024_profil_active.svg'
$icon-profile: '../../images/komuto-icon/005_profil.svg'
$icon-bag: '../../images/komuto-icon/002_bag.svg'
$icon-bag-active: '../../images/komuto-icon/025_bag_active.svg'
$icon-bell: '../../images/komuto-icon/003_bell.svg'
$icon-bell-active: '../../images/komuto-icon/026_bell_active.svg'
$icon-saldo: '../../images/komuto-icon/027_saldo.svg'
$icon-list-lg: '../../images/komuto-icon/028_list_lg.svg'
$icon-toko: '../../images/komuto-icon/029_toko.svg'
$icon-search: '../../images/komuto-icon/010_search.svg'
$icon-arrow-left: '../../images/komuto-icon/001_arrow_left.svg'
$icon-trash: '../../images/komuto-icon/030_trash.svg'
$icon-selected-sign: '../../images/komuto-icon/031_selected_sign.svg'
$icon-grid-view: '../../images/komuto-icon/032_grid_view.svg'
$icon-filter: '../../images/komuto-icon/033_filter.svg'
$icon-arrow-left: '../../images/komuto-icon/001_arrow_left.svg'
$icon-arrow-left-black: '../../images/komuto-icon/034_arrow_left_black.svg'
$icon-arrow-down: '../../images/komuto-icon/035_arrow_down.svg'
$icon-close: '../../images/komuto-icon/036_icon_close.svg'
$icon-search-white: '../../images/komuto-icon/037_search_white.svg'
$categories-icon: '../../images/icon-category-temporary.svg'
$verify-icon: '../../images/email-need-verify.svg'
$comment-icon: '../../images/komuto-icon/038_comment.svg'
$comment-sticky-icon: '../../images/komuto-icon/039_comment_sticky.svg'
$icon-close-sucsess: '../../images/komuto-icon/040_close_success.svg'
$icon-close-white: '../../images/komuto-icon/041_close_white.svg'
$icon-plus: '../../images/komuto-icon/042_icon_plus.svg'
$icon-comment-black: '../../images/komuto-icon/043_icon_comment_black.svg'
$icon-catalog: '../../images/komuto-icon/044_daftar_katalog.svg'
$icon-time: '../../images/komuto-icon/045_time.svg'
$icon-location: '../../images/komuto-icon/046_location.svg'
$icon-calendar: '../../images/komuto-icon/047_calendar.svg'
$icon-favorite: '../../images/komuto-icon/048_favorite.svg'
$icon-note: '../../images/komuto-icon/049_note.svg'
$icon-star-grey: '../../images/komuto-icon/050_star-grey.svg'
$icon-star-yellow: '../../images/komuto-icon/051_star_yellow.svg'
$icon-dots: '../../images/komuto-icon/052_dots.svg'
$icon-white-love: '../../images/komuto-icon/053_white_love.svg'
$icon-cart: '../../images/komuto-icon/054_shopping_cart.svg'
$icon-fb: '../../images/komuto-icon/055_fb.svg'
$icon-qty-min: '../../images/komuto-icon/056_qty_min.svg'
$icon-qty-plus: '../../images/komuto-icon/057_qty_plus.svg'
$icon-share: '../../images/komuto-icon/058_share.svg'
$icon-warning: '../../images/komuto-icon/059_warning.svg'
$icon-arrow-down-blue: '../../images/komuto-icon/060_arrow_down_blue.svg'
$icon-arrow-top-blue: '../../images/komuto-icon/062_arrow_top_blue.svg'
$icon-info-blue: '../../images/komuto-icon/061_informasi_blue.svg'
$icon-gear: '../../images/komuto-icon/063_icon_gear.svg'
$icon-register: '../../images/komuto-icon/064_icon_daftar_produk.svg'
$icon-bag2: '../../images/komuto-icon/065_icon_bag2.svg'
$icon-chat: '../../images/komuto-icon/066_icon_chat.svg'
$icon-discuss: '../../images/komuto-icon/067_icon_discuss.svg'
$icon-review: '../../images/komuto-icon/068_icon_direview.svg'
$icon-help: '../../images/komuto-icon/069_icon_help.svg'
$icon-solid-wishlist: '../../images/komuto-icon/070_solid_wishlist.svg'
$icon-upload-product: '../../images/komuto-icon/071_upload_produk_baru.svg'
$icon-upload-dropshipper: '../../images/komuto-icon/072_upload_dropshipper.svg'
$icon-cross-circle: '../../images/komuto-icon/073_icon_cross_circle.svg'
$icon-add-big: '../../images/komuto-icon/074_add_big_white.svg'
$icon-discount-sign: '../../images/komuto-icon/075_discount_sign.svg'
$icon-grosir-sign: '../../images/komuto-icon/076_grosir_sign.svg'
$icon-notif: '../../images/komuto-icon/078_notif.svg'
$icon-logout: '../../images/komuto-icon/077_logout.svg'
$icon-pass: '../../images/komuto-icon/079_pass.svg'
$icon-data-address: '../../images/komuto-icon/080_data_address.svg'
$icon-rekening: '../../images/komuto-icon/081_rekening.svg'
$icon-nohp: '../../images/komuto-icon/082_nohp.svg'
$icon-biodata: '../../images/komuto-icon/083_biodata.svg'
$icon-info-toko: '../../images/komuto-icon/084_informasi_toko.svg'
$icon-ekspedisi: '../../images/komuto-icon/085_icon_ekspedisi.svg'
$icon-katalog: '../../images/komuto-icon/086_icon_katalog.svg'
$icon-tc: '../../images/komuto-icon/087_icon_tc.svg'
$icon-ya: '../../images/komuto-icon/088_icon_ya_green.png'
$icon-tidak: '../../images/komuto-icon/089_icon_tidak_-red.png'
$icon-ya-white: '../../images/komuto-icon/090_icon_ya_white.png'
$icon-tidak-white: '../../images/komuto-icon/091_icon_tidak_white.png'
$icon-amplop: '../../images/komuto-icon/092_icon_amplop.svg'
$icon-star: '../../images/komuto-icon/093_icon_star_line.svg'
$icon-isi-saldo: '../../images/komuto-icon/094_icon_isi_saldo.svg'
$icon-tarik-saldo: '../../images/komuto-icon/095_icon_tarik_saldo.svg'
$icon-trash-white: '../../images/komuto-icon/096_icon_trash_white.svg'

$red: #ef5656

$primary: #56aaef
$black: #000000
$white: #ffffff
$green: #47bf7e
$yellow: #ea8c2f
$purple: #c36ce8
$success_bg: #e0fae7
$success_text: #45a35f
$danger_bg: #ff9c9c
$danger_text: #e4172d
$notif_payment: #fff2d7
$notif_payment_expiry: rgba(239, 86, 86, 0.05)
$digit_color: #d59515
$dropship_color: #3093e4
$dropship_color_item: #44b979
$dropship_bg_color: #ddf0ff
$dropship_bg_color_item: #e4f6ec
$item_active: #f1f5fa
$waiting: #f4bc50
$bg_notif_admin: #f6f9ff
$bg_icon_notif_admin: rgba(71, 191, 126, 0.1)

$color_text: #41475e
$color_text_desc: #666666
$color_grey: #ebf2fc
$color_grey_bg: #f4f5f6
$color_border: #dedede
$color_border_ccc: #cccccc
$color_input: #a0a3ae
$color_radio: #404852
$color_fb: #23599c
$color_seller_grey: #a0a3ae
$color_shadow: #da4b4b
$color_bg: #f4f5f6
$color_bg_detail: #f9fbfc
$saldo_bg_detail: #fbfbfb
$color_bg_verification: #fff8e8
$color_border_check: #dadada
$color_border_tab: #e9e9e9
$color_border_rete: #dddddd
$color_border_pay: #efefef
$color_voucer: #489b66
$bg_voucer_header: #edf3f8
$bg_msg_token: #ebf2fb
$color_msg_token: #6ca2e8
$color_border_seller: rgba(183, 183, 183, 0.2)
$color_shadow_categories: rgba(60, 108, 156, 0.07)
$color_shadow_discuss: #eaebeb
$color_shadow_comment: rgba(234, 234, 235, 0.3)
$color_shadow_floating: rgba(64, 72, 82, 0.3)
$color_shadow_sticky1: rgba(0, 0, 0, 0.24)
$color_shadow_sticky2: rgba(0, 0, 0, 0.12)
$color_overlay: rgba(0, 0, 0, 0.8)
$color_step: #edf7ff
$color_add: #e3e7ea
$color_bullet: #d4d4d8
$color_bg_slide: #009688
$color_bg_toggleslide: #7fcac3
$shadow_step: 2px 4px 0 rgba(234, 234, 235, 0.3)
$shadow_toggle: 0 1px 1px 0 rgba(0, 0, 0, 0.24), 0 0 1px 0 rgba(0, 0, 0, 0.12)
$tag-info: rgba(86, 170, 239, 0.15)
$slide-grey: #f1f1f1
$overlay: rgba(117, 117, 117, 0.74)

$shadow_add: 0 2px 6px 0 #ebeff3
$shadow_box: 0 2px 6px 0 $color_shadow_discuss
$shadow_search: 0 3px 4px 0 $color_shadow
$shadow_floating:  0 5px 5px 0 $color_shadow_floating
$shadow_confirm:  0 8px 15px 0 $color_shadow_floating
$shadow_modal_head: 0 0.5px 0 0 $color_border
$shadow_categories: 0 2px 8px 0 $color_shadow_categories
$shadow_discuss:  0 0.5px 0 0 $color_shadow_discuss
$color_bg_overlay: rgba(38, 39, 41, 0.9)
$shadow_comment: 0 2px 4px 0 $color_shadow_comment
$shadow_sticky: 0 12px 12px 0 $color_shadow_sticky1, 0 0 12px 0 $color_shadow_sticky2
$shadow_detail:  0 2px 3px 0 $color_shadow_discuss
$bg_linear:  linear-gradient(to bottom, #404852, rgba(64, 72, 82, 0))
$screen-xs-min: 480px
$shadow-modal-head:  0 2px 6px 0 #eaedef
$shadow-option-dropdown:  0 5px 20px 0 rgba(0, 0, 0, 0.15)
